In [3]:
from betting_functions import get_url_json
import tls_client
import random
from bs4 import BeautifulSoup
import pandas as pd
import time

In [4]:
acronyms = pd.read_csv('acronyms',index_col=0).Acr.values

In [9]:
soup = get_url_soup(f'https://www.basketball-reference.com/leagues/NBA_2024_per_game.html')

# Find all <td> elements with the 'data-append-csv' attribute
td_elements = soup.find_all('td', {'data-append-csv': True})

# Create empty lists to store the extracted data
data_append_csv_list = []
player_name_list = []

# Loop through the <td> elements
for td_element in td_elements:
    data_append_csv = td_element['data-append-csv']
    player_name = td_element.find('a').text
    data_append_csv_list.append(data_append_csv)
    player_name_list.append(player_name)

# Print the extracted data
player_codes = []
for data, name in zip(data_append_csv_list, player_name_list):
    player_codes.append([name,data])

In [10]:
pd.DataFrame(player_codes,columns=['name','code']).to_csv()

                         name       code
0            Precious Achiuwa  achiupr01
1                 Bam Adebayo  adebaba01
2                Ochai Agbaji  agbajoc01
3    Nickeil Alexander-Walker  alexani01
4               Grayson Allen  allengr01
..                        ...        ...
331            Christian Wood   woodch01
332              Delon Wright  wrighde01
333                Trae Young  youngtr01
334            Omer Yurtseven  yurtsom01
335               Ivica Zubac  zubaciv01

[336 rows x 2 columns]