In [4]:
#imports and scraping raw data from site
#df is the actual betting line
#df2 has other info, mostly using to get player id to name dict

from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime as dt
import requests
import json
import tls_client
from unidecode import unidecode
import time

In [6]:
headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'en-US,en;q=0.9',
    'cache-control': 'no-cache',
    'pragma': 'no-cache',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Google Chrome";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'none',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
}

requests = tls_client.Session(
    client_identifier="chrome112",
)

response1 = requests.get('https://api.prizepicks.com/projections')

prizepicks = response1.json()

In [11]:
df = pd.json_normalize(prizepicks,record_path='data')
df

,type,id,attributes.board_time,attributes.custom_image,attributes.description,attributes.discount_percentage,attributes.end_time,attributes.flash_sale_line_score,attributes.is_promo,attributes.line_score,...,relationships.league.data.type,relationships.league.data.id,relationships.new_player.data.type,relationships.new_player.data.id,relationships.projection_type.data.type,relationships.projection_type.data.id,relationships.stat_type.data.type,relationships.stat_type.data.id,relationships.duration.data.type,relationships.duration.data.id
0,projection,1607576,2023-10-03T15:00:00-04:00,https://imgur.com/biyDVTG.png,PHI,18.0,2023-10-03T18:30:00-04:00,4.5,True,5.5,...,league,2,new_player,69805,projection_type,2,stat_type,311,NaN,NaN
1,projection,1404500,2023-06-21T23:00:00-04:00,None,2023-2024 Season,NaN,None,NaN,False,6.8,...,league,173,new_player,53241,projection_type,2,stat_type,395,NaN,NaN
2,projection,1607129,2023-10-01T15:00:00-04:00,None,LVA,NaN,None,NaN,False,3.5,...,league,3,new_player,141538,projection_type,2,stat_type,20,NaN,NaN
3,projection,1607462,2023-08-27T14:00:00-04:00,None,J. Sinner (Beijing),NaN,None,NaN,False,9.5,...,league,244,new_player,94976,projection_type,2,stat_type,325,NaN,NaN
4,projection,1607461,2023-08-27T14:00:00-04:00,None,J. Sinner (Beijing),NaN,None,NaN,False,9.5,...,league,244,new_player,94976,projection_type,2,stat_type,324,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,projection,1605698,2023-10-02T17:04:24-04:00,None,Imperial,NaN,None,NaN,False,9.0,...,league,124,new_player,20096,projection_type,2,stat_type,337,NaN,NaN
877,projection,1605699,2023-10-02T17:04:24-04:00,None,Imperial,NaN,None,NaN,False,16.5,...,league,124,new_player,78129,projection_type,2,stat_type,337,NaN,NaN
878,projection,1605700,2023-10-02T17:04:24-04:00,None,Imperial,NaN,None,NaN,False,18.0,...,league,124,new_player,62441,projection_type,2,stat_type,337,NaN,NaN
879,projection,1605701,2023-10-02T17:04:24-04:00,None,Imperial,NaN,None,NaN,False,17.0,...,league,124,new_player,51044,projection_type,2,stat_type,337,NaN,NaN
880,projection,1605702,2023-10-02T17:04:24-04:00,None,Imperial,NaN,None,NaN,False,12.5,...,league,124,new_player,20095,projection_type,2,stat_type,337,NaN,NaN

In [13]:
df2 = pd.json_normalize(prizepicks,record_path='included')
df2.head(3)

,type,id,attributes.combo,attributes.display_name,attributes.image_url,attributes.league,attributes.league_id,attributes.market,attributes.name,attributes.position,...,relationships.league.data.id,attributes.lfg_ignored_leagues,attributes.rank,attributes.active,attributes.f2p_enabled,attributes.icon,attributes.last_five_games_enabled,attributes.league_icon_id,attributes.projections_count,relationships.projection_filters.data
0,new_player,162368,False,Tyus Jones,https://static.prizepicks.com/images/players/n...,NBASZN,173.0,None,Tyus Jones,PG,...,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,new_player,42794,False,prosus,https://i.imgur.com/pn5ljs6.png,CSGO,124.0,None,prosus,G,...,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,stat_type,44,NaN,NaN,NaN,NaN,NaN,NaN,Pass TDs,NaN,...,NaN,[],6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df2.drop(df2.columns[df2.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [15]:
#getting names dict from df2
display(df2.head())
names = df2[['type','id', 'attributes.name']]
names = names.loc[names['type']=='new_player']
names = names[['id','attributes.name']]

name = names['attributes.name'].tolist()
id = names['id'].tolist()

names_dict = {id[i]: name[i] for i in range(len(name))}

names_dict

,type,id,attributes.combo,attributes.display_name,attributes.image_url,attributes.league,attributes.league_id,attributes.market,attributes.name,attributes.position,...,relationships.league.data.id,attributes.lfg_ignored_leagues,attributes.rank,attributes.active,attributes.f2p_enabled,attributes.icon,attributes.last_five_games_enabled,attributes.league_icon_id,attributes.projections_count,relationships.projection_filters.data
0,new_player,162368,False,Tyus Jones,https://static.prizepicks.com/images/players/n...,NBASZN,173.0,None,Tyus Jones,PG,...,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,new_player,42794,False,prosus,https://i.imgur.com/pn5ljs6.png,CSGO,124.0,None,prosus,G,...,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,stat_type,44,NaN,NaN,NaN,NaN,NaN,NaN,Pass TDs,NaN,...,NaN,[],6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,new_player,151733,False,Sergio Canales,https://s3-us-west-2.amazonaws.com/static.fant...,SOCCER,82.0,CF Monterrey,Sergio Canales,Midfielder,...,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,new_player,76146,False,Brad Marchand,https://static.prizepicks.com/images/players/n...,NHLSZN,236.0,None,Brad Marchand,F,...,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

{'162368': 'Tyus Jones',
 '42794': 'prosus',
 '151733': 'Sergio Canales',
 '76146': 'Brad Marchand',
 '143530': 'Victor Wembanyama',
 '4259': 'Cristian Garin',
 '149134': 'Jace Peterson',
 '79555': 'Bam Adebayo',
 '147612': 'Jake Burger',
 '76172': 'Jacob Markstrom',
 '150697': 'Terry McLaurin',
 '76117': 'Auston Matthews',
 '15712': 'Jin Hyuk No',
 '150690': 'Brock Purdy',
 '149934': 'Pablo González',
 '170164': 'Filip Ugrinic',
 '152548': 'Dameon Pierce',
 '150232': 'Federico Bernardeschi',
 '150564': 'André-Pierre Gignac',
 '149442': 'Luis Romo',
 '150406': 'Emanuel Gularte',
 '150402': 'Federico Lértora',
 '3357': ' Grant Dawson',
 '49940': 'b0denmaster',
 '150530': 'Julián Quiñones',
 '76068': 'Connor Hellebuyck',
 '169923': 'malibu',
 '70925': 'Choi Hyoung-woo',
 '15692': 'Sang-su Kim',
 '150667': 'Amon-Ra St. Brown',
 '160308': 'Asier Illarramendi',
 '87419': 'Josh Giddey',
 '169926': 'dodonut',
 '70923': 'Park Chan-ho',
 '150684': 'Bijan Robinson',
 '15405': 'PlesseN',
 '160951': 'Cedric Itten',
 '169869': 'Luka Gavran',
 '169907': 'Trea Turner + Jorge Soler',
 '170173': 'Ruan',
 '150373': 'Juan Escobar',
 '76298': 'Timo Meier',
 '162359': 'Chet Holmgren ',
 '169922': 'xann',
 '169858': 'Zack Wheeler + Jesús Luzardo',
 '150693': 'Deebo Samuel',
 '149938': 'Gastón Silva',
 '150380': 'Duván Vergara',
 '162363': 'Kevon Looney',
 '162364': 'Evan Mobley',
 '150534': 'Álex Zendejas',
 '63484': 'Jaume Munar',
 '146898': 'PowerPixele',
 '58326': 'Roman Josi',
 '153520': 'avid',
 '149773': 'Cucho Hernández',
 '53256': 'Nikola Vucevic',
 '76121': 'Jordan Kyrou',
 '150666': 'Isiah Pacheco',
 '170168': 'Owen Wijndal',
 '151695': 'Gabriel Fernández',
 '76265': 'Artemi Panarin',
 '169516': 'Cole Perfetti',
 '76051': 'Carter Hart',
 '146909': 'akaL4CE',
 '58216': 'Sidney Crosby',
 '149908': 'Juan Dinenno',
 '15224': 'VINI',
 '79575': 'RJ Barrett',
 '67175': 'Ricardo Sánchez',
 '76271': 'Aleksander Barkov',
 '53257': 'Karl-Anthony Towns',
 '151185': 'Antonio Rodríguez',
 '76070': 'Kyle Connor',
 '76276': 'Sergei Bobrovsky',
 '58494': 'Nikita Kucherov',
 '78129': 'Grizz',
 '141541': 'Breanna Stewart',
 '15236': 'mantuu',
 '51044': 'chop',
 '20095': 'ben1337',
 '146908': 'rise',
 '160356': 'Kyren Williams',
 '20146': 'Iga Swiatek',
 '153395': 'Alex Bono',
 '149917': 'Lisandro Magallán',
 '94976': 'Daniil Medvedev',
 '65213': 'Sabrina Ionescu',
 '140689': 'Brandon Pfaadt',
 '148341': 'Adin Hill',
 '154309': 'Zay Flowers',
 '25010': 'Goofy',
 '150567': 'Fernando Gorriarán',
 '76249': 'Jack Hughes',
 '24657': 'Joaquin Buckley',
 '169358': 'Erik Karlsson',
 '65168': 'Jackie Young',
 '151681': 'Nkosi Tafari',
 '75711': 'Matty Beniers',
 '75936': 'Vitek Vanecek',
 '160949': 'Sandro Lauper',
 '79586': 'Wendell Carter Jr.\t',
 '53253': 'Rudy Gobert',
 '138040': 'Cristian Pache',
 '146918': 'unstable',
 '160892': 'Marko Stamenic',
 '150516': 'Nick Lima',
 '149778': 'Darlington Nagbe',
 '153396': 'Gabriel Pirani',
 '143536': 'Shai Gilgeous-Alexander',
 '146915': 'Katarina',
 '15402': 'dycha',
 '160684': 'Omri Glazer',
 '76230': 'Igor Shesterkin',
 '162354': 'Jalen Brunson',
 '148344': 'Devon Levi',
 '160540': 'Leo Väisänen',
 '169340': 'Raúl Zúñiga',
 '76126': 'Kirill Kaprizov',
 '46413': 'Snappi',
 '160681': 'Anthony Racioppi',
 '152111': 'Andrew Farrell',
 '67527': 'Christian Yelich',
 '150665': 'Jared Goff',
 '152103': 'Dave Romney',
 '53234': 'Zach Lavine',
 '127032': 'Trea Turner',
 '15715': 'Ja Wook Koo',
 '152596': 'Adam Thielen',
 '160687': 'Jean Butez',
 '76124': 'Kevin Fiala',
 '160939': 'Jelle Bataille',
 '162361': 'Nicolas Claxton',
 '67528': 'Willy Adames',
 '152598': 'Christian Kirk',
 '150892': 'Fernando Madrigal',
 '16983': 'Krimbo',
 '160932': 'Vincent Janssen',
 '160893': 'Mirko Ivanic',
 '64356': 'Chelsea Gray',
 '152539': 'Desmond Ridder',
 '170172': 'Theodore Ku-DiPietro',
 '53252': 'Clint Capela',
 '146921': 'panini',
 '146900': 'cbui',
 '153167': "D'Andre Swift",
 '15838': 'Kylar',
 '76309': 'Steven Stamkos',
 '151866': 'Kristijan Kahlina',
 '49955': 'Thanasi Kokkinakis',
 '151666': 'Aimé Mabika',
 '169865': 'Tomás Belmonte',
 '147763': 'Mark Canha',
 '76004': 'Jake Oettinger',
 '169762': 'Luis Malagón + Carlos Moreno',
 '153572': 'Nico Collins',
 '152556': 'Khalil Herbert',
 '151175': 'Marko Ilic',
 '151864': 'Adilson Malanda',
 '149918': 'Nathan Silva',
 '17162': 'Jessica Pegula',
 '151734': 'Omar Govea',
 '150369': 'Carlos Rodríguez',
 '146899': 'keenc',
 '57671': 'Victor Hedman',
 '150728': 'Stefon Diggs',
 '169802': 'Henry Martín',
 '152957': 'Cole Kmet',
 '146901': 'florescent',
 '76002': 'Jason Robertson',
 '150521': 'Roberto de la Rosa',
 '44502': 'Yannick Hanfmann',
 '76263': 'Chris Kreider',
 '79563': 'Tyrese Haliburton',
 '76297': 'Clayton Keller',
 '150529': 'Gustavo Cabral',
 '169747': 'Kanako Murata',
 '150711': 'Tyreek Hill',
 '150696': 'James Conner',
 '16551': 'mynio',
 '127238': 'Pablo López',
 '160957': 'Taras Stepanenko',
 '151661': 'Rudy Camacho',
 '150882': 'Cole Bassett',
 '160119': 'Ricardo Monreal',
 '76264': 'Mika Zibanejad',
 '127137': 'Jazz Chisholm Jr.',
 '169879': 'Victor Hugo Silva (DWCS)',
 '70264': 'Betnijah Laney',
 '64389': "A'ja Wilson",
 '159800': 'Jesús Angulo',
 '63480': 'Matty Beniers',
 '62441': 'spek',
 '53241': 'Lebron James',
 '150375': 'Carlos Salcedo',
 '150372': 'Ignacio Rivero',
 '161031': 'Guillermo Allison',
 '150890': 'Lucas Cavallini',
 '162355': 'Paolo Banchero',
 '76007': 'Frederik Andersen',
 '149443': 'Jesús Gallardo',
 '150687': 'Trevor Lawrence',
 '152594': 'DeAndre Hopkins',
 '160542': 'Jhojan Valencia',
 '150552': 'Facundo Batista',
 '150560': 'Alán Montes',
 '153280': 'Cairo Santos',
 '75975': 'Petr Mrazek',
 '53326': 's1n',
 '141539': 'Courtney Vandersloot',
 '150524': 'Érick Sánchez',
 '69679': 'Anthony Alford',
 '160956': 'Heorhii Sudakov',
 '170169': 'Artem Bondarenko',
 '160943': 'Mohamed Ali Camara',
 '151669': 'Jonathan Osorio',
 '79568': 'Klay Thompson',
 '160129': 'Jesús Corona',
 '152060': 'Sebastián Vegas',
 '75958': 'Stuart Skinner',
 '150686': 'Drake London',
 '162365': 'Bobby Portis',
 '169920': 'Starbound',
 '76186': 'Johnny Gaudreau',
 '79562': 'Darius Garland',
 '152552': 'Travis Etienne',
 '76145': 'David Pastrnak',
 '150367': 'Uriel Antuna',
 '151698': 'Diego Lainez',
 '154321': 'Tank Dell',
 '150680': 'Ryan Tannehill',
 '150922': 'Andrés Gudiño',
 '150377': 'Gibrán Lajud',
 '160941': 'Soumaïla Coulibaly',
 '152407': 'Fernando Arce',
 '169911': 'Jorge Soler + Trea Turner + Jazz Chisholm Jr.',
 '151657': 'Malte Amundsen',
 '149777': 'Aidan Morris',
 '73988': 'Bryce Harper',
 '148345': 'Filip Gustavsson',
 '76207': 'Brayden Point',
 '169878': 'Magomed Gadzhiyasulov (DWCS)',
 '75757': 'Kaapo Kahkonen',
 '150722': 'Dak Prescott',
 '151693': 'Jordan Sierra',
 '684': 'Andy Murray',
 '75860': 'Jack Eichel',
 '148342': 'Alexandar Georgiev',
 '169930': 'soto',
 '57764': 'Jonathan Marchessault',
 '170171': 'Novatus Miroshi',
 '151676': 'Marco Farfan',
 '150528': 'Sergio Barreto',
 '160890': 'Jean-Philippe Krasso',
 '150398': 'Camilo Sanvezzo',
 '79561': "De'Aaron Fox",
 '76272': 'Jordan Binnington',
 '141538': 'Breanna Stewart',
 '147620': 'Connor Bedard',
 '162356': 'Kyle Kuzma',
 '160944': 'Saidy Janko',
 '150374': 'Willer Ditta',
 '53259': 'Jarrett Allen',
 '4415': 'Drew Dober',
 '74595': 'Corbin Carroll',
 '152597': 'Michael Pittman Jr.',
 '2891': 'tabseN',
 '149774': 'Diego Rossi',
 '53242': 'Anthony Davis',
 '76305': 'Cole Caufield',
 '76111': 'Brady Tkachuk',
 '76281': 'Connor McDavid',
 '150382': 'Juan Brunetta',
 '79557': 'Cade Cunningham',
 '140690': 'Brandon Pfaadt',
 '162358': 'Bojan Bogdanovic',
 '162719': 'Zack Wheeler + Corbin Burnes',
 '149933': 'Kevin Velasco',
 '160889': 'Osman Bukari',
 '160934': 'Arbnor Muja',
 '152104': 'Carles Gil',
 '150886': 'Andreas Maxsø',
 '150895': 'Diego Barbosa',
 '149919': 'Pedro Raul',
 '64358': 'Sabrina Ionescu',
 '53245': 'Russell Westbrook',
 '76058': 'Joonas Korpisalo',
 '76075': 'Nathan MacKinnon',
 '124346': 'Zhizhen Zhang',
 '169898': 'Corbin Carroll + Christian Yelich',
 '76246': 'Nico Hischier',
 '150670': 'Justin Jefferson',
 '56616': 'Nertz',
 '161473': 'Igor Lichnovsky',
 '150887': 'Andrew Gutman',
 '161483': 'Sam Junqua',
 '149909': 'Eduardo Salvio',
 '76155': 'Dylan Larkin',
 '152769': 'Sam LaPorta',
 '150657': 'Patrick Mahomes',
 '15837': 'KEi',
 '53233': 'Trae Young',
 '169861': 'Brandon Pfaadt + Corbin Burnes',
 '169357': 'Taylor Hall',
 '150371': 'Rodrigo Huescas',
 '150234': 'Kobe Franklin',
 '160541': 'Emiliano Rigoni',
 '150515': 'Daniel Pereira',
 '151397': 'Pedro Aquino',
 '152595': 'Michael Thomas',
 '150716': 'D.J. Moore',
 '76261': 'Sam Reinhart',
 '3857': 'Ion Cutelaba',
 '57670': 'Steven Stamkos',
 '15771': 'Bae Je-seong',
 '149451': 'Sigurd Rosted',
 '69032': 'Jorge Soler',
 '146905': 'bunny bee',
 '150701': 'A.J. Brown',
 '169804': 'Javier López',
 '152144': 'Rafael Navarro',
 '150514': 'Owen Wolff',
 '150923': 'Díber Cambindo',
 '127217': 'Corbin Burnes',
 '76053': 'Karel Vejmelka',
 '169931': 'avery',
 '152102': 'Earl Edwards Jr.',
 '3654': 'Karolina Kowalkiewicz',
 '75970': 'Brock Nelson',
 '67233': 'Choi Sung-young',
 '20096': 'PwnAlone',
 '170165': 'Cheikh Niasse',
 '76116': 'John Tavares',
 '53237': 'Kevin Durant',
 '143533': 'Bradley Beal',
 '146902': 'sarahcat',
 '15721': 'Min Ho Kang',
 '151738': 'Esteban Andrada',
 '149922': 'Marcel Ruiz',
 '44482': 'Mackenzie McDonald',
 '87022': 'Zack Wheeler',
 '76185': 'Elvis Merzlikins',
 '76211': 'John Gibson',
 '17086': 'Liudmila Samsonova',
 '150920': 'Marino Hinestroza',
 '150434': 'Donovan Pines',
 '76076': 'Mikko Rantanen',
 '75882': 'Pheonix Copley',
 '15693': 'Kim Jun-tae',
 '162662': 'Calvin Harris',
 '152110': 'Tomás Chancalay',
 '169857': 'Hugo Rodríguez',
 '150385': 'Omar Campos',
 '148343': 'Darcy Kuemper',
 '160935': 'Jurgen Ekkelenkamp',
 '150231': 'Lorenzo Insigne',
 '286': 'Marton Fucsovics',
 '67602': 'Ketel Marte',
 '169928': 'it not han',
 '141540': 'Jonquel Jones',
 '150527': 'Miguel Rodríguez',
 '53226': 'Luka Doncic',
 '79574': 'Julius Randle',
 '68120': 'Corbin Burnes',
 '76132': 'Linus Ullmark',
 '70922': 'Socrates Brito',
 '15723': 'Jeong Choi',
 '169864': 'Juan Gamboa',
 '150563': 'Nahuel Guzmán',
 '150566': 'Sebastián Córdova',
 '127136': 'Luis Arraez',
 '149915': 'Adrián Aldrete',
 '152444': 'Diego Reyes',
 '146788': 'Niko Goodrum',
 '152105': 'Mark-Anthony Kaye',
 '147445': 'Bryce Harper + Luis Arraez',
 '153176': 'Kyle Pitts',
 '44459': 'Brandon Nakashima',
 '53238': 'Devin Booker',
 '150918': 'Alexis Peña',
 '15226': 'HEN1',
 '150511': 'Ethan Finlay',
 '149929': 'Tiago Volpi',
 '79558': 'DeMar DeRozan',
 '76251': 'Rasmus Dahlin',
 '169356': 'Connor Bedard',
 '58898': 'Evgeni Malkin',
 '160688': 'Dmytro Riznyk',
 '170166': 'Ulisses Garcia',
 '76274': 'Juuse Saros',
 '57980': 'Filip Forsberg',
 '150682': 'Derrick Henry',
 '162347': 'Donovan Mitchell',
 '169867': 'McKinze Gaines',
 '149913': 'Ulíses Rivas',
 '38504': 'Qileng Aori',
 '57896': 'Jared McCann',
 '69805': 'Jesús Luzardo',
 '160887': 'Aleksandar Dragovic',
 '150668': 'Travis Kelce',
 '160940': 'Toby Alderweireld',
 '150399': 'Pablo Barrera',
 '169921': 'lazylion',
 '150727': 'Garrett Wilson',
 '150388': 'Félix Torres',
 '149935': 'Diego de Buen',
 '169873': 'Matt Polster',
 '151674': 'Facundo Quignon',
 '88387': 'Lorri',
 '169927': 'mle',
 '152746': 'Jordi Cortizo',
 '141543': 'Courtney Vandersloot',
 '79560': 'Anthony Edwards',
 '169924': 'karie',
 '88382': 'meL',
 '60079': 'Jack Eichel',
 '169877': 'Raimond Magomedaliev\t (DWCS)',
 '150715': 'Justin Fields',
 '76175': 'Elias Lindholm',
 '79572': 'Jordan Poole',
 '68512': 'Nick Fortes',
 '146911': 'Karra',
 '15767': 'Casey Kelly',
 '139514': 'Austin Dean',
 '150370': 'Érik Lira',
 '150893': 'Christian Rivera',
 '70411': 'felps',
 '150401': 'Kevin Escamilla',
 '76080': 'Cale Makar',
 '76095': 'Sidney Crosby',
 '151730': 'Rogelio Funes Mori',
 '150408': 'Carlos Moreno',
 '162578': 'CJ McCollum\t',
 '67742': 'Zack Wheeler',
 '150709': 'Tua Tagovailoa',
 '65162': "A'ja Wilson",
 '149940': 'Jesús Rodríguez',
 '76137': 'Alex DeBrincat',
 '146914': 'hannah',
 '76210': 'Thatcher Demko',
 '68494': 'Thomas Pannone',
 '69664': 'Kim In-Hwan',
 '150724': 'CeeDee Lamb',
 '4386': 'Miomir Kecmanovic',
 '160961': 'Yaroslav Rakitskyi',
 '15231': 'Maden',
 '15707': 'Min Woo Park',
 '153360': 'Anthony Richardson',
 '150673': 'Lamar Jackson',
 '169761': 'Jesús Rodríguez + Esteban Andrada',
 '150683': 'Jason Martin',
 '76101': 'Elias Pettersson',
 '49893': 'Marcos Giron',
 '127450': 'Kevin Gausman',
 '76279': 'Alex Ovechkin',
 '76283': 'Adrian Kempe',
 '150729': 'Gabriel Davis',
 '152124': 'Alonso Coello',
 '150426': 'Christian Benteke',
 '53255': 'Domantas Sabonis',
 '76200': 'Sebastian Aho',
 '169868': 'Jere Uronen',
 '149916': 'Julio González',
 '57951': 'Brayden Point',
 '160954': 'Oleksandr Zubkov',
 '53227': 'Stephen Curry',
 '67256': 'Kim Kwang-hyun',
 '152820': 'Antonio Gibson',
 '150898': 'Kevin Balanta',
 '160936': 'Arthur Vermeeren',
 '150553': 'Brayan Garnica',
 '76280': 'Leon Draisaitl',
 '28286': 'Yoshihito Nishioka',
 '64359': 'Betnijah Laney',
 '150713': 'Jaylen Waddle',
 '150695': 'George Kittle',
 '44457': 'Arthur Rinderknech',
 '150366': 'Moisés',
 '150381': 'Emerson Rodríguez',
 '150894': 'Alejandro Martínez',
 '147626': 'Adam Fantilli',
 '15703': 'Ah-Seop Son',
 '150704': 'Russell Wilson',
 '152958': 'Darnell Mooney',
 '152145': 'Diego Rubio',
 '150431': 'Russell Canouse',
 '79506': 'Mateus Mendonça\t',
 '169901': 'Ketel Marte + William Contreras',
 '152600': 'Brandon Aiyuk',
 '160950': 'Meschack Elia',
 '153393': 'Mateusz Klich',
 '150403': 'Omar Mendoza',
 '149925': 'Brian García',
 '53254': 'Jonas Valanciunas',
 '79567': 'Keldon Johnson',
 '44466': 'Elena Rybakina',
 '160137': 'Jonathan Rodríguez',
 '139515': 'Eun-seong Chae',
 '149523': 'Brad Stuver',
 '75965': 'Ville Husso',
 '152549': 'Joe Mixon',
 '151856': 'Karol Swiderski',
 '75867': 'Tyler Toffoli',
 '15702': 'Jun Woo Jeon',
 '65166': 'Kelsey Plum',
 '151677': 'Jesús Ferreira',
 '67940': 'Alec Bohm',
 '76024': 'Roope Hintz',
 '150570': 'Javier Aquino',
 '146903': 'Noia',
 '146912': 'Jazzyk1ns',
 '15408': 'robiin',
 '53244': 'Nikola Jokic',
 '149937': 'Brayan Angulo',
 '150921': 'Elías Montiel',
 '88384': 'flowerful',
 '696': 'Daniil Medvedev',
 '76030': 'Tristan Jarry',
 '169866': 'Enzo Copetti',
 '10878': 'JJ Aldrich',
 '150726': 'Josh Allen',
 '150430': 'Chris Durkin',
 '76143': 'Charlie McAvoy',
 '169838': 'Robert Ergas',
 '67532': 'Kyle Schwarber',
 '169910': 'Nick Williams',
 '150674': 'C.J. Stroud',
 '152602': 'Marquise Brown',
 '141537': 'Jonquel Jones',
 '151822': 'Giacomo Vrioni',
 '150698': 'Jalen Hurts',
 '151909': 'Paul Arriola',
 '143532': 'Brandon Miller ',
 '160885': 'Srdjan Mijailovic',
 '151859': 'Brandt Bronico',
 '76250': 'Tage Thompson',
 '127320': 'Jesús Luzardo',
 '149930': 'Guillermo Martínez',
 '4174': 'Stan Wawrinka',
 '150562': 'Raúl Gudiño',
 '162357': 'Terry Rozier',
 '76218': 'Philipp Grubauer',
 '150688': 'Calvin Ridley',
 '150915': 'Álvaro Fidalgo',
 '170167': 'Aurèle Amenda',
 '69666': 'Jose Pirela',
 '64391': 'Kelsey Plum',
 '169537': 'Jorge Rodríguez',
 '162362': 'Mitchell Robinson',
 '76083': 'Jeremy Swayman',
 '169925': 'mili',
 '150517': 'Alexander Ring',
 '53240': 'Kyrie Irving',
 '152143': 'Danny Wilson',
 '88385': 'sonder',
 '15220': 'boltz',
 '152553': 'Brian Robinson Jr.',
 '150550': 'Luis Malagón',
 '150518': 'Julio Cascante',
 '146913': 'rayse',
 '137907': 'Guillermo Heredia',
 '51051': 'LUCAS1',
 '65170': 'Chelsea Gray',
 '151659': 'Julian Gressel',
 '151678': 'Alan Velasco',
 '150569': 'Rafael Carioca',
 '127505': 'Joe Pyfer\t',
 '152541': 'Sam Howell',
 '64357': 'Jackie Young',
 '68146': 'Jesús Sánchez',
 '148346': 'Ilya Samsonov',
 '150705': 'Jerry Jeudy',
 '151184': 'Francisco Contreras',
 '59011': 'Taro Daniel',
 '169929': 'emluo',
 '150685': 'Bryce Young',
 '16553': 'hades',
 '125365': 'Max Purcell',
 '151396': 'Richard Sánchez',
 '151683': 'Maarten Paes',
 '69670': 'Park Seong-Han',
 '169880': 'Murtaza Talha (DWCS)',
 '76114': 'Mitch Marner',
 '150707': 'Courtland Sutton',
 '150536': 'Kevin Álvarez',
 '76181': 'Ilya Sorokin',
 '152560': 'James Cook',
 '150675': 'Mark Andrews',
 '76014': 'Nikita Kucherov',
 '162360': 'Steven Adams',
 '15175': 'twist',
 '149927': 'Andrés Mosquera',
 '53247': 'Lamelo Ball',
 '153411': 'Joey Slye',
 '15694': 'Kim Hyun-soo',
 '153820': 'Joshua Dobbs',
 '150702': 'DeVonta Smith',
 '75994': 'Trevor Zegras',
 '39388': 'SunPayus',
 '160891': 'Hwang In-Beom',
 '149779': 'Patrick Schulte',
 '150379': 'Harold Preciado',
 '39481': 'Bill Algeo',
 '149939': 'Sebastián Olmedo',
 '151861': 'Ashley Westwood',
 '150565': 'Luis Quiñones'}

In [16]:
df.head()

,type,id,attributes.board_time,attributes.custom_image,attributes.description,attributes.discount_percentage,attributes.end_time,attributes.flash_sale_line_score,attributes.is_promo,attributes.line_score,...,relationships.league.data.type,relationships.league.data.id,relationships.new_player.data.type,relationships.new_player.data.id,relationships.projection_type.data.type,relationships.projection_type.data.id,relationships.stat_type.data.type,relationships.stat_type.data.id,relationships.duration.data.type,relationships.duration.data.id
0,projection,1607576,2023-10-03T15:00:00-04:00,https://imgur.com/biyDVTG.png,PHI,18.0,2023-10-03T18:30:00-04:00,4.5,True,5.5,...,league,2,new_player,69805,projection_type,2,stat_type,311,NaN,NaN
1,projection,1404500,2023-06-21T23:00:00-04:00,None,2023-2024 Season,NaN,None,NaN,False,6.8,...,league,173,new_player,53241,projection_type,2,stat_type,395,NaN,NaN
2,projection,1607129,2023-10-01T15:00:00-04:00,None,LVA,NaN,None,NaN,False,3.5,...,league,3,new_player,141538,projection_type,2,stat_type,20,NaN,NaN
3,projection,1607462,2023-08-27T14:00:00-04:00,None,J. Sinner (Beijing),NaN,None,NaN,False,9.5,...,league,244,new_player,94976,projection_type,2,stat_type,325,NaN,NaN
4,projection,1607461,2023-08-27T14:00:00-04:00,None,J. Sinner (Beijing),NaN,None,NaN,False,9.5,...,league,244,new_player,94976,projection_type,2,stat_type,324,NaN,NaN

In [17]:
#viewing all the columns to see what i need

base = df[:-1]
base.loc[15]

type                                                      projection
id                                                           1606415
attributes.board_time                      2023-04-05T19:50:00-04:00
attributes.custom_image                                         None
attributes.description                                Mauricio Ruffy
attributes.discount_percentage                                   NaN
attributes.end_time                                             None
attributes.flash_sale_line_score                                 NaN
attributes.is_promo                                            False
attributes.line_score                                           35.5
attributes.projection_type                               Single Stat
attributes.rank                                                    1
attributes.refundable                                           True
attributes.start_time                      2023-10-03T20:10:00-04:00
attributes.stat_type                             Significant Strikes
attributes.status                                           pre_game
attributes.tv_channel                                           None
attributes.updated_at                      2023-10-02T15:29:24-04:00
relationships.duration.data                                      NaN
relationships.league.data.type                                league
relationships.league.data.id                                      12
relationships.new_player.data.type                        new_player
relationships.new_player.data.id                              169877
relationships.projection_type.data.type              projection_type
relationships.projection_type.data.id                              2
relationships.stat_type.data.type                          stat_type
relationships.stat_type.data.id                                   51
relationships.duration.data.type                                 NaN
relationships.duration.data.id                                   NaN
Name: 15, dtype: object

In [18]:
id[0:5]

['162368', '42794', '151733', '76146', '143530']

In [19]:
ids = df['relationships.new_player.data.id'].unique()
print(len(ids))

606

In [20]:
#trimming excess columns and adding actual player names

df = base[['attributes.description','attributes.line_score',
        'attributes.stat_type','relationships.new_player.data.id','relationships.league.data.id','attributes.start_time']]

df['Player'] = df['relationships.new_player.data.id'].map(names_dict)
df = df[['Player','attributes.description', 'attributes.line_score', 'attributes.stat_type','relationships.league.data.id','attributes.start_time']]

df = df.rename(columns={"attributes.description": "Team", "attributes.line_score": "Line", 
                        'attributes.stat_type':'Stat','relationships.league.data.id':'League',
                       'attributes.start_time':'Date'})

C:\Users\Shared.Westover\AppData\Local\Temp\ipykernel_11852\2042246692.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Player'] = df['relationships.new_player.data.id'].map(names_dict)

In [21]:
df.League.unique()

array(['2', '173', '3', '244', '9', '12', '193', '236', '5', '82', '231',
       '159', '8', '135', '124'], dtype=object)

In [22]:
full = df.copy(deep=True)

In [23]:
#df = df.loc[df.League=='7']
df['Date'] = df['Date'].apply(lambda x: x.split('T')[0])
df['Player'] = df['Player'].apply(lambda x: unidecode(x).replace('_',' '))
df

,Player,Team,Line,Stat,League,Date
0,Jesus Luzardo,PHI,5.5,Pitcher Strikeouts,2,2023-10-03
1,Lebron James,2023-2024 Season,6.8,Assists Per Game AVG,173,2023-10-24
2,Breanna Stewart,LVA,3.5,Assists,3,2023-10-08
3,Daniil Medvedev,J. Sinner (Beijing),9.5,2nd Set - Total Games,244,2023-10-04
4,Daniil Medvedev,J. Sinner (Beijing),9.5,1st Set - Total Games,244,2023-10-04
...,...,...,...,...,...,...
875,LUCAS1,Party Astronauts,17.0,MAPS 1-2 Headshots,124,2023-10-04
876,PwnAlone,Imperial,9.0,MAPS 1-2 Headshots,124,2023-10-04
877,Grizz,Imperial,16.5,MAPS 1-2 Headshots,124,2023-10-04
878,spek,Imperial,18.0,MAPS 1-2 Headshots,124,2023-10-04
879,chop,Imperial,17.0,MAPS 1-2 Headshots,124,2023-10-04

In [24]:
syntax = {
    'Points': 'PTS',
    'Rebs': 'TRB',
    'Asts': 'AST',
    'Rebounds': 'TRB',
    '3-PT Made': '3P',
    'Assists': 'AST',
    'Turnovers': 'TOV',
    'Blks': 'BLK',
    'Pts': 'PTS',
    'Pts+Asts': 'PTS+AST',
    'Pts+Rebs+Asts':'PTS+TRB+AST',
    'Pts+Rebs':'PTS+TRB',
    'Rebs+Asts':'TRB+AST',
    'Blks+Stls':'BLK+STL',
    'Stls': 'STL',
    'Free Throws Made': 'FT',
    'Blocked Shots': 'BLK',
    'Steals': 'STL',
    'Personal Fouls': 'PF',
    'FG Attempted': 'FGA'
}
df = df.replace(syntax)
df.Stat.unique()

array(['Pitcher Strikeouts', 'Assists Per Game AVG', 'AST',
       '2nd Set - Total Games', '1st Set - Total Games', 'Pass TDs',
       'Fantasy Score', 'Fight Time (Mins)', 'Pass Yards',
       '3rd Set - Total Games', 'Points Per Game AVG', 'Takedowns', 'PTS',
       'Rebounds Per Game AVG', 'Significant Strikes', 'TRB', 'Goals',
       'Pass+Rush+Rec TDs', 'Receiving Yards', 'Aces', 'Total Games',
       'Break Points Won', 'Rush Yards', 'Receptions',
       'Home Runs (Combo)', 'Shots', 'Tackles', 'Shots Assisted',
       'Goalie Saves', 'Passes Attempted', 'Clearances',
       'Shots On Target', 'Goalie Saves (Combo)', 'INT', 'Pass+Rush Yds',
       'Goals Allowed in First 30 Minutes', 'Pitches Thrown',
       'Hits Allowed', 'Runs Allowed', 'Kicking Points', 'FG Made',
       '3PT Made Per Game AVG', 'Hitter Fantasy Score',
       'Hits+Runs+RBIs (Combo)', 'Total Bases', '1st Inning Runs Allowed',
       'Hits+Runs+RBIS', 'Hitter Strikeouts', 'Pitching Outs',
       'Pitcher Fantasy Score', 'Walks Allowed', 'Runs', 'MAPS 1-2 Kills',
       'Goalie Wins', 'Hat Tricks', 'Shots On Goal',
       'Pitcher Strikeouts (Combo)', 'MAPS 1-2 Headshots'], dtype=object)

In [25]:
len(df)

880

In [26]:
df = df[df.Stat != 'Fantasy Score']

In [27]:
len(df)

844

In [28]:
df = df.replace('Fred VanVleet\t','Fred VanVleet')
df = df.replace('Nicolas Claxton','Nic Claxton')
df = df.replace('Robert Williams III','Robert Williams')
df = df.replace('LeBron James\t','LeBron James')
df= df.replace('KJ Martin Jr.','Kenyon Martin Jr.')
df= df.replace('Xavier Tillman','Xavier Tillman Sr.')#xav

In [29]:
df = df.reset_index(drop=True)

In [30]:
today= dt.date.today()
df.sample(5)

,Player,Team,Line,Stat,League,Date
542,Kyle Schwarber,MIA,1.5,Hitter Strikeouts,2,2023-10-03
708,Casey Kelly,Lotte Giants,6.0,Hits Allowed,135,2023-10-04
385,Pablo Lopez,TOR 4th Inning,0.5,Hits Allowed,231,2023-10-03
555,Corbin Burnes,ARI,4.0,Hits Allowed,2,2023-10-03
47,Kelsey Plum,NYL 1st Half,9.0,PTS,193,2023-10-08

In [31]:
f'lines{today.month}_{today.day}'

'lines10_3'

In [32]:
nba = df.loc[df.League=='7']
nba.to_csv(f'Lines/lines{today.month}_{today.day}')

In [33]:
pd.option_context('display.max_columns', 5)
df

,Player,Team,Line,Stat,League,Date
0,Jesus Luzardo,PHI,5.5,Pitcher Strikeouts,2,2023-10-03
1,Lebron James,2023-2024 Season,6.8,Assists Per Game AVG,173,2023-10-24
2,Breanna Stewart,LVA,3.5,AST,3,2023-10-08
3,Daniil Medvedev,J. Sinner (Beijing),9.5,2nd Set - Total Games,244,2023-10-04
4,Daniil Medvedev,J. Sinner (Beijing),9.5,1st Set - Total Games,244,2023-10-04
...,...,...,...,...,...,...
839,LUCAS1,Party Astronauts,17.0,MAPS 1-2 Headshots,124,2023-10-04
840,PwnAlone,Imperial,9.0,MAPS 1-2 Headshots,124,2023-10-04
841,Grizz,Imperial,16.5,MAPS 1-2 Headshots,124,2023-10-04
842,spek,Imperial,18.0,MAPS 1-2 Headshots,124,2023-10-04
843,chop,Imperial,17.0,MAPS 1-2 Headshots,124,2023-10-04

In [34]:
df['Date'].max()

'2023-10-25'

In [52]:
df['time'] = dt.datetime.now().replace(microsecond=0,second=0)
df

,Player,Team,Line,Stat,League,Date,time
0,Jesus Luzardo,PHI,5.5,Pitcher Strikeouts,2,2023-10-03,2023-10-03 16:52:00
1,Lebron James,2023-2024 Season,6.8,Assists Per Game AVG,173,2023-10-24,2023-10-03 16:52:00
2,Breanna Stewart,LVA,3.5,AST,3,2023-10-08,2023-10-03 16:52:00
3,Daniil Medvedev,J. Sinner (Beijing),9.5,2nd Set - Total Games,244,2023-10-04,2023-10-03 16:52:00
4,Daniil Medvedev,J. Sinner (Beijing),9.5,1st Set - Total Games,244,2023-10-04,2023-10-03 16:52:00
...,...,...,...,...,...,...,...
839,LUCAS1,Party Astronauts,17.0,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00
840,PwnAlone,Imperial,9.0,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00
841,Grizz,Imperial,16.5,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00
842,spek,Imperial,18.0,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00
843,chop,Imperial,17.0,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00

In [53]:
df.to_csv(f'Lines/full_lines{today.month}_{today.day}')

In [54]:
old = pd.read_csv('Lines/full_lines10_3',index_col=0)

In [55]:
fake_new = old.copy(deep=True)

In [56]:
fake_new

,Player,Team,Line,Stat,League,Date,time
0,Jesus Luzardo,PHI,5.5,Pitcher Strikeouts,2,2023-10-03,2023-10-03 16:52:00
1,Lebron James,2023-2024 Season,6.8,Assists Per Game AVG,173,2023-10-24,2023-10-03 16:52:00
2,Breanna Stewart,LVA,3.5,AST,3,2023-10-08,2023-10-03 16:52:00
3,Daniil Medvedev,J. Sinner (Beijing),9.5,2nd Set - Total Games,244,2023-10-04,2023-10-03 16:52:00
4,Daniil Medvedev,J. Sinner (Beijing),9.5,1st Set - Total Games,244,2023-10-04,2023-10-03 16:52:00
...,...,...,...,...,...,...,...
839,LUCAS1,Party Astronauts,17.0,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00
840,PwnAlone,Imperial,9.0,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00
841,Grizz,Imperial,16.5,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00
842,spek,Imperial,18.0,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00
843,chop,Imperial,17.0,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00

In [58]:
final = pd.concat((old,fake_new))

In [59]:
final.loc[final.Player =='Grizz']

,Player,Team,Line,Stat,League,Date,time
831,Grizz,Imperial,32.5,MAPS 1-2 Kills,124,2023-10-04,2023-10-03 16:52:00
841,Grizz,Imperial,16.5,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00
831,Grizz,Imperial,32.5,MAPS 1-2 Kills,124,2023-10-04,2023-10-03 16:52:00
841,Grizz,Imperial,16.5,MAPS 1-2 Headshots,124,2023-10-04,2023-10-03 16:52:00