In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import time
import random
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests

C:\Users\User\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.14) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [143]:
url = 'https://www.basketball-reference.com/leagues/NBA_2023_games-april.html'

In [3]:
def GET_UA():
    uastrings = ["Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36",\
                "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1500.72 Safari/537.36",\
                "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10) AppleWebKit/600.1.25 (KHTML, like Gecko) Version/8.0 Safari/600.1.25",\
                "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:33.0) Gecko/20100101 Firefox/33.0",\
                "Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36",\
                "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36",\
                "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/600.1.17 (KHTML, like Gecko) Version/7.1 Safari/537.85.10",\
                "Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko",\
                "Mozilla/5.0 (Windows NT 6.3; WOW64; rv:33.0) Gecko/20100101 Firefox/33.0",\
                "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"\
                ]
 
    return random.choice(uastrings)

In [4]:
def parse_url(url):
 
    headers = {'User-Agent': GET_UA()}
    content = None
 
    try:
        response = requests.get(url, headers=headers)
        ct = response.headers['Content-Type'].lower().strip()
 
        if 'text/html' in ct:
            content = response.content
            soup = BeautifulSoup(content)
        else:
            content = response.content
            soup = None
 
    except Exception as e:
        print('Error:', str(e))
 
    return content, soup, ct

In [144]:
content, soup, ct = parse_url(url)

In [145]:
rows = soup.findAll('th')
print(len(rows))
dates = [[td.getText() for td in rows[i]]
            for i in range(11,(len(rows)))]

for i in range(len(dates)):
    dates[i] = dates[i][0]

81

In [146]:
i = 0
while i < 40:
    headers = [th.getText() for th in soup.findAll('tr', limit=40)[i].findAll('th')]
    i = i +1
    if headers:
        idx = i
        i = 41
headers = headers[1:]
print(headers)

['Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS', '\xa0', '\xa0', 'Attend.', 'Arena', 'Notes']

In [147]:
rows = soup.findAll('tr')
player_stats = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(1,len(rows))]

In [148]:
stats = pd.DataFrame(player_stats, columns = headers)

In [149]:
stats.insert(0, "Date", dates)
stats

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS,,,Attend.,Arena,Notes
0,"Sat, Apr 1, 2023",7:30p,Dallas Mavericks,,Miami Heat,,,,,FTX Arena,
1,"Sat, Apr 1, 2023",8:30p,Los Angeles Clippers,,New Orleans Pelicans,,,,,Smoothie King Center,
2,"Sun, Apr 2, 2023",1:00p,Toronto Raptors,,Charlotte Hornets,,,,,Spectrum Center,
3,"Sun, Apr 2, 2023",3:30p,Utah Jazz,,Brooklyn Nets,,,,,Barclays Center,
4,"Sun, Apr 2, 2023",3:30p,Memphis Grizzlies,,Chicago Bulls,,,,,United Center,
...,...,...,...,...,...,...,...,...,...,...,...
65,"Sun, Apr 9, 2023",3:30p,Utah Jazz,,Los Angeles Lakers,,,,,Crypto.com Arena,
66,"Sun, Apr 9, 2023",3:30p,New Orleans Pelicans,,Minnesota Timberwolves,,,,,Target Center,
67,"Sun, Apr 9, 2023",3:30p,Memphis Grizzlies,,Oklahoma City Thunder,,,,,Paycom Center,
68,"Sun, Apr 9, 2023",3:30p,Los Angeles Clippers,,Phoenix Suns,,,,,Footprint Center,
69,"Sun, Apr 9, 2023",3:30p,Golden State Warriors,,Portland Trail Blazers,,,,,Moda Center,

In [150]:
april = stats

In [133]:
feb

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS,,,Attend.,Arena,Notes
0,"Wed, Feb 1, 2023",7:00p,Portland Trail Blazers,122,Memphis Grizzlies,112,Box Score,,"14,589",FedEx Forum,
1,"Wed, Feb 1, 2023",7:00p,Orlando Magic,94,Philadelphia 76ers,105,Box Score,,"20,885",Wells Fargo Center,
2,"Wed, Feb 1, 2023",7:30p,Brooklyn Nets,96,Boston Celtics,139,Box Score,,"19,156",TD Garden,
3,"Wed, Feb 1, 2023",8:00p,Oklahoma City Thunder,106,Houston Rockets,112,Box Score,,"15,181",Toyota Center,
4,"Wed, Feb 1, 2023",8:00p,Golden State Warriors,114,Minnesota Timberwolves,119,Box Score,OT,"17,136",Target Center,
...,...,...,...,...,...,...,...,...,...,...,...
158,"Tue, Feb 28, 2023",8:00p,Sacramento Kings,,Oklahoma City Thunder,,,,,Paycom Center,
159,"Tue, Feb 28, 2023",8:30p,Indiana Pacers,,Dallas Mavericks,,,,,American Airlines Center,
160,"Tue, Feb 28, 2023",9:00p,San Antonio Spurs,,Utah Jazz,,,,,Vivint Arena,
161,"Tue, Feb 28, 2023",10:00p,Portland Trail Blazers,,Golden State Warriors,,,,,Chase Center,
162,"Tue, Feb 28, 2023",10:00p,Minnesota Timberwolves,,Los Angeles Clippers,,,,,Crypto.com Arena,

In [142]:
march

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS,,,Attend.,Arena,Notes
0,"Wed, Mar 1, 2023",7:00p,Phoenix Suns,,Charlotte Hornets,,,,,Spectrum Center,
1,"Wed, Mar 1, 2023",7:00p,Chicago Bulls,,Detroit Pistons,,,,,Little Caesars Arena,
2,"Wed, Mar 1, 2023",7:30p,Cleveland Cavaliers,,Boston Celtics,,,,,TD Garden,
3,"Wed, Mar 1, 2023",7:30p,Philadelphia 76ers,,Miami Heat,,,,,FTX Arena,
4,"Wed, Mar 1, 2023",7:30p,Brooklyn Nets,,New York Knicks,,,,,Madison Square Garden (IV),
...,...,...,...,...,...,...,...,...,...,...,...
224,"Fri, Mar 31, 2023",8:00p,Los Angeles Clippers,,Memphis Grizzlies,,,,,FedEx Forum,
225,"Fri, Mar 31, 2023",8:00p,Los Angeles Lakers,,Minnesota Timberwolves,,,,,Target Center,
226,"Fri, Mar 31, 2023",10:00p,San Antonio Spurs,,Golden State Warriors,,,,,Chase Center,
227,"Fri, Mar 31, 2023",10:00p,Sacramento Kings,,Portland Trail Blazers,,,,,Moda Center,
228,"Fri, Mar 31, 2023",10:30p,Denver Nuggets,,Phoenix Suns,,,,,Footprint Center,

In [151]:
april

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS,,,Attend.,Arena,Notes
0,"Sat, Apr 1, 2023",7:30p,Dallas Mavericks,,Miami Heat,,,,,FTX Arena,
1,"Sat, Apr 1, 2023",8:30p,Los Angeles Clippers,,New Orleans Pelicans,,,,,Smoothie King Center,
2,"Sun, Apr 2, 2023",1:00p,Toronto Raptors,,Charlotte Hornets,,,,,Spectrum Center,
3,"Sun, Apr 2, 2023",3:30p,Utah Jazz,,Brooklyn Nets,,,,,Barclays Center,
4,"Sun, Apr 2, 2023",3:30p,Memphis Grizzlies,,Chicago Bulls,,,,,United Center,
...,...,...,...,...,...,...,...,...,...,...,...
65,"Sun, Apr 9, 2023",3:30p,Utah Jazz,,Los Angeles Lakers,,,,,Crypto.com Arena,
66,"Sun, Apr 9, 2023",3:30p,New Orleans Pelicans,,Minnesota Timberwolves,,,,,Target Center,
67,"Sun, Apr 9, 2023",3:30p,Memphis Grizzlies,,Oklahoma City Thunder,,,,,Paycom Center,
68,"Sun, Apr 9, 2023",3:30p,Los Angeles Clippers,,Phoenix Suns,,,,,Footprint Center,
69,"Sun, Apr 9, 2023",3:30p,Golden State Warriors,,Portland Trail Blazers,,,,,Moda Center,

In [153]:
schedule = pd.concat((feb,march,april))

In [158]:
schedule.columns

Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS',
       ' ', ' ', 'Attend.', 'Arena', 'Notes'],
      dtype='object')

In [159]:
schedule = schedule[['Date','Visitor/Neutral','Home/Neutral']]

In [160]:
schedule

                Date         Visitor/Neutral            Home/Neutral
0   Wed, Feb 1, 2023  Portland Trail Blazers       Memphis Grizzlies
1   Wed, Feb 1, 2023           Orlando Magic      Philadelphia 76ers
2   Wed, Feb 1, 2023           Brooklyn Nets          Boston Celtics
3   Wed, Feb 1, 2023   Oklahoma City Thunder         Houston Rockets
4   Wed, Feb 1, 2023   Golden State Warriors  Minnesota Timberwolves
..               ...                     ...                     ...
65  Sun, Apr 9, 2023               Utah Jazz      Los Angeles Lakers
66  Sun, Apr 9, 2023    New Orleans Pelicans  Minnesota Timberwolves
67  Sun, Apr 9, 2023       Memphis Grizzlies   Oklahoma City Thunder
68  Sun, Apr 9, 2023    Los Angeles Clippers            Phoenix Suns
69  Sun, Apr 9, 2023   Golden State Warriors  Portland Trail Blazers

[462 rows x 3 columns]

In [161]:
acro = pd.read_csv('acronyms',index_col=0)

acro.columns

a = acro.iloc[:,0]
a = a.to_list()
b = acro.iloc[:,1]
b = b.to_list()

d = {b[i]:a[i] for i in range(len(a))}

d

In [168]:
schedule.iloc[0,1]

'Portland Trail Blazers'

In [179]:
for i in range(len(schedule)):
    if schedule.iloc[i,1] in d:
        schedule.iloc[i,1] = d[schedule.iloc[i,1]]
        
for i in range(len(schedule)):
    if schedule.iloc[i,2] in d:
        schedule.iloc[i,2] = d[schedule.iloc[i,2]]
schedule.head()

C:\Users\User\AppData\Local\Temp\ipykernel_2820\546632457.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule.iloc[i,1] = d[schedule.iloc[i,1]]
C:\Users\User\AppData\Local\Temp\ipykernel_2820\546632457.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule.iloc[i,2] = d[schedule.iloc[i,2]]

               Date Visitor/Neutral Home/Neutral
0  Wed, Feb 1, 2023             POR          MEM
1  Wed, Feb 1, 2023             ORL          PHI
2  Wed, Feb 1, 2023             BKN          BOS
3  Wed, Feb 1, 2023             OKC          HOU
4  Wed, Feb 1, 2023             GSW          MIN

In [183]:
schedule

                Date Visitor/Neutral Home/Neutral
0   Wed, Feb 1, 2023             POR          MEM
1   Wed, Feb 1, 2023             ORL          PHI
2   Wed, Feb 1, 2023             BKN          BOS
3   Wed, Feb 1, 2023             OKC          HOU
4   Wed, Feb 1, 2023             GSW          MIN
..               ...             ...          ...
65  Sun, Apr 9, 2023             UTA          LAL
66  Sun, Apr 9, 2023             NOP          MIN
67  Sun, Apr 9, 2023             MEM          OKC
68  Sun, Apr 9, 2023             LAC          PHO
69  Sun, Apr 9, 2023             GSW          POR

[462 rows x 3 columns]

In [176]:
d['Los Angeles Clippers']='LAC'

In [192]:
schedule['Date'] = pd.to_datetime(schedule['Date'])

C:\Users\User\AppData\Local\Temp\ipykernel_2820\2966185454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule['Date'] = pd.to_datetime(schedule['Date'])

In [193]:
schedule.iloc[0,0]

Timestamp('2023-02-01 00:00:00')

In [194]:
schedule.to_csv('schedule')

In [191]:
type(schedule.iloc[1,1])

str