In [1]:
import pandas as pd
import datetime as dt
from glob import glob
from game_log import load_current_line
import matplotlib.pyplot as plt

In [75]:
today = dt.datetime.today()
year = today.year
month = today.month
day = today.day
today_str = f'{year}_{month}_{day}'


pp_path = f'Lines/pp/pp_{today_str}.csv'
unabated_path = f'Lines/unabated/unabated_{today_str}.csv'

pp_lines = load_current_line(pp_path,'prop_id','time','date')
unabated = load_current_line(unabated_path,'prop_id','time','event_time')

In [76]:
events = glob('pbp/pbp_events/*')

In [77]:
events[-1]

'pbp/pbp_events\\pbp_events_0022300144.csv'

In [78]:
df = pd.DataFrame()
for event in events:
    new = pd.read_csv(event,index_col=0)
    if df.empty:
        df = new
    else:
        df = pd.concat((df,new))
df

,game_id,eventnum,player_id,player_name,lineup,stat_type,stat_value
0,22200001,7.0,203954,Joel Embiid,"('201143', '203935', '1627759', '1628369', '16...",FGA,1.0
1,22200001,7.0,1627759,Jaylen Brown,"('201143', '203935', '1627759', '1628369', '16...",BLK,1.0
2,22200001,10.0,200782,P.J. Tucker,"('201143', '203935', '1627759', '1628369', '16...",TOV,1.0
3,22200001,11.0,203935,Marcus Smart,"('201143', '203935', '1627759', '1628369', '16...",PTS,2.0
4,22200001,11.0,203935,Marcus Smart,"('201143', '203935', '1627759', '1628369', '16...",FGA,1.0
...,...,...,...,...,...,...,...
798,22300144,NaN,1628991,Jaren Jackson Jr.,"('1628991', '1630217', '1630533', '1630583', '...",sec,16.0
799,22300144,NaN,1630217,Desmond Bane,"('1628991', '1630217', '1630533', '1630583', '...",sec,16.0
800,22300144,NaN,1630533,Ziaire Williams,"('1628991', '1630217', '1630533', '1630583', '...",sec,16.0
801,22300144,NaN,1630583,Santi Aldama,"('1628991', '1630217', '1630533', '1630583', '...",sec,16.0
802,22300144,NaN,1631367,Jacob Gilyard,"('1628991', '1630217', '1630533', '1630583', '...",sec,16.0

In [79]:
df.to_csv('pbp/pbp_events/events_all.csv')

In [86]:
steph =df.loc[df.player_name=='Stephen Curry'].sort_values(by=['game_id','eventnum']).drop_duplicates().reset_index(drop=True)
steph.sample(3)

,game_id,eventnum,player_id,player_name,lineup,stat_type,stat_value
5418,22201187,522.0,201939,Stephen Curry,"('201939', '203110', '1627780', '1630228', '16...",3PA,1.0
3049,22200679,266.0,201939,Stephen Curry,"('201143', '203935', '1627759', '1628369', '16...",3PA,1.0
3886,22200964,615.0,201939,Stephen Curry,"('203076', '203471', '1627736', '1628972', '16...",FTA,1.0

In [87]:
threes = steph.loc[(steph.stat_type=='3PA') | (steph.stat_type=='3P')]
threes

,game_id,eventnum,player_id,player_name,lineup,stat_type,stat_value
11,22200002,68.0,201939,Stephen Curry,"('201939', '203110', '203952', '1626172', '162...",3PA,1.0
16,22200002,102.0,201939,Stephen Curry,"('201939', '203210', '203952', '1629673', '163...",3PA,1.0
18,22200002,132.0,201939,Stephen Curry,"('201939', '203210', '1629673', '1630164', '16...",3PA,1.0
23,22200002,215.0,201939,Stephen Curry,"('201939', '203210', '1628978', '1629673', '16...",3PA,1.0
41,22200002,368.0,201939,Stephen Curry,"('201939', '202691', '203110', '203952', '1629...",3PA,1.0
...,...,...,...,...,...,...,...
6263,22300142,413.0,201939,Stephen Curry,"('1628378', '1628386', '1629622', '1629636', '...",3PA,1.0
6271,22300142,455.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3PA,1.0
6275,22300142,455.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3P,1.0
6282,22300142,474.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3PA,1.0
6286,22300142,474.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3P,1.0

In [105]:
threes['make'] = 0
threes.loc[threes['stat_type'] == '3P', 'make'] += 1
threes

C:\Users\Shared.Westover\AppData\Local\Temp\ipykernel_34764\2315708562.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  threes['make'] = 0

,game_id,eventnum,player_id,player_name,lineup,stat_type,stat_value,make
11,22200002,68.0,201939,Stephen Curry,"('201939', '203110', '203952', '1626172', '162...",3PA,1.0,0
16,22200002,102.0,201939,Stephen Curry,"('201939', '203210', '203952', '1629673', '163...",3PA,1.0,0
18,22200002,132.0,201939,Stephen Curry,"('201939', '203210', '1629673', '1630164', '16...",3PA,1.0,0
23,22200002,215.0,201939,Stephen Curry,"('201939', '203210', '1628978', '1629673', '16...",3PA,1.0,0
41,22200002,368.0,201939,Stephen Curry,"('201939', '202691', '203110', '203952', '1629...",3PA,1.0,0
...,...,...,...,...,...,...,...,...
6263,22300142,413.0,201939,Stephen Curry,"('1628378', '1628386', '1629622', '1629636', '...",3PA,1.0,0
6271,22300142,455.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3PA,1.0,0
6275,22300142,455.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3P,1.0,1
6282,22300142,474.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3PA,1.0,0
6286,22300142,474.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3P,1.0,1

In [103]:
threes.head(10)

,game_id,eventnum,player_id,player_name,lineup,stat_type,stat_value,make
11,22200002,68.0,201939,Stephen Curry,"('201939', '203110', '203952', '1626172', '162...",3PA,1.0,0
16,22200002,102.0,201939,Stephen Curry,"('201939', '203210', '203952', '1629673', '163...",3PA,1.0,0
18,22200002,132.0,201939,Stephen Curry,"('201939', '203210', '1629673', '1630164', '16...",3PA,1.0,0
23,22200002,215.0,201939,Stephen Curry,"('201939', '203210', '1628978', '1629673', '16...",3PA,1.0,0
41,22200002,368.0,201939,Stephen Curry,"('201939', '202691', '203110', '203952', '1629...",3PA,1.0,0
59,22200002,525.0,201939,Stephen Curry,"('201939', '203210', '203952', '1626172', '162...",3PA,1.0,0
63,22200002,525.0,201939,Stephen Curry,"('201939', '203210', '203952', '1626172', '162...",3P,1.0,1
66,22200002,535.0,201939,Stephen Curry,"('201939', '203210', '203952', '1626172', '162...",3PA,1.0,0
70,22200002,535.0,201939,Stephen Curry,"('201939', '203210', '203952', '1626172', '162...",3P,1.0,1
72,22200002,547.0,201939,Stephen Curry,"('201939', '203210', '203952', '1626172', '162...",3PA,1.0,0

In [101]:
threes.groupby('eventnum')['make'].sum().rolling(window=100,min_periods=0).mean()

eventnum
7.0      0.000000
8.0      0.500000
9.0      0.333333
11.0     0.250000
12.0     0.400000
           ...
749.0    0.630000
759.0    0.630000
763.0    0.620000
764.0    0.610000
768.0    0.600000
Name: make, Length: 435, dtype: float64

In [108]:
steph.value_counts('stat_type')

stat_type
FGA    1256
PTS     922
3PA     721
sec     720
3PM     626
FG      626
AST     382
FTA     323
3P      313
TOV     205
PF      133
STL      60
BLK      21
Name: count, dtype: int64

In [98]:
threes

,game_id,eventnum,player_id,player_name,lineup,stat_type,stat_value,make
11,22200002,68.0,201939,Stephen Curry,"('201939', '203110', '203952', '1626172', '162...",3PA,1.0,0
16,22200002,102.0,201939,Stephen Curry,"('201939', '203210', '203952', '1629673', '163...",3PA,1.0,0
18,22200002,132.0,201939,Stephen Curry,"('201939', '203210', '1629673', '1630164', '16...",3PA,1.0,0
23,22200002,215.0,201939,Stephen Curry,"('201939', '203210', '1628978', '1629673', '16...",3PA,1.0,0
41,22200002,368.0,201939,Stephen Curry,"('201939', '202691', '203110', '203952', '1629...",3PA,1.0,0
...,...,...,...,...,...,...,...,...
6263,22300142,413.0,201939,Stephen Curry,"('1628378', '1628386', '1629622', '1629636', '...",3PA,1.0,0
6271,22300142,455.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3PA,1.0,0
6275,22300142,455.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3P,1.0,1
6282,22300142,474.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3PA,1.0,0
6286,22300142,474.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3P,1.0,1

In [99]:
threes.loc[threes.eventnum==474]

,game_id,eventnum,player_id,player_name,lineup,stat_type,stat_value,make
6282,22300142,474.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3PA,1.0,0
6286,22300142,474.0,201939,Stephen Curry,"('1627747', '1627777', '1628378', '1629622', '...",3P,1.0,1

In [ ]:
steph.stat_type.unique()

array(['STL', 'PTS', 'FTA', 'AST', 'FGA', 'FG', '3PA', 'TOV', 'PF', 'BLK',
       '3PM', 'sec'], dtype=object)