In [1]:
#imports and scraping raw data from site
#df is the actual betting line
#df2 has other info, mostly using to get player id to name dict

import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime as dt
import random
import re
from unidecode import unidecode

In [2]:
import urllib3
import json

import urllib
class AppURLopener(urllib.request.FancyURLopener):
    version = "Mozilla/5.0"

    
dog_props_url = 'https://api.underdogfantasy.com/beta/v3/over_under_lines'
opener = AppURLopener()
response = opener.open(dog_props_url)

print(response.status)

data = json.loads(response.read())

C:\Users\Shared.Westover\AppData\Local\Temp\ipykernel_30640\3263823425.py:10: DeprecationWarning: AppURLopener style of invoking requests is deprecated. Use newer urlopen functions/methods
  opener = AppURLopener()

200

In [3]:
data.keys()

dict_keys(['appearances', 'games', 'over_under_lines', 'players', 'solo_games'])

In [4]:
df = pd.json_normalize(list(data.values()))
df.index = data.keys()
new = df.T['over_under_lines'].values
lines = pd.json_normalize(new)
lines.sample(2)

,id,live_event,live_event_stat,options,over_under_id,rank,stat_value,status,over_under.id,over_under.appearance_stat.id,over_under.appearance_stat.appearance_id,over_under.appearance_stat.display_stat,over_under.appearance_stat.graded_by,over_under.appearance_stat.pickem_stat_id,over_under.appearance_stat.stat,over_under.boost,over_under.scoring_type_id,over_under.title
2247,4d4cacf3-c37f-4105-9e64-d3cfe92e5209,False,None,[{'id': '9c03b3e8-a596-4683-82ac-7289c5b08974'...,1bd8823a-fab7-48af-89eb-c04d25715aa3,199199030,15.5,active,1bd8823a-fab7-48af-89eb-c04d25715aa3,83957e0e-438c-4370-8fee-fa92e9552277,4d5beb7c-ae9e-437a-a516-8a192e91e45f,Fantasy Points,high_score,7d4527ee-5dcf-43b9-8814-8267b3ab0e40,fantasy_points,None,None,K. Tucker + A. Bregman Fantasy Points O/U
2098,6c5bf640-f9b8-4457-8a5d-89dfff39ea4f,False,None,[{'id': 'cbad279b-c2e1-4670-bff1-386d2c85b3dc'...,64675dc9-eb97-4199-b19a-d66c8f8f50e2,182199082,67.5,active,64675dc9-eb97-4199-b19a-d66c8f8f50e2,91ef480e-562f-4ef1-b382-1dfff828fc95,43cbd6be-223c-4659-a598-3922acded092,Points,high_score,61a06e1f-3a67-4d77-96d3-e6b6608ec8bf,points,None,None,Adrian Kempe Points O/U

In [5]:
test =  pd.json_normalize(df.T['players'])
player_df = test.copy(deep=True)
player_df = player_df[['id','first_name', 'last_name',
       'sport_id','team_id']]
player_df = player_df.dropna()#

player_df.loc[player_df.sport_id=='ESPORTS']
x = player_df[player_df.sport_id=='ESPORTS']
p2esport = x[['last_name','first_name']].to_dict('split')
p2esport = dict(p2esport['data'])

In [6]:
test =  pd.json_normalize(df.T['players'])
player_df = test.copy(deep=True)
player_df = player_df[['id','first_name', 'last_name',
       'sport_id','team_id']]
player_df = player_df.dropna()
player_df.loc[player_df['sport_id'] != 'ESPORTS', 'full_name'] = player_df['first_name']+' ' + player_df['last_name']
player_df.loc[player_df['sport_id'] == 'ESPORTS', 'full_name'] = player_df['last_name']
#player_df['full_name'] = player_df['first_name']+' ' + player_df['last_name']
player_df = player_df[['full_name','sport_id','team_id']]
p2l = player_df[['full_name','sport_id']].to_dict('split')
p2tm = player_df[['full_name','team_id']].to_dict('split')
temp = p2l['data']
temp2 = p2tm['data']
p2l = dict(temp)
p2tm = dict(temp2)

In [7]:
player_df

                    full_name   sport_id                               team_id
0             Trevor Lawrence        NFL  b49b653c-dc7c-516e-b1c2-da1b30d1b1a6
1          Travis Etienne Jr.        NFL  b49b653c-dc7c-516e-b1c2-da1b30d1b1a6
2               Calvin Ridley        NFL  b49b653c-dc7c-516e-b1c2-da1b30d1b1a6
3                  Josh Allen        NFL  0719b253-43db-532e-8b5c-6c12c6c3f951
4                  James Cook        NFL  0719b253-43db-532e-8b5c-6c12c6c3f951
...                       ...        ...                                   ...
1198  X. Worthy + A. Mitchell  CFBCOMBOS  acafc7a0-f2b7-47ea-b68e-a7bbb4f14b76
1199   A. Anthony + J. Farooq  CFBCOMBOS  059969e5-8906-4018-b150-fc4e94a6ea06
1200  B. Bowers + L. McConkey  CFBCOMBOS  4ee8dc63-186b-4525-8dc4-9fa33bb72ce1
1201     D. Key + T. Robinson  CFBCOMBOS  0af0cd7e-207a-4153-b0d6-9ce488422f8a
1202  J.J. Jones + K. Paysour  CFBCOMBOS  345f7ca0-a6dc-46a9-bcc2-1c7d8e94ba00

[1128 rows x 3 columns]

In [8]:
player_df.sport_id.unique()

array(['NFL', 'CFB', 'MLB', 'WNBA', 'FIFA', 'ESPORTS', 'RACING',
       'BASKETBALL', 'NHL', 'CFL', 'NBASZN', 'NHLSZN', 'NFLCOMBO',
       'MLBCOMBOS', 'CFBCOMBOS'], dtype=object)

In [9]:
first2 = player_df['full_name'].apply(lambda x: ' '.join(x.split()[0:2]))
names = pd.DataFrame((first2,player_df.full_name))
names = names.T
names.columns=['first2','fullname']
names.loc[names.first2=='Jazz Chisholm']
first2full = names.to_dict('split')
first2full = dict(first2full['data'])

In [10]:
games = pd.json_normalize(df.T['games'].values).dropna(how='all')
#games = games.loc[games['sport_id']=='NBA']
games.tail(3)

,id,away_team_id,away_team_score,home_team_id,home_team_score,match_progress,period,scheduled_at,season_type,sport_id,status,title,type,year
101,52141.0,643ebde6-4db7-48c1-844d-8aa5f8482746,0.0,c3cb471d-2cbd-4cb4-9d57-c8ef7b7d380b,0.0,Fri 10:00pm,0.0,2023-10-07T02:00:00Z,regular,CFL,scheduled,WPG @ BC,Game,2023.0
102,52142.0,828fb713-dc2b-4212-9ad9-5ae1696372b7,0.0,f61e59a6-d7f7-444a-871a-c213320b3d9a,0.0,Sat 07:00pm,0.0,2023-10-07T23:00:00Z,regular,CFL,scheduled,HAM @ SAS,Game,2023.0
103,52143.0,cb31c28e-6b10-459b-a8e8-123f37715b0d,0.0,082be639-ca35-46dd-b8f3-96761e38ac3d,0.0,Mon 01:00pm,0.0,2023-10-09T17:00:00Z,regular,CFL,scheduled,MTL @ OTT,Game,2023.0

In [11]:
def to_central(date_str):
    x = pd.to_datetime(date_str)
    x = x.tz_convert('US/Central')
    return str(x.date())
to_central('2023-05-20T00:40:00Z')

'2023-05-19'

In [12]:
games.scheduled_at = games.scheduled_at.apply(to_central)

In [13]:
#grabbing team names from match title
matchup = games['title']
home = []
away = []
for i in matchup:
    temp = re.split(' @ |, |vs.',i)
    home.append(temp[0])
    away.append(temp[1])
#fixing esports team names
for i in range(len(home)):
    home[i] = home[i].split(': ')[-1]
    
for i in range(len(away)):
    away[i] = away[i].split(': ')[-1]

matchup = pd.DataFrame((away,home,games.away_team_id,games.home_team_id)).T
matchup.columns = ['Home', 'Away','away_id','home_id']
dates = games['scheduled_at'].values
#temp = []
#for i in dates:
#    temp.append(i.split('T')[0])
matchup['Date'] = dates
id2tm =  matchup[['home_id','Home']].to_dict('split')
id2tmaway =  matchup[['away_id','Away']].to_dict('split')
id2tm = dict(id2tm['data'])
id2tmaway = dict(id2tmaway['data'])
id2tm.update(id2tmaway)

In [14]:
games

,id,away_team_id,away_team_score,home_team_id,home_team_score,match_progress,period,scheduled_at,season_type,sport_id,status,title,type,year
0,39372.0,b49b653c-dc7c-516e-b1c2-da1b30d1b1a6,0.0,0719b253-43db-532e-8b5c-6c12c6c3f951,0.0,Sun 09:30am,0.0,2023-10-08,regular,NFL,scheduled,JAX @ BUF,Game,2023.0
1,39376.0,01bfe9d5-f671-57ed-aa60-249fcca9267c,0.0,ecc8eb1b-f714-57a6-bcf3-b183dd6c12a8,0.0,Sun 01:00pm,0.0,2023-10-08,regular,NFL,scheduled,BAL @ PIT,Game,2023.0
2,39377.0,530518ed-91db-57c4-9077-27cc0dd9a293,0.0,ef876de9-81ac-5e60-af6e-0ca1700f3a51,0.0,Sun 01:00pm,0.0,2023-10-08,regular,NFL,scheduled,NO @ NE,Game,2023.0
3,39378.0,d40a4380-49a6-5b5f-ab7d-f5393787ed12,0.0,9153e0a9-da83-5246-ba43-417537f1bcce,0.0,Sun 01:00pm,0.0,2023-10-08,regular,NFL,scheduled,NYG @ MIA,Game,2023.0
4,39373.0,f96aa8db-21c2-5b86-b49d-7e64b4eda61d,0.0,f11f1cf1-9933-5203-8181-95020ee64399,0.0,Sun 01:00pm,0.0,2023-10-08,regular,NFL,scheduled,TEN @ IND,Game,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,50344.0,612c157d-112f-4aa9-a76b-3d17f6b99bb5,0.0,21c32c27-2668-4d04-a209-497292923e36,0.0,Tue 10:34pm,0.0,2023-10-10,regular,NHL,scheduled,SEA @ VGK,Game,2023.0
100,52140.0,32163107-64b6-4522-8f23-df966775492d,0.0,2822c78a-243c-4365-ab0f-bfef88cbac45,0.0,Fri 07:00pm,0.0,2023-10-06,regular,CFL,scheduled,EDM @ TOR,Game,2023.0
101,52141.0,643ebde6-4db7-48c1-844d-8aa5f8482746,0.0,c3cb471d-2cbd-4cb4-9d57-c8ef7b7d380b,0.0,Fri 10:00pm,0.0,2023-10-06,regular,CFL,scheduled,WPG @ BC,Game,2023.0
102,52142.0,828fb713-dc2b-4212-9ad9-5ae1696372b7,0.0,f61e59a6-d7f7-444a-871a-c213320b3d9a,0.0,Sat 07:00pm,0.0,2023-10-07,regular,CFL,scheduled,HAM @ SAS,Game,2023.0
103,52143.0,cb31c28e-6b10-459b-a8e8-123f37715b0d,0.0,082be639-ca35-46dd-b8f3-96761e38ac3d,0.0,Mon 01:00pm,0.0,2023-10-09,regular,CFL,scheduled,MTL @ OTT,Game,2023.0

In [15]:
id2tm

{'0719b253-43db-532e-8b5c-6c12c6c3f951': 'BUF',
 'ecc8eb1b-f714-57a6-bcf3-b183dd6c12a8': 'PIT',
 'ef876de9-81ac-5e60-af6e-0ca1700f3a51': 'NE',
 '9153e0a9-da83-5246-ba43-417537f1bcce': 'MIA',
 'f11f1cf1-9933-5203-8181-95020ee64399': 'IND',
 '8699a914-7d44-5a36-b7a6-2063d3ea761f': 'ATL',
 'a8980eb6-327f-5bc5-abf9-de1e944b566d': 'DET',
 'd150534e-6a05-587b-b9e3-50ef86602e20': 'LAR',
 '8459772c-695a-5890-afa1-7ec38da17201': 'ARI',
 '5af1e185-627e-5345-851d-3c65c5b66614': 'MIN',
 '7b3b21be-a209-5dee-a3f7-3fae61f52a1e': 'DEN',
 '7161e62b-de20-56e2-a300-0dc23637faaa': 'SF',
 '5ce78c37-b02c-52da-9e4f-fcd65b6ccb76': 'LV',
 'a2f0fef9-70c3-4b0c-8b8b-fb17fca73e26': 'OKS',
 '9e7a6e95-bea0-4bf8-86f3-9b70b807c704': 'ILL',
 '2503e37c-0856-4d17-8b52-975d1f5d66e9': 'MIZ',
 'a38d0932-4c63-4c04-8351-34565d0045ed': 'TEX',
 '421f09b9-43c3-422a-ac60-7ef2d69f326b': 'WIS',
 '8fa02826-b5c7-494d-a6a3-2fab6cd2ffe2': 'OSU',
 'e58bc430-5aee-4d29-b7cd-6b491c7a41e6': 'MSST',
 '8f1c3220-563e-43fd-b3b8-11fe70dbb149': 'NCST',
 '5bf5a4b7-bb12-4adf-a507-60eeb9bda0d8': 'UCLA',
 '71bfdbd6-01e3-4098-b4d6-aeb4baa420b3': 'TXAM',
 '86c6882a-d54d-41bb-bc69-7d5a063b9c8f': 'NC',
 '70933dd1-8440-44ca-a578-4062c8789d70': 'FSU',
 '73d236ba-b44d-44e3-a121-4c3884c31bd9': 'IOW',
 '715ba923-890f-44a2-8c82-1c9b922232d3': 'CLE',
 '780d1c04-6749-4b79-9c64-aa35a08146ab': 'KAN',
 'c2aa79df-1ace-44ec-a99d-beb35edfea44': 'FLA',
 '4318d306-1710-40ed-b9dd-81c546b1d371': 'ASU',
 'b7eddd06-91a2-47b0-8813-8b1ef4ddb287': 'UGA',
 'ef3fe165-79cb-467a-88bb-966d5d1cce4c': 'MIS',
 'e37df507-74a8-4a62-9430-84dc328b7480': 'LOU',
 '023d5b6e-4fe3-4c79-96fc-7fa24dc9c9b7': 'MIN',
 '77ef90ed-b938-46ec-8614-d08764e4385c': 'BAY',
 'cbb14968-1028-4c42-8189-41ac9d2150e5': 'ISU',
 '375218f9-fb9f-4ffe-af00-e6d981349703': 'MFL',
 '8c5f0dff-252e-4946-9266-2f0a927ad56b': 'USC',
 '66a40421-4792-480a-8d42-148d9ad5bc59': 'CAL',
 '1fd765d9-7354-4926-bb4b-368d86d202b0': 'BAL',
 '2ac58cf3-7bb5-47f6-a214-eaeeb9d78d52': 'HOU',
 '02c19f09-f45a-4808-a128-e5bbf9d9577e': 'ATL',
 '5a5a4e8a-d364-4fba-9b76-add9ed5d9ad7': 'LAD',
 'ec4bf359-4c76-4e8d-b3f1-ba323966e51e': 'LVA',
 'cb439308-00d0-4401-8b0c-21c3252b608b': 'Borussia Mönchengladbach',
 'a94e1e8e-f4d4-43e6-bdbf-c114beaad111': 'US Lecce',
 '8c58e003-c8ca-414e-a0e0-35d161cca360': 'Athletic Bilbao',
 'af4f0070-8a6e-4e4e-b95d-9c48b690eca5': 'Strasbourg',
 'bb5f95de-889d-41d2-aef2-0b70df30e924': 'Luton Town ',
 '96acee83-d24e-4af8-9e1d-c84c41a41537': 'Cadiz CF  ',
 '0817e817-147f-4f95-a692-2bff5d467c88': 'Inter Milan',
 'b05d1aa4-58a8-4599-9ea5-65e998db0d49': 'Borussia Dortmund',
 'f40a4914-61b2-4b84-8ec7-6fa0175932b1': 'RB Leipzig',
 '7f062902-0c16-4be1-9af7-46e802cbc9b1': 'VfB Stuttgart',
 '24487a12-61c5-4eb3-962e-e7f7d18a55fd': 'FC Augsburg',
 'e5c38924-be02-4d77-98d6-06324d759a74': 'Manchester United',
 '3c3ca047-20c0-4585-8454-aa9bee330596': 'Burnley',
 '555cadc0-a71f-423d-af70-229865735480': 'Everton',
 'b1409151-8f77-4fdb-acd4-83ca1d57cb13': 'Fulham',
 '4882e5ac-5226-4837-9170-721d003cdbb6': 'Real Madrid',
 '205450d1-3999-4dc0-8a3b-aaef06e5e0b1': 'Juventus ',
 'afaf8490-6eab-42db-9807-db3ce3a4b18e': 'Crystal Palace',
 'b5e11690-8b60-45d1-bd65-018983e2ff41': 'Werder Bremen',
 '82b060e7-9a9e-43de-9b1d-3192c0c8bd17': 'Mallorca',
 '93d56a26-ffee-421c-a051-475d06b00ddc': 'Genoa',
 '7db868db-28af-4607-94cb-c3cbfb24f590': 'Sevilla FC',
 '1f85a996-ef4b-4534-a1d5-326d778c65e9': 'Olympique Marseille',
 '4524e4f3-c87b-4604-8cdd-3b821e7ca5e2': 'Villarreal CF',
 '59db65dd-3285-4018-b15c-785ac0c49883': 'Brighton',
 '4fe17514-c052-4a6c-85d7-e713a8882dc0': 'West Ham',
 '872742d0-54e5-46fa-a770-9b0167617beb': 'Atletico Madrid',
 'fa6633d9-2de4-42d1-927e-470f9eb4299d': 'Arsenal',
 '9f8d4697-df94-4036-b62c-0bab1ca527de': 'Deportivo Alaves',
 '1d31bcbc-5e65-4b5e-9cd2-8dbd559927e2': 'Celta de Vigo',
 '7372cc17-4a99-47f8-afac-8e55771574ff': 'Rennes',
 '8587a535-8813-4afd-8046-8e2c18353fde': ' G2 Gozen',
 'b230b756-796e-4172-91b6-c559e4e21fd5': ' FENNEL GC',
 '1f6e82a2-9c14-4798-8ca1-08702779fadc': ' Shopify Rebellion GC',
 '98ae6f6d-481f-4eb3-9c79-6f4d00e42c84': ' Zeta DIVISION GC',
 '80155f9c-f1c3-411a-92cc-1c7a8b230293': ' Evil Geniuses GC',
 'ef151ec1-e0db-4350-abc0-978d46f0844d': ' CREST GAMING Stellar',
 '6b45b4ea-7a3c-49b8-a094-7a984f861cab': ' Bytewave',
 '744301fc-1f3f-4e36-8df3-98c2c7009dd2': ' 9 Pandas',
 'c74d9111-dc7e-4e47-b407-816d740a249a': ' ORKS',
 'da6ba87f-d141-4f1c-952f-931e1e55480f': ' Mythic',
 '1dc44a52-dd20-4723-b29a-c3c398362569': ' EYEBALLERS',
 'b790233c-9397-444f-9094-49bf773041bb': ' Sangal',
 'ba83efbd-2e6f-42c8-b30a-072999f2e4ff': ' Badass',
 'b6d23d65-ce86-43e8-b485-f28ffa3da1d8': ' Legacy',
 'e22e6614-3956-49a2-ab87-d1f4e8cd9ec0': ' Pompa',
 '5ea5059b-66e7-4270-bfcf-51cc68ce0e7f': ' RUBIK',
 '910a8858-7d00-4cb9-be7f-863ab2630a80': ' IKLA',
 '1a94d99a-2670-4cff-b1ef-5eb8fbfeb862': ' Betera',
 '2af0b792-f585-4c49-aeb6-eafc61073a21': 'FEN',
 '4bb9808b-d679-4a63-9755-f1e89861e726': 'PANA',
 '326e64dd-843c-4ae0-b253-1f85351d2a25': 'BAS',
 'cbb6e581-5e37-4a3f-be13-ef5d9f932477': 'VAL',
 '5cdace81-efe8-4b20-ada3-e9ceb0d52048': 'TB',
 '89137af7-f2e1-4d68-aa58-a6e152831cec': 'PIT',
 '21c32c27-2668-4d04-a209-497292923e36': 'VGK',
 '2822c78a-243c-4365-ab0f-bfef88cbac45': 'TOR',
 'c3cb471d-2cbd-4cb4-9d57-c8ef7b7d380b': 'BC',
 'f61e59a6-d7f7-444a-871a-c213320b3d9a': 'SAS',
 '082be639-ca35-46dd-b8f3-96761e38ac3d': 'OTT',
 'b49b653c-dc7c-516e-b1c2-da1b30d1b1a6': 'JAX',
 '01bfe9d5-f671-57ed-aa60-249fcca9267c': 'BAL',
 '530518ed-91db-57c4-9077-27cc0dd9a293': 'NO',
 'd40a4380-49a6-5b5f-ab7d-f5393787ed12': 'NYG',
 'f96aa8db-21c2-5b86-b49d-7e64b4eda61d': 'TEN',
 '4ab08caa-b79d-598e-82ef-0906a60d2a89': 'HOU',
 '17f3bc4a-e2d6-5dc5-a554-00549ff0139f': 'CAR',
 'de7219e5-92f1-5989-804a-68479055ba42': 'PHI',
 'ab235cf0-a041-5d36-8241-90a90f0dcb5e': 'CIN',
 'a6f458f4-5078-56e4-a839-af96f1191314': 'KC',
 '516ded41-e882-5175-9a00-d0b4c028eb74': 'NYJ',
 '26e67e06-664e-50a6-ad7b-c102705fde8b': 'DAL',
 'a2fadaac-562f-5a7e-bd63-6d88d90c1ac4': 'GB',
 'eea39f0a-183f-4f5f-93e5-972c696f1a67': 'KST',
 '7de51156-7fe0-4c86-ae4c-09aacf7b41d6': 'NEB',
 '3f963090-102a-4b8d-bc9b-52b93a9acb5d': 'LSU',
 '98c5d11a-1488-4d98-9110-80f813491bd2': 'OKL',
 'a961f89f-4680-4492-aba5-da79808b0cd8': 'RUT',
 'ade1af85-07c7-46ce-acd4-7c969bb33845': 'MAR',
 'b05f506b-1a58-456b-9b78-279e794d2b1f': 'WMC',
 '1515e81b-6ec4-4273-8966-30d28dd4454c': 'MSH',
 '05115f6d-6c71-4d87-b7ab-78beee434af5': 'WST',
 'f418e3f8-7b02-4f74-b5fa-309b191bb94e': 'BAMA',
 '9a9e2475-8506-4174-8f17-f5124d289a35': 'SYR',
 '21bc24eb-d374-49fd-8146-b846bf8cd22e': 'VT',
 '68fb7ef8-0d50-405e-a6a9-5817d95e3311': 'PUR',
 '629be65c-616e-4c16-9b22-6228a373b826': 'WF',
 'ec10d4ff-d8d0-4c8b-b493-a855479db6e1': 'UCF',
 '2a3c4a9e-dd43-461c-9c5c-4cea282e34f1': 'VAN',
 'fc1177f8-beed-4170-acf5-fe669bb4795a': 'COL',
 '7927577f-9eb8-43bb-935d-b4a545e9e986': 'KEN',
 'c737722d-3e6b-43d0-9be7-b1885eaa795e': 'ARK',
 '99ffe058-0005-49d3-a880-5177dc4b8e82': 'ND',
 '85898164-93a3-4083-ae1a-770c6702c85d': 'MICH',
 'd8c72ef1-b248-4e6a-84d0-beb9b5f99392': 'TT',
 'b7e00343-267d-45f9-8fcb-9574a932ee64': 'TCU',
 '28b72898-1e9d-42fe-a4cf-f70a6959ec44': 'GT',
 '9e85ca91-d87e-4a78-8726-8482c731e48e': 'ARI',
 '851b1705-a35b-42d5-bf89-ccc0ebb7565b': 'ORS',
 'f85132d6-ce4f-461f-ab0d-97810d017c94': 'TEX',
 'cab2f7bd-aa09-4e26-9cca-2bfcf5867a72': 'MIN',
 '25101c7a-340a-4c08-a93d-979242271c89': 'PHI',
 '0331354e-f6cb-4dba-ba55-7c5c40ab9f5e': 'ARI',
 '16a788c2-7492-4552-a55a-d6fe767e0391': 'NYL',
 '639b67ef-1b5a-4d02-9cc4-c41a4d50b88c': 'FSV Mainz 05',
 'ac97d2c0-e1d3-4a82-9612-9693c6d6b284': 'Sassuolo Calcio',
 '7356a05d-f5b3-4071-9e96-4abad248a488': 'UD Almeria',
 '940c5748-287a-4c8f-9ff6-0837877f0eb5': 'FC Nantes',
 'b83601c5-8fc1-4d33-836e-eae83bc24237': 'Tottenham Hotspur',
 'fc24eccc-5fc3-4ad9-ada2-d6137436b53b': 'Girona FC',
 'f1c65f15-0cd5-4dc2-8f6b-c6715a0b2b8a': 'Bologna',
 '55af5912-1df9-4633-b635-222e29a66da1': 'Union Berlin',
 'e67628a0-6a1d-44f8-a0c3-c92fa2e79e6e': 'VfL Bochum',
 'd8b93a75-84cc-4b4c-a061-efdf92ba24ae': 'VfL Wolfsburg',
 '4247617e-60da-4b5c-bdbe-4ee3e1232539': 'SV Darmstadt 98',
 'dfb3077e-606a-424f-a8e7-ab2ffc84ac8c': 'Brentford',
 '4eec57ca-e69c-4249-918e-b6a0939d82fb': 'Chelsea',
 '9cbbf45a-f622-4520-a8d4-79237e5f8b11': 'Bournemouth',
 '7aec0032-a251-4e0a-b938-034b937a3759': 'Sheffield United',
 'c2e3fd2b-cd25-48c9-9582-2ffe28727254': 'Osasuna',
 '9994dac1-055d-4cce-8d7f-63291eb71688': 'Torino FC',
 'e132b2b7-e765-4768-aa22-7e6c6db783c7': 'Nottingham Forest',
 '2cce3512-c3f3-48e5-87d8-98a322d899ee': 'TSG Hoffenheim',
 'f49199b7-6413-4688-b6c2-799cc7294af6': 'Valencia CF',
 '4768a419-07f1-4caf-9209-b57ab384d2d8': 'AC Milan',
 '62abd6a2-b2c1-4196-b6a7-eeacae02fff3': 'Rayo Vallecano',
 '42167195-4dac-4a70-adda-d0a9ef2811d6': 'Le Havre AC',
 '0eb5b80a-04f4-44d4-957a-9ff6039f375f': 'UD Las Palmas',
 '68f03561-d895-499a-a4a7-92edbddc3841': 'Liverpool FC',
 '2a769f67-40a9-49f3-924b-443dc7e64392': 'Newcastle United',
 '7d53792a-5432-4a56-a1e8-db1aae53d9e7': 'Real Sociedad',
 'd6e35a45-f656-41e0-9728-dde203221fad': 'Manchester City',
 '111b28d1-db58-4f4e-a410-6f05b3a358d7': 'Real Betis',
 '7b8cdb80-1dde-405d-8390-dba5eaaaad43': 'Getafe',
 '4e76167e-8dfb-4ba4-b0b3-b4391b980c7e': 'Paris Saint-Germain',
 '77d7d21d-38f4-48bc-b3da-25abd75d2ef0': 'Acend Rising ',
 '6f5d6fae-d31b-4561-87c9-735aacbb4345': 'DRX Changers ',
 'ccd9e4ec-9885-4b7c-897b-d05f68de8ecc': 'Version1 ',
 '7de92cd8-3510-4f96-8efb-1e398d7441d5': 'DetonatioN FocusMe GC ',
 'e992f180-401c-421b-929d-bd403eff10a6': 'Complexity GX3 ',
 '9bf4daf1-7f21-4c25-bb48-2c774d8ce0cd': 'REIGNITE Lily ',
 '5d60f0ef-dc86-4b82-ba86-83df490e7b45': 'FTW ',
 '2251194e-158e-4e3a-88b6-c2b76dc4789b': 'Singularity ',
 '59e326fc-9b55-44f9-8a17-42215e654b86': '1WIN ',
 'b6962a89-01d2-4a5f-992c-dd2e37d20fe4': 'Fluffy Aimers ',
 'f9c42065-9d21-457d-91ea-7a436b23fb6b': 'Looking4Org ',
 'c85bc5cb-42ee-4e4f-a9e3-1c2bc28cbf7a': 'Aurora ',
 '86e392c6-c5c8-4c31-8726-6af44a80b83a': 'Rocket ',
 'ff2c361f-2ddd-4cd8-8b25-e59c2505e757': 'FURIA ',
 '5688f051-a6cb-420d-82dd-cce79e3517d6': 'SAW ',
 '9dab9d7c-2df4-4518-8b14-4e8dfbb210b5': 'Spirit ',
 '93b14e85-a952-498e-b252-bfd9a8ce1221': '9INE ',
 '77fe113b-3ad4-40d5-9899-6048dcbcc61a': 'Movistar Riders ',
 '65e938b3-bda8-4929-ae81-12293c335436': 'AX',
 '7ee9eb64-1ff2-4c99-b686-50ded808fdd7': 'OLY',
 'bc9ff096-3676-4ba5-ad41-3d674a566ee1': 'MAD',
 'fd67152d-cfb5-47d5-8113-6a37da8a73da': 'MON',
 'e6fa00a2-55eb-45f3-b8de-2a7ad7329f30': 'NSH',
 '3b4a9985-39fa-4e99-bb10-087408e2499a': 'CHI',
 '612c157d-112f-4aa9-a76b-3d17f6b99bb5': 'SEA',
 '32163107-64b6-4522-8f23-df966775492d': 'EDM',
 '643ebde6-4db7-48c1-844d-8aa5f8482746': 'WPG',
 '828fb713-dc2b-4212-9ad9-5ae1696372b7': 'HAM',
 'cb31c28e-6b10-459b-a8e8-123f37715b0d': 'MTL'}

In [16]:
lines = lines[['stat_value','over_under.appearance_stat.stat', 'over_under.title']]
lines
players = lines['over_under.title'].values
guys = []
for i in players:
    temp = i.split()
    final = temp[0] + ' '+temp[1]
    guys.append(final)
    
guys
lines= lines.rename(columns={'stat_value':'Line','over_under.appearance_stat.stat':'Stat', 'over_under.title':'title'})
lines['Player']= guys
lines['Player'] = lines['Player'].apply(lambda x: unidecode(x).replace('_',' '))

In [17]:
def map_name(x):
    if x is None:
        return None
    if x in first2full:
        return first2full[x]
    elif x.split(': ')[-1] in first2full:
        return x.split(': ')[-1]
    elif x.split()[-1] in first2full:
        return x.split()[-1]
    else:
        return x

lines['Player'] = lines['Player'].apply(lambda x: map_name(x))
lines.Player.unique()

array(['Trevor Lawrence', 'Travis Etienne Jr.', 'Calvin Ridley', ...,
       'J. Thrash', 'R. Wilson', 'C. Stover'], dtype=object)

In [18]:
league = []
for p in guys:
    if p in p2l:
        league.append(p2l[p])
    elif p.split()[-1] in p2l:
        league.append(p2l[p.split()[-1]])
    else:
        league.append('other')
league[0:5]

['NFL', 'other', 'NFL', 'NFL', 'NFL']

In [19]:
guys[1000:1007]

['Savion Williams',
 'JP Richardson',
 'Dylan Wright',
 'JP Richardson',
 'Jared Wiley',
 'Rocco Becht',
 'Rocco Becht']

In [20]:
team_id = []
for p in guys:
    if p in p2l:
        team_id.append(p2tm[p])
    elif p.split()[-1] in p2l:
        team_id.append(p2tm[p.split()[-1]])
    else:
        team_id.append('other')
team_id[0:5]

['b49b653c-dc7c-516e-b1c2-da1b30d1b1a6',
 'other',
 'b49b653c-dc7c-516e-b1c2-da1b30d1b1a6',
 'b49b653c-dc7c-516e-b1c2-da1b30d1b1a6',
 '0719b253-43db-532e-8b5c-6c12c6c3f951']

In [21]:
lines['League'] = league
lines

,Line,Stat,title,Player,League
0,17.55,fantasy_points,Trevor Lawrence Fantasy Points O/U,Trevor Lawrence,NFL
1,11.85,fantasy_points,Travis Etienne Jr. Fantasy Points O/U,Travis Etienne Jr.,other
2,13.5,receiving_yac,Calvin Ridley Yards After Catch O/U,Calvin Ridley,NFL
3,10.05,fantasy_points,Calvin Ridley Fantasy Points O/U,Calvin Ridley,NFL
4,261.5,passing_yds,Josh Allen Passing Yards O/U,Josh Allen,NFL
...,...,...,...,...,...
2326,133.5,receiving_yds,A. Armstrong + J. Watkins Receiving Yards O/U,A. Armstrong,other
2327,121.5,receiving_yds,C. Harris + D. Wade Receiving Yards O/U,C. Harris,other
2328,128.5,receiving_yds,J. Thrash + M. Evans Receiving Yards O/U,J. Thrash,other
2329,101.5,receiving_yds,R. Wilson + D. Jackson Receiving Yards O/U,R. Wilson,other
2330,59.5,receiving_yds,C. Stover + C. Dyches Receiving Yards O/U,C. Stover,other

In [22]:
def map_team(x):
    if x in p2tm:
        return p2tm[x]
    elif p.split()[-1] in p2l:
        return p2tm[p.split()[-1]]
    else:
        return x

lines['team_id'] = lines.Player.apply(lambda x: map_team(x))
lines

,Line,Stat,title,Player,League,team_id
0,17.55,fantasy_points,Trevor Lawrence Fantasy Points O/U,Trevor Lawrence,NFL,b49b653c-dc7c-516e-b1c2-da1b30d1b1a6
1,11.85,fantasy_points,Travis Etienne Jr. Fantasy Points O/U,Travis Etienne Jr.,other,b49b653c-dc7c-516e-b1c2-da1b30d1b1a6
2,13.5,receiving_yac,Calvin Ridley Yards After Catch O/U,Calvin Ridley,NFL,b49b653c-dc7c-516e-b1c2-da1b30d1b1a6
3,10.05,fantasy_points,Calvin Ridley Fantasy Points O/U,Calvin Ridley,NFL,b49b653c-dc7c-516e-b1c2-da1b30d1b1a6
4,261.5,passing_yds,Josh Allen Passing Yards O/U,Josh Allen,NFL,0719b253-43db-532e-8b5c-6c12c6c3f951
...,...,...,...,...,...,...
2326,133.5,receiving_yds,A. Armstrong + J. Watkins Receiving Yards O/U,A. Armstrong,other,A. Armstrong
2327,121.5,receiving_yds,C. Harris + D. Wade Receiving Yards O/U,C. Harris,other,C. Harris
2328,128.5,receiving_yds,J. Thrash + M. Evans Receiving Yards O/U,J. Thrash,other,J. Thrash
2329,101.5,receiving_yds,R. Wilson + D. Jackson Receiving Yards O/U,R. Wilson,other,R. Wilson
2330,59.5,receiving_yds,C. Stover + C. Dyches Receiving Yards O/U,C. Stover,other,C. Stover

In [23]:
def map_id(x):
    if x in id2tm:
        return id2tm[x]
    else:
        return x
#lines['team_id'] = lines.team_id.apply(lambda x: map_id(x))

In [24]:
final = pd.merge(lines,matchup, how='left',left_on='team_id',right_on='away_id')
final = final.drop(['Home', 'Away','home_id','away_id'], axis=1)
final2 = pd.merge(final,matchup, how='left',left_on='team_id',right_on='home_id')
final2 = final2.drop(['Home', 'Away','home_id','away_id'], axis=1)
final2['Date'] = final2['Date_x'].fillna(final2['Date_y'])
final2 = final2.drop(['Date_x', 'Date_y'], axis=1)
final2['team_id'] = final2.team_id.apply(lambda x: map_id(x))
final2#.loc[final.Player=='Jimmy Butler']

,Line,Stat,title,Player,League,team_id,Date
0,17.55,fantasy_points,Trevor Lawrence Fantasy Points O/U,Trevor Lawrence,NFL,JAX,2023-10-08
1,11.85,fantasy_points,Travis Etienne Jr. Fantasy Points O/U,Travis Etienne Jr.,other,JAX,2023-10-08
2,13.5,receiving_yac,Calvin Ridley Yards After Catch O/U,Calvin Ridley,NFL,JAX,2023-10-08
3,10.05,fantasy_points,Calvin Ridley Fantasy Points O/U,Calvin Ridley,NFL,JAX,2023-10-08
4,261.5,passing_yds,Josh Allen Passing Yards O/U,Josh Allen,NFL,BUF,2023-10-08
...,...,...,...,...,...,...,...
2326,133.5,receiving_yds,A. Armstrong + J. Watkins Receiving Yards O/U,A. Armstrong,other,A. Armstrong,NaN
2327,121.5,receiving_yds,C. Harris + D. Wade Receiving Yards O/U,C. Harris,other,C. Harris,NaN
2328,128.5,receiving_yds,J. Thrash + M. Evans Receiving Yards O/U,J. Thrash,other,J. Thrash,NaN
2329,101.5,receiving_yds,R. Wilson + D. Jackson Receiving Yards O/U,R. Wilson,other,R. Wilson,NaN
2330,59.5,receiving_yds,C. Stover + C. Dyches Receiving Yards O/U,C. Stover,other,C. Stover,NaN

In [25]:
final2.columns = ['Line', 'Stat', 'title', 'Player', 'League', 'Team', 'Date']

In [26]:
df = final2[['Line', 'Stat', 'Player', 'League', 'Team', 'Date']].copy(deep=True)
df

,Line,Stat,Player,League,Team,Date
0,17.55,fantasy_points,Trevor Lawrence,NFL,JAX,2023-10-08
1,11.85,fantasy_points,Travis Etienne Jr.,other,JAX,2023-10-08
2,13.5,receiving_yac,Calvin Ridley,NFL,JAX,2023-10-08
3,10.05,fantasy_points,Calvin Ridley,NFL,JAX,2023-10-08
4,261.5,passing_yds,Josh Allen,NFL,BUF,2023-10-08
...,...,...,...,...,...,...
2326,133.5,receiving_yds,A. Armstrong,other,A. Armstrong,NaN
2327,121.5,receiving_yds,C. Harris,other,C. Harris,NaN
2328,128.5,receiving_yds,J. Thrash,other,J. Thrash,NaN
2329,101.5,receiving_yds,R. Wilson,other,R. Wilson,NaN
2330,59.5,receiving_yds,C. Stover,other,C. Stover,NaN

In [27]:
df = df.reset_index(drop=True)

In [28]:
df.Stat.unique()

array(['fantasy_points', 'receiving_yac', 'passing_yds', 'rushing_yds',
       'rushing_att', 'passing_att', 'passing_comps', 'passing_ints',
       'passing_and_rushing_yds', 'receiving_rec', 'receiving_yds',
       'rush_rec_yds', 'first_downs', 'receiving_tgts',
       'extra_points_made', 'kicking_points', 'assists',
       'tackles_and_assists', 'tackles', 'field_goals_made',
       'passing_tds', 'rush_rec_tds', 'sacks', 'rushing_tds',
       'strikeouts', 'runs_allowed', 'hits_allowed', 'walks_allowed',
       'hits_runs_rbis', 'batter_strikeouts', 'singles', 'total_bases',
       'pitch_outs', 'runs', 'walks', 'points', 'rebounds', 'saves',
       'goals_against', 'shots_attempted', 'passes', 'goals_assists',
       'chances_created', 'shots_on_target', 'fouls_against', 'aces',
       'double_faults', 'sets_lost', 'breakpoints_won',
       'service_games_lost', 'games_won', 'games_lost', 'games_played',
       'strokes', 'birdies_or_better', 'bogeys_or_worse',
       'cumulative_par_3_strokes', 'map_1_and_2_kills',
       'headshots_on_maps_1_2', 'position', 'pts_rebs_asts', 'shots',
       'finishes', 'significant_strikes', 'takedowns', 'fight_time',
       'ppg', 'rpg', 'apg', 'goals', 'goalie_wins', 'total_yds'],
      dtype=object)

In [29]:
syntax = {
    'pts_rebs_asts': 'PTS+TRB+AST',
    'pts_rebs': 'PTS+TRB',
    'points': 'PTS',
    'free_throws_made': 'FT',
    'fantasy_points': 'Fantasy',
    'rebounds': 'TRB',
    'assists': 'AST',
    'steals': 'STL',
    'blocks': 'BLK',
    'blks_stls': 'BLK+STL',
    'turnovers': 'TO',
    'rebs_asts': 'TRB+AST',
    'pts_asts': 'PTS+AST',
    'three_points_made': '3PM',
    'shots': 'Shots',
    'goals': 'Goals',
    'saves': 'Goalie Saves',
    'clearances': 'Clearances',
    'goals_and_assists': 'Goals and Assists',
    'tackles': 'Tackles',
    'interceptions': 'Interceptions',
    'crosses': 'Crosses',
    'goals_against': 'Goal Against',
    'game_1_and_2_kills': 'MAPS 1-2 Kills',
    'map_1_and_2_kills': 'MAPS 1-2 Kills',
    'Headshots on Maps 1+2': 'MAPS 1-2 Headshots',
    'strokes': 'Strokes',
    'bogeys_or_worse': 'Bogeys or Worse',
    'birdies_or_better': 'Birdies or Better',
    'aces': 'Aces',
    'breakpoints_won': 'Break Points Won',
    'games_won': 'Games Won',
    'games_lost': 'Games Lost',
    'total_games': 'Total Games',
    'double_faults': 'Double Faults',
    'service_games_lost': 'Service Games Lost',
    'Fastest Laps': 'Fastest Laps',
    'position': 'position',
    'passing_yds': 'Pass Yards',
    'rushing_yds': 'Rush Yards',
    'receiving_yds': 'Receiving Yards' ,
    'fantasy_points': 'Hitter Fantasy Score',
    'strikeouts': 'Pitcher Strikeouts',
    'hits_runs_rbis': 'PTS',
    'singles':'Singles',
    'total_bases': 'Total Bases',
    'walks': 'Walks Allowed',
    'hits': 'Hits Allowed',
                }

In [30]:
df = df.replace(syntax)

In [31]:
df.loc[df['League'] == 'ESPORTS']

,Line,Stat,Player,League,Team,Date
1570,36.5,MAPS 1-2 Kills,amy,ESPORTS,Acend Rising,2023-10-06
1571,33.0,MAPS 1-2 Kills,Joliinaa,ESPORTS,Acend Rising,2023-10-06
1572,30.0,MAPS 1-2 Kills,Val: schnellAE,ESPORTS,Val: schnellAE,NaN
1573,24.5,MAPS 1-2 Kills,speedowka,ESPORTS,Acend Rising,2023-10-06
1574,23.0,MAPS 1-2 Kills,h6tedthemost,ESPORTS,Acend Rising,2023-10-06
...,...,...,...,...,...,...
1852,11.0,headshots_on_maps_1_2,Cooper,ESPORTS,Mythic,2023-10-06
1853,9.5,headshots_on_maps_1_2,h4rn,ESPORTS,Pompa,2023-10-06
1854,7.5,MAPS 1-2 Kills,MetroArcher,ESPORTS,Bytewave,2023-10-06
2260,11.5,Hitter Fantasy Score,J. Martinez + J. Outman,ESPORTS,3566eb7e-69fd-4f9f-a5ea-6f8db014b027,NaN
2263,2.5,PTS,J. Martinez + J. Outman,ESPORTS,3566eb7e-69fd-4f9f-a5ea-6f8db014b027,NaN

In [32]:
df.loc[df.Player=='Krimbo']

Empty DataFrame
Columns: [Line, Stat, Player, League, Team, Date]
Index: []

In [33]:
today = dt.date.today()

In [34]:
str(today)

'2023-10-06'

In [35]:
df.to_csv(f'Lines/doglines{today.month}_{today.day}')

In [36]:
df.loc[df.League=='ESPORTS']

,Line,Stat,Player,League,Team,Date
1570,36.5,MAPS 1-2 Kills,amy,ESPORTS,Acend Rising,2023-10-06
1571,33.0,MAPS 1-2 Kills,Joliinaa,ESPORTS,Acend Rising,2023-10-06
1572,30.0,MAPS 1-2 Kills,Val: schnellAE,ESPORTS,Val: schnellAE,NaN
1573,24.5,MAPS 1-2 Kills,speedowka,ESPORTS,Acend Rising,2023-10-06
1574,23.0,MAPS 1-2 Kills,h6tedthemost,ESPORTS,Acend Rising,2023-10-06
...,...,...,...,...,...,...
1852,11.0,headshots_on_maps_1_2,Cooper,ESPORTS,Mythic,2023-10-06
1853,9.5,headshots_on_maps_1_2,h4rn,ESPORTS,Pompa,2023-10-06
1854,7.5,MAPS 1-2 Kills,MetroArcher,ESPORTS,Bytewave,2023-10-06
2260,11.5,Hitter Fantasy Score,J. Martinez + J. Outman,ESPORTS,3566eb7e-69fd-4f9f-a5ea-6f8db014b027,NaN
2263,2.5,PTS,J. Martinez + J. Outman,ESPORTS,3566eb7e-69fd-4f9f-a5ea-6f8db014b027,NaN