In [1]:
#imports and scraping raw data from site
#df is the actual betting line
#df2 has other info, mostly using to get player id to name dict

import pandas as pd
import datetime as dt
import re
from unidecode import unidecode
import tls_client

In [2]:
dog_props_url = 'https://api.underdogfantasy.com/beta/v3/over_under_lines'
requests = tls_client.Session(
    client_identifier="chrome112",
)
response1 = requests.get(dog_props_url)

data = response1.json()

In [3]:
data.keys()

dict_keys(['appearances', 'games', 'over_under_lines', 'players', 'solo_games'])

In [4]:
df = pd.json_normalize(list(data.values()))
df.index = data.keys()
new = df.T['over_under_lines'].values
lines = pd.json_normalize(new)
lines.sample(2)

,id,live_event,live_event_stat,options,over_under_id,rank,stat_value,status,over_under.id,over_under.appearance_stat.id,over_under.appearance_stat.appearance_id,over_under.appearance_stat.display_stat,over_under.appearance_stat.graded_by,over_under.appearance_stat.pickem_stat_id,over_under.appearance_stat.stat,over_under.boost,over_under.scoring_type_id,over_under.title
2430,0c5c5b7a-69ed-4324-aa76-50246a108a2b,False,None,[{'id': '77b9ac91-382c-475f-9a51-281d5c6d5d07'...,da8d116a-a17f-409d-8ef2-84be05b59ecd,25102049,1.5,active,da8d116a-a17f-409d-8ef2-84be05b59ecd,aa7583d3-521b-46ce-813a-1fc4e34d4d55,a1f85405-f23f-44d7-a12a-4a5c2bcd0958,Kills in Map 2,high_score,8d5d17e8-9672-4da2-bc19-29be1d6815c1,kills_in_map_2,None,None,LoL: Nisqy Kills in Map 2 O/U
3219,32280c86-02e1-4e3e-a2ed-2050be94e40b,False,None,[{'id': 'f30b1eb9-5799-4f6b-bc19-0ef3108c8e12'...,15c9f075-4f09-4ea7-aecc-ffa8ed34bed3,25191151,28.0,active,15c9f075-4f09-4ea7-aecc-ffa8ed34bed3,94cc62af-5a2d-4a8b-bda0-3e2e6b3cf659,c40ba2b5-6ac9-4371-bf5d-b4790117219e,Kills on Map 1+2,high_score,fd4d222d-d4d0-4258-b0d2-d225e1947b0c,map_1_and_2_kills,None,None,CS: oxygeN Kills on Map 1+2 O/U

In [5]:
test =  pd.json_normalize(df.T['players'])
player_df = test.copy(deep=True)
player_df = player_df[['id','first_name', 'last_name',
       'sport_id','team_id']]
player_df = player_df.dropna()#

player_df.loc[player_df.sport_id=='ESPORTS']
x = player_df[player_df.sport_id=='ESPORTS']
p2esport = x[['last_name','first_name']].to_dict('split')
p2esport = dict(p2esport['data'])

In [6]:
test =  pd.json_normalize(df.T['players'])
player_df = test.copy(deep=True)
player_df = player_df[['id','first_name', 'last_name',
       'sport_id','team_id']]
player_df = player_df.dropna()
player_df.loc[player_df['sport_id'] != 'ESPORTS', 'full_name'] = player_df['first_name']+' ' + player_df['last_name']
player_df.loc[player_df['sport_id'] == 'ESPORTS', 'full_name'] = player_df['last_name']
#player_df['full_name'] = player_df['first_name']+' ' + player_df['last_name']
player_df = player_df[['full_name','sport_id','team_id']]
p2l = player_df[['full_name','sport_id']].to_dict('split')
p2tm = player_df[['full_name','team_id']].to_dict('split')
temp = p2l['data']
temp2 = p2tm['data']
p2l = dict(temp)
p2tm = dict(temp2)

In [7]:
player_df

,full_name,sport_id,team_id
0,LeBron James,NBA,97616c91-0509-42f8-99f3-04f3856a6377
1,Anthony Davis,NBA,97616c91-0509-42f8-99f3-04f3856a6377
2,Austin Reaves,NBA,97616c91-0509-42f8-99f3-04f3856a6377
3,D'Angelo Russell,NBA,97616c91-0509-42f8-99f3-04f3856a6377
4,Rui Hachimura,NBA,97616c91-0509-42f8-99f3-04f3856a6377
...,...,...,...
881,C. Carroll + K. Marte,MLBCOMBOS,db69f844-d6eb-4332-b133-796ce316890a
882,C. Walker + T. Pham,MLBCOMBOS,db69f844-d6eb-4332-b133-796ce316890a
883,N. Castellanos + A. Bohm,MLBCOMBOS,17bb8634-d7d6-4a42-af6e-603155ca1f8f
884,K. Schwarber + J. Realmuto,MLBCOMBOS,17bb8634-d7d6-4a42-af6e-603155ca1f8f
885,L. Gurriel Jr. + G. Moreno,MLBCOMBOS,db69f844-d6eb-4332-b133-796ce316890a

In [8]:
player_df.sport_id.unique()

array(['NBA', 'NFL', 'MLB', 'NHL', 'CFB', 'NBASZN', 'FIFA', 'ESPORTS',
       'NBACOMBOS', 'MLBCOMBOS'], dtype=object)

In [9]:
first2 = player_df['full_name'].apply(lambda x: ' '.join(x.split()[0:2]))
names = pd.DataFrame((first2,player_df.full_name))
names = names.T
names.columns=['first2','fullname']
names.loc[names.first2=='Jazz Chisholm']
first2full = names.to_dict('split')
first2full = dict(first2full['data'])

In [10]:
games = pd.json_normalize(df.T['games'].values).dropna(how='all')
#games = games.loc[games['sport_id']=='NBA']
games.tail(3)

,id,away_team_id,away_team_score,home_team_id,home_team_score,match_progress,period,scheduled_at,season_type,sport_id,status,title,type,year
81,56777.0,59e326fc-9b55-44f9-8a17-42215e654b86,0.0,3c703313-0b48-4938-86ae-d173a9e3d9f4,0.0,Tue 02:00pm,0.0,2023-10-24T18:00:00Z,regular,ESPORTS,scheduled,CS2: 1WIN vs. Sampi,Game,2023.0
82,56778.0,a1db780b-d55f-4e69-8de6-0fb03b60b3ec,0.0,130a1ea4-f142-4ca3-bf0e-83242c450157,0.0,Tue 02:00pm,0.0,2023-10-24T18:00:00Z,regular,ESPORTS,scheduled,CS2: Corinthians vs. Boca Juniors,Game,2023.0
83,56801.0,5c8eddf2-bc26-457b-a097-97a3b8cbef85,0.0,e95e00cd-f7ca-46a6-b1a2-ea45dd75a199,0.0,Tue 01:00pm,0.0,2023-10-24T17:00:00Z,regular,ESPORTS,scheduled,CS2: JANO vs. ENCE Academy,Game,2023.0

In [11]:
def to_central(date_str):
    x = pd.to_datetime(date_str)
    x = x.tz_convert('US/Central')
    return str(x.date())
to_central('2023-05-20T00:40:00Z')

'2023-05-19'

In [12]:
games.scheduled_at = games.scheduled_at.apply(to_central)

In [13]:
#grabbing team names from match title
matchup = games['title']
home = []
away = []
for i in matchup:
    temp = re.split(' @ |, |vs.',i)
    home.append(temp[0])
    away.append(temp[1])
#fixing esports team names
for i in range(len(home)):
    home[i] = home[i].split(': ')[-1]
    
for i in range(len(away)):
    away[i] = away[i].split(': ')[-1]

matchup = pd.DataFrame((away,home,games.away_team_id,games.home_team_id)).T
matchup.columns = ['Home', 'Away','away_id','home_id']
dates = games['scheduled_at'].values
#temp = []
#for i in dates:
#    temp.append(i.split('T')[0])
matchup['Date'] = dates
id2tm =  matchup[['home_id','Home']].to_dict('split')
id2tmaway =  matchup[['away_id','Away']].to_dict('split')
id2tm = dict(id2tm['data'])
id2tmaway = dict(id2tmaway['data'])
id2tm.update(id2tmaway)

In [14]:
games

,id,away_team_id,away_team_score,home_team_id,home_team_score,match_progress,period,scheduled_at,season_type,sport_id,status,title,type,year
0,52356.0,97616c91-0509-42f8-99f3-04f3856a6377,0.0,5d478d55-84f7-4786-beb9-9c009c5814f4,0.0,Tue 07:40pm,0.0,2023-10-24,regular,NBA,scheduled,LAL @ DEN,Game,2023.0
1,52357.0,f98f3baa-ad03-4188-9e8a-0cb52e1b900e,0.0,d399490e-0df0-4c33-b7c2-fafdadc3a4eb,0.0,Tue 10:10pm,0.0,2023-10-24,regular,NBA,scheduled,PHX @ GSW,Game,2023.0
2,52360.0,8f5852b6-c8dc-4cce-980a-eab09b28919a,0.0,c71a1a59-28ee-4ac6-ba44-d8aeb0d2ac3e,0.0,Wed 07:10pm,0.0,2023-10-25,regular,NBA,scheduled,BOS @ NYK,Game,2023.0
3,52361.0,09540cc3-fc27-4a59-b7a6-7a63f0e1df95,0.0,27c02dfc-343a-432b-8a64-c963035b609d,0.0,Wed 07:10pm,0.0,2023-10-25,regular,NBA,scheduled,HOU @ ORL,Game,2023.0
4,52359.0,402685bd-a73c-4eb1-8c0f-55debd622215,0.0,4da4781a-a2c2-49d7-a042-1dee71740668,0.0,Wed 07:10pm,0.0,2023-10-25,regular,NBA,scheduled,WAS @ IND,Game,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,56776.0,5d60f0ef-dc86-4b82-ba86-83df490e7b45,0.0,50a4445a-c860-4937-9846-a5d3d5297c0f,0.0,Tue 01:30pm,0.0,2023-10-24,regular,ESPORTS,scheduled,CS2: FTW vs. Entropiq,Game,2023.0
80,56724.0,501eaaff-16cc-4df5-8f76-f0f82f3b136c,0.0,01549315-0767-40a6-b89a-8f4631ff69cc,0.0,Tue 02:00pm,0.0,2023-10-24,regular,ESPORTS,scheduled,IBCP: UCAM Tokiers vs. Ramboot Club,Game,2023.0
81,56777.0,59e326fc-9b55-44f9-8a17-42215e654b86,0.0,3c703313-0b48-4938-86ae-d173a9e3d9f4,0.0,Tue 02:00pm,0.0,2023-10-24,regular,ESPORTS,scheduled,CS2: 1WIN vs. Sampi,Game,2023.0
82,56778.0,a1db780b-d55f-4e69-8de6-0fb03b60b3ec,0.0,130a1ea4-f142-4ca3-bf0e-83242c450157,0.0,Tue 02:00pm,0.0,2023-10-24,regular,ESPORTS,scheduled,CS2: Corinthians vs. Boca Juniors,Game,2023.0
83,56801.0,5c8eddf2-bc26-457b-a097-97a3b8cbef85,0.0,e95e00cd-f7ca-46a6-b1a2-ea45dd75a199,0.0,Tue 01:00pm,0.0,2023-10-24,regular,ESPORTS,scheduled,CS2: JANO vs. ENCE Academy,Game,2023.0

In [15]:
id2tm

{'5d478d55-84f7-4786-beb9-9c009c5814f4': 'DEN',
 'd399490e-0df0-4c33-b7c2-fafdadc3a4eb': 'GSW',
 'c71a1a59-28ee-4ac6-ba44-d8aeb0d2ac3e': 'NYK',
 '27c02dfc-343a-432b-8a64-c963035b609d': 'ORL',
 '4da4781a-a2c2-49d7-a042-1dee71740668': 'IND',
 '11cfe154-8ba6-4c22-be8f-2365656fb4da': 'CHA',
 'a34e5fa9-e4aa-4195-98bf-05710d97347d': 'BKN',
 '4ea17ce5-80e9-47b3-9955-2729a02bbe92': 'MIA',
 'fd41e35e-7b5d-48c3-be0c-69e958976f6b': 'TOR',
 '8ee0305d-067f-45e5-8586-1c111d3a43ec': 'CHI',
 '56a5d8c8-eb72-47db-9e93-5b24d8f5443a': 'MEM',
 'ade6b8fc-178f-4e7e-b43d-aa853bea0f3a': 'UTA',
 'fee4a894-1970-402a-873b-8faea88f4ec9': 'SAS',
 'bd4b60cd-5adb-4cc6-8e8a-97084501f386': 'LAC',
 'e142b705-dd0a-4803-8cde-a35788a65341': 'MIL',
 '0719b253-43db-532e-8b5c-6c12c6c3f951': 'BUF',
 '26e67e06-664e-50a6-ad7b-c102705fde8b': 'DAL',
 'ecc8eb1b-f714-57a6-bcf3-b183dd6c12a8': 'PIT',
 'a6d8dc19-daaf-5798-a8f2-df7f9fc9eecd': 'WAS',
 '9153e0a9-da83-5246-ba43-417537f1bcce': 'MIA',
 'f11f1cf1-9933-5203-8181-95020ee64399': 'IND',
 'd40a4380-49a6-5b5f-ab7d-f5393787ed12': 'NYG',
 'a2fadaac-562f-5a7e-bd63-6d88d90c1ac4': 'GB',
 'f96aa8db-21c2-5b86-b49d-7e64b4eda61d': 'TEN',
 '17f3bc4a-e2d6-5dc5-a554-00549ff0139f': 'CAR',
 '7161e62b-de20-56e2-a300-0dc23637faaa': 'SF',
 '7b3b21be-a209-5dee-a3f7-3fae61f52a1e': 'DEN',
 '8459772c-695a-5890-afa1-7ec38da17201': 'ARI',
 'c7b497d4-18b6-522b-abaa-e5c3d24bc021': 'LAC',
 '25101c7a-340a-4c08-a93d-979242271c89': 'PHI',
 'd5586d47-9744-408f-b4dd-d11a3f861b10': 'WSH',
 '2c4f17b2-8c69-4e44-a9d0-afa317137de7': 'CBJ',
 'cd01a7e8-34d4-4add-941e-84560138d229': 'OTT',
 '5cdace81-efe8-4b20-ada3-e9ceb0d52048': 'TB',
 'c44beb48-64a0-499e-ad49-61b519f27001': 'MTL',
 '89137af7-f2e1-4d68-aa58-a6e152831cec': 'PIT',
 'e1a07af8-365d-4261-8b9b-3ccbc99e5e21': 'FLA',
 'e6a0da7d-0c7b-4b59-811e-cdc953ecc483': 'NYI',
 'c285294d-d222-4072-b965-9b2daec69679': 'DET',
 '3b4a9985-39fa-4e99-bb10-087408e2499a': 'CHI',
 '136743a3-19a2-4ee7-b696-bec470ef20d1': 'WPG',
 '63281d2d-c1c7-4ce2-a0cc-6cc586651f96': 'MIN',
 'e6fa00a2-55eb-45f3-b8de-2a7ad7329f30': 'NSH',
 '1d0eee08-3650-4081-bae8-ac7bc3c3cec3': 'CGY',
 '2904aaa7-ffcf-4717-a723-28521efcc8e0': 'LA',
 '21c32c27-2668-4d04-a209-497292923e36': 'VGK',
 '6a701ae6-65f3-4787-8d98-529c32fb0090': 'LT',
 '47c9a638-eb23-4a9f-ab0c-6e053bdc994e': 'WKY',
 '5746bdd1-7069-4d58-a9c3-a8d6910064e9': 'Galatasaray',
 '0817e817-147f-4f95-a692-2bff5d467c88': 'Inter Milan',
 '7db868db-28af-4607-94cb-c3cbfb24f590': 'Sevilla',
 'e5c38924-be02-4d77-98d6-06324d759a74': 'Manchester United',
 'fa42e8cd-36ca-4fe6-ae5d-a06147931346': 'SC Braga',
 '55af5912-1df9-4633-b635-222e29a66da1': 'Union Berlin',
 '0df36812-8bf0-415d-bd63-d8e2ca528917': 'Benfica',
 'd1da1c1f-879d-475e-971a-0510d77525c6': 'Lens',
 'd7f09412-7fc2-4add-852c-dd4431fd334b': 'Barcelona',
 'f72778d8-e38a-41ed-af01-1c466cad4ee9': 'Young Boys Bern',
 '4e76167e-8dfb-4ba4-b0b3-b4391b980c7e': 'PSG',
 '2a769f67-40a9-49f3-924b-443dc7e64392': 'Newcastle',
 'c37ef7bf-048f-4aff-a8ef-cad3b66ed83e': 'Celtic Glasgow',
 '44edc42e-8321-445b-8b7a-d09ce19abbd0': 'Royal Antwerp',
 'f40a4914-61b2-4b84-8ec7-6fa0175932b1': 'RB Leipzig',
 'bbfe4dd3-4aac-4619-9966-f346d6e618e6': ' Fnatic',
 'dbcb8324-600b-412b-b2d6-6e52b3310f6e': ' Weibo Gaming',
 'af9d5347-7e33-46ee-8619-0c905f7c5cc7': ' GAM Esports',
 '300cb3c3-7f46-446b-96a5-e16c14fba355': ' LNG Esports',
 '78190320-4a07-4aa5-9799-f577ee043a05': ' G2 Esports',
 '64ba152a-62a8-45a5-af39-a88643dadf7b': ' Bilibili Gaming',
 'c134aa4e-6e8c-4107-9ccb-516166e4d8ae': ' Gaimin Gladiators',
 'ffa61b27-f1c9-4f02-ab5c-fa2b2b4c8be8': ' Virtus Pro',
 'c098509a-5ed6-4624-865a-7ffbc0837e62': ' Liquid',
 '45b3f70d-ff8f-498f-b38e-9859b69f7c7d': ' Azure Ray',
 '03fb1424-26e8-49b5-9adb-7d681c2356f4': ' KPI Gaming',
 'aed60817-a520-4269-ad3c-4486ce381050': ' Sprout',
 'd15f0905-e185-4ee3-b905-bbd8ab61c158': ' Falcons',
 'b75cee9c-acaf-447c-a9ec-a4f3376e2d14': ' PARIVISION',
 'ff1a2fab-740f-4274-b4bb-e5d384bec2a2': ' The Prodigies',
 '50a4445a-c860-4937-9846-a5d3d5297c0f': ' Entropiq',
 '01549315-0767-40a6-b89a-8f4631ff69cc': ' Ramboot Club',
 '3c703313-0b48-4938-86ae-d173a9e3d9f4': ' Sampi',
 '130a1ea4-f142-4ca3-bf0e-83242c450157': ' Boca Juniors',
 'e95e00cd-f7ca-46a6-b1a2-ea45dd75a199': ' ENCE Academy',
 '97616c91-0509-42f8-99f3-04f3856a6377': 'LAL',
 'f98f3baa-ad03-4188-9e8a-0cb52e1b900e': 'PHX',
 '8f5852b6-c8dc-4cce-980a-eab09b28919a': 'BOS',
 '09540cc3-fc27-4a59-b7a6-7a63f0e1df95': 'HOU',
 '402685bd-a73c-4eb1-8c0f-55debd622215': 'WAS',
 '04fc51d6-320c-4838-a087-f492067b71f5': 'ATL',
 '56fcd081-3e21-406e-af95-5716abbfba2e': 'CLE',
 '47f5f48d-3d14-46f3-b6dc-1e7b4dfb1e69': 'DET',
 'f15a9fdd-f178-42ff-aab6-63b9198a34c8': 'MIN',
 'f6d5eae0-8f7d-4c63-85b3-b06298f3852c': 'OKC',
 '40db32e9-eeb1-4fcf-9e0a-116518312ecf': 'NOP',
 'f97fdf6e-8328-4000-ba49-0b2ce0beae71': 'SAC',
 '2c204562-627d-4fbe-b9ba-24a8bbf87463': 'DAL',
 '0b3fe726-7730-492a-aa50-20413a5c8dae': 'POR',
 '4dd50e92-0a87-4a6a-bb5d-31c36d88ae72': 'PHI',
 '1a20f1da-c502-5224-9c4a-bc363174cd21': 'TB',
 'd150534e-6a05-587b-b9e3-50ef86602e20': 'LAR',
 'b49b653c-dc7c-516e-b1c2-da1b30d1b1a6': 'JAX',
 'de7219e5-92f1-5989-804a-68479055ba42': 'PHI',
 'ef876de9-81ac-5e60-af6e-0ca1700f3a51': 'NE',
 '530518ed-91db-57c4-9077-27cc0dd9a293': 'NO',
 '516ded41-e882-5175-9a00-d0b4c028eb74': 'NYJ',
 '5af1e185-627e-5345-851d-3c65c5b66614': 'MIN',
 '8699a914-7d44-5a36-b7a6-2063d3ea761f': 'ATL',
 '4ab08caa-b79d-598e-82ef-0906a60d2a89': 'HOU',
 'ab235cf0-a041-5d36-8241-90a90f0dcb5e': 'CIN',
 'a6f458f4-5078-56e4-a839-af96f1191314': 'KC',
 '01bfe9d5-f671-57ed-aa60-249fcca9267c': 'BAL',
 'e8a4678a-ccdb-5f35-be13-aef6e59a5680': 'CHI',
 '0331354e-f6cb-4dba-ba55-7c5c40ab9f5e': 'ARI',
 'dc5264a9-6ed2-4a86-aeac-a8051c2e6c6d': 'TOR',
 '9507b4a6-eea0-447d-af29-6391def14b20': 'ANA',
 '6ffb5a76-ee62-4902-a5aa-5af2859fb4b5': 'BUF',
 '3b80ba1c-1c0c-4006-b8d2-dcf9fc57c760': 'CAR',
 'f6045934-74fa-4952-8cc7-4de08c851a8b': 'NJ',
 '159c51c3-13f6-4bce-bed0-da3d52ac0dd8': 'DAL',
 '3d90c616-020e-4d1c-81c7-b3a2ae66b222': 'SJ',
 '9f5c083d-5d48-4a30-a4d1-f314130878ad': 'COL',
 '612c157d-112f-4aa9-a76b-3d17f6b99bb5': 'SEA',
 '7c59e23f-bc41-4c3e-960b-9af829cec890': 'BOS',
 '1c550b5a-a9ad-43eb-8b2c-547300c789e4': 'STL',
 '12ef58d0-e428-4279-b31b-657345da3a88': 'EDM',
 'fb8cd80e-6c4d-4935-ada0-2688ed01e203': 'VAN',
 '185d72b0-fc5a-463f-925b-203748f37b70': 'NYR',
 'fdf1d687-b6c7-4540-af74-bd6cbdb1ed0a': 'ARI',
 '20a441c7-0cee-48ce-9d26-c09c94a9e594': 'PHI',
 '8f4df877-4dcc-453e-87be-e6adc503a0d9': 'NMS',
 '50647f25-01fe-46f2-a485-6ea1c0141ba4': 'LIB',
 '5c753ee5-3d40-4431-9bd6-549c62ff18c7': 'Bayern München',
 '6f4f78ad-5f8f-4908-8a1c-ee3eeb06ee56': 'FC Salzburg',
 'fa6633d9-2de4-42d1-927e-470f9eb4299d': 'Arsenal',
 '607ba0f7-a81e-41d5-b61e-4b4f316c4771': 'FC Copenhagen',
 '4882e5ac-5226-4837-9170-721d003cdbb6': 'Real Madrid',
 'd567c02e-3f23-42d2-abf5-d0b821379330': 'Napoli',
 '7d53792a-5432-4a56-a1e8-db1aae53d9e7': 'Real Sociedad',
 'b4c96653-9976-401c-aec5-c9ca38448e87': 'PSV',
 'dde64ac1-dde1-4684-8cbe-424f5fddd4f6': 'Shakhtar Donetsk',
 'd6e35a45-f656-41e0-9728-dde203221fad': 'Manchester City',
 '4768a419-07f1-4caf-9209-b57ab384d2d8': 'AC Milan',
 'b05d1aa4-58a8-4599-9ea5-65e998db0d49': 'Borussia Dortmund',
 '872742d0-54e5-46fa-a770-9b0167617beb': 'Atletico Madrid',
 'a088aa38-2c29-4e8b-ba36-4c008b8384c4': 'FC Porto',
 '3b143704-25c9-420b-8475-c6acb25dd1f7': 'FK Crvena Zvezda Belgrade',
 'a8397a51-6561-4c11-9612-ec8c509bfd55': 'Cloud9 ',
 'de8bd1ec-c2ab-4a95-b40e-bbde0458ffd5': 'MAD Lions ',
 'c79dcdda-7bc8-4141-9225-e524670cb513': 'Dplus KIA ',
 '34ca9df4-d18b-4b0a-89fb-c649cc93ebc3': 'KT Rolster ',
 '68b60939-a1e5-4c3e-90e7-9ab2cb6cd943': 'NRG ',
 'b009004c-0127-436c-8a75-7c2e103e1151': 'T1 ',
 '637a8af7-9ab1-4e7d-9bb6-f58318164f6d': 'nouns ',
 '02c57162-f88f-4a43-962f-2970a2805a67': 'BetBoom ',
 '9dab9d7c-2df4-4518-8b14-4e8dfbb210b5': 'Spirit ',
 '7120de12-83ab-469f-94b6-705015745b38': 'LGD ',
 '5688f051-a6cb-420d-82dd-cce79e3517d6': 'SAW ',
 '67a84a84-87b5-4968-a87f-52ec86c9db43': 'BIG ',
 'a54986a8-c833-4872-ada2-759747738c2a': 'FORZE ',
 '58eba309-5337-460b-9a82-cd8662a50f94': 'B8 ',
 'c85bc5cb-42ee-4e4f-a9e3-1c2bc28cbf7a': 'Aurora ',
 'b790233c-9397-444f-9094-49bf773041bb': 'Sangal ',
 '5d60f0ef-dc86-4b82-ba86-83df490e7b45': 'FTW ',
 '501eaaff-16cc-4df5-8f76-f0f82f3b136c': 'UCAM Tokiers ',
 '59e326fc-9b55-44f9-8a17-42215e654b86': '1WIN ',
 'a1db780b-d55f-4e69-8de6-0fb03b60b3ec': 'Corinthians ',
 '5c8eddf2-bc26-457b-a097-97a3b8cbef85': 'JANO '}

In [16]:
lines = lines[['stat_value','over_under.appearance_stat.stat', 'over_under.title']]
lines
players = lines['over_under.title'].values
guys = []
for i in players:
    temp = i.split()
    final = temp[0] + ' '+temp[1]
    guys.append(final)
    
guys
lines= lines.rename(columns={'stat_value':'Line','over_under.appearance_stat.stat':'Stat', 'over_under.title':'title'})
lines['Player']= guys
lines['Player'] = lines['Player'].apply(lambda x: unidecode(x).replace('_',' '))

In [17]:
def map_name(x):
    if x is None:
        return None
    if x in first2full:
        return first2full[x]
    elif x.split(': ')[-1] in first2full:
        return x.split(': ')[-1]
    elif x.split()[-1] in first2full:
        return x.split()[-1]
    else:
        return x

lines['Player'] = lines['Player'].apply(lambda x: map_name(x))
lines.Player.unique()

array(['LeBron James', 'Anthony Davis', 'Austin Reaves',
       "D'Angelo Russell", 'Rui Hachimura', 'Taurean Prince',
       'Gabe Vincent', 'Christian Wood', 'Nikola Jokic', 'Jamal Murray',
       'Michael Porter Jr.', 'Aaron Gordon', 'Kentavious Caldwell-Pope',
       'Christian Braun', 'Kevin Durant', 'Devin Booker', 'Jusuf Nurkic',
       'Stephen Curry', 'Klay Thompson', 'Chris Paul', 'Andrew Wiggins',
       'Kevon Looney', 'Jayson Tatum', 'Jaylen Brown',
       'Kristaps Porzingis', 'Jrue Holiday', 'Derrick White',
       'Jalen Brunson', 'Julius Randle', 'RJ Barrett',
       'Mitchell Robinson', 'Quentin Grimes', 'Fred VanVleet',
       'Jalen Green', 'Jabari Smith Jr.', 'Alperen Sengun',
       'Dillon Brooks', 'Paolo Banchero', 'Franz Wagner',
       'Wendell Carter Jr.', 'Markelle Fultz', 'Jordan Poole',
       'Tyus Jones', 'Daniel Gafford', 'Tyrese Haliburton',
       'Myles Turner', 'Bruce Brown', 'Bennedict Mathurin', 'Obi Toppin',
       'Trae Young', 'Dejounte Murray', 'Clint Capela', "De'Andre Hunter",
       'Saddiq Bey', 'LaMelo Ball', 'Terry Rozier', 'Gordon Hayward',
       'PJ Washington', 'Mark Williams', 'Donovan Mitchell',
       'Darius Garland', 'Evan Mobley', 'Max Strus', 'Mikal Bridges',
       'Spencer Dinwiddie', 'Nic Claxton', 'Ben Simmons',
       'Cade Cunningham', 'Jaden Ivey', 'Jalen Duren', 'Isaiah Stewart',
       'Ausar Thompson', 'Jimmy Butler', 'Bam Adebayo', 'Tyler Herro',
       'Anthony Edwards', 'Karl-Anthony Towns', 'Rudy Gobert',
       'Mike Conley', 'Pascal Siakam', 'Scottie Barnes', 'OG Anunoby',
       'Jakob Poeltl', 'Dennis Schroder', 'Shai Gilgeous-Alexander',
       'Chet Holmgren', 'Josh Giddey', 'Jalen Williams', 'Luguentz Dort',
       'DeMar DeRozan', 'Zach LaVine', 'Nikola Vucevic', 'Coby White',
       'Patrick Williams', 'Zion Williamson', 'Brandon Ingram',
       'CJ McCollum', 'Herbert Jones', 'Jonas Valanciunas',
       'Jaren Jackson Jr.', 'Desmond Bane', 'Marcus Smart',
       'Ziaire Williams', 'Xavier Tillman', 'Domantas Sabonis',
       "De'Aaron Fox", 'Keegan Murray', 'Harrison Barnes',
       'Kevin Huerter', 'Lauri Markkanen', 'Walker Kessler',
       'John Collins', 'Victor Wembanyama', 'Keldon Johnson',
       'Devin Vassell', 'Jeremy Sochan', 'Zach Collins',
       'Scoot Henderson', 'Jerami Grant', 'Anfernee Simons',
       'Kawhi Leonard', 'Paul George', 'Russell Westbrook', 'Ivica Zubac',
       'Terance Mann', 'Joel Embiid', 'Tyrese Maxey',
       'Giannis Antetokounmpo', 'Damian Lillard', 'Brook Lopez',
       'Baker Mayfield', 'Mike Evans', 'Josh Allen', 'James Cook',
       'Stefon Diggs', 'Gabe Davis', 'Dalton Kincaid', 'Matthew Stafford',
       'Cooper Kupp', 'Dak Prescott', 'Tony Pollard', 'CeeDee Lamb',
       'Trevor Lawrence', 'Travis Etienne Jr.', 'Calvin Ridley',
       'Kenny Pickett', 'George Pickens', 'Jalen Hurts', "D'Andre Swift",
       'A.J. Brown', 'Sam Howell', 'Terry McLaurin', 'Mac Jones',
       'Tua Tagovailoa', 'Raheem Mostert', 'Tyreek Hill', 'Derek Carr',
       'Alvin Kamara', 'Chris Olave', 'Gardner Minshew II',
       'Michael Pittman Jr.', 'Zach Wilson', 'Breece Hall',
       'Garrett Wilson', 'Saquon Barkley', 'Jordan Love',
       'Christian Watson', 'Desmond Ridder', 'Drake London',
       'C.J. Stroud', 'Nico Collins', 'Bryce Young', 'Adam Thielen',
       'Joe Burrow', 'Joe Mixon', "Ja'Marr Chase", 'Patrick Mahomes',
       'Isiah Pacheco', 'Travis Kelce', 'Russell Wilson',
       'Javonte Williams', 'Courtland Sutton', 'Lamar Jackson',
       'Mark Andrews', 'Justin Herbert', 'Austin Ekeler', 'Keenan Allen',
       'Brandon Pfaadt', 'Corbin Carroll', 'Ketel Marte',
       'Christian Walker', 'Tommy Pham', 'Gabriel Moreno',
       'Evan Longoria', 'Geraldo Perdomo', 'Lourdes Gurriel Jr.',
       'Ranger Suarez', 'Bryce Harper', 'Trea Turner', 'Kyle Schwarber',
       'Nick Castellanos', 'J.T. Realmuto', 'Alec Bohm', 'Brandon Marsh',
       'Bryson Stott', 'Joseph Woll', 'Auston Matthews',
       'Mitchell Marner', 'William Nylander', 'John Tavares',
       'Tyler Bertuzzi', 'Max Domi', 'Morgan Rielly', 'John Klingberg',
       'Mark Giordano', 'T.J. Brodie', 'Darcy Kuemper', 'Alex Ovechkin',
       'John Carlson', 'T.J. Oshie', 'Evgeny Kuznetsov', 'Tom Wilson',
       'Dylan Strome', 'Trevor van Riemsdyk', 'Frank Vatrano',
       'Troy Terry', 'Trevor Zegras', 'Mason McTavish', 'Adam Henrique',
       'Ryan Strome', 'Leo Carlsson', 'Elvis Merzlikins',
       'Johnny Gaudreau', 'Boone Jenner', 'Adam Fantilli',
       'Kirill Marchenko', 'Zach Werenski', 'Kent Johnson',
       'Ivan Provorov', 'Ukko-Pekka Luukkonen', 'Tage Thompson',
       'Alex Tuch', 'Rasmus Dahlin', 'Jeff Skinner', 'Dylan Cozens',
       'Victor Olofsson', 'JJ Peterka', 'Erik Johnson', 'Anton Forsberg',
       'Brady Tkachuk', 'Tim Stutzle', 'Thomas Chabot', 'Drake Batherson',
       'Vladimir Tarasenko', 'Claude Giroux', 'Jakob Chychrun',
       'Josh Norris', 'Brent Burns', 'Martin Necas', 'Seth Jarvis',
       'Teuvo Teravainen', 'Michael Bunting', 'Jordan Martinook',
       'Jonas Johansson', 'Nikita Kucherov', 'Steven Stamkos',
       'Brayden Point', 'Victor Hedman', 'Brandon Hagel',
       'Mikhail Sergachev', 'Jack Hughes', 'Timo Meier',
       'Dougie Hamilton', 'Tyler Toffoli', 'Nico Hischier',
       'Jesper Bratt', 'Cole Caufield', 'Michael Matheson',
       'Josh Anderson', 'Brendan Gallagher', 'Sean Monahan',
       'Jake Oettinger', 'Jason Robertson', 'Roope Hintz', 'Tyler Seguin',
       'Miro Heiskanen', 'Joe Pavelski', 'Jamie Benn', 'Matt Duchene',
       'Wyatt Johnston', 'Alex Nedeljkovic', 'Sidney Crosby',
       'Evgeni Malkin', 'Jake Guentzel', 'Erik Karlsson',
       'Rickard Rakell', 'Kris Letang', 'Bryan Rust', 'Reilly Smith',
       'Anthony Duclair', 'Tomas Hertl', 'Mike Hoffman',
       'Alexander Barabanov', 'Matt Benning', 'Anthony Stolarz',
       'Matthew Tkachuk', 'Carter Verhaeghe', 'Aleksander Barkov',
       'Sam Reinhart', 'Evan Rodrigues', 'Oliver Ekman-Larsson',
       'Gustav Forsling', 'Anton Lundell', 'Niko Mikkola',
       'Alexandar Georgiev', 'Nathan MacKinnon', 'Mikko Rantanen',
       'Cale Makar', 'Valeri Nichushkin', 'Artturi Lehkonen',
       'Devon Toews', 'Josh Manson', 'Samuel Girard', 'Ilya Sorokin',
       'Brock Nelson', 'Bo Horvat', 'Mathew Barzal', 'Adam Pelech',
       'Alexander Romanov', 'Anders Lee', 'Kyle Palmieri', 'Jared McCann',
       'Oliver Bjorkstrand', 'Jaden Schwartz', 'Jordan Eberle',
       'Matty Beniers', 'Adam Larsson', 'Jamie Oleksiak', 'Vince Dunn',
       'Ville Husso', 'Dylan Larkin', 'David Perron', 'Alex DeBrincat',
       'David Pastrnak', 'Brad Marchand', 'Jake DeBrusk',
       'Charlie McAvoy', 'Petr Mrazek', 'Connor Bedard', 'Seth Jones',
       'Andreas Athanasiou', 'Jordan Kyrou', 'Kevin Hayes',
       'Justin Faulk', 'Jakub Vrana', 'Brayden Schenn',
       'Connor Hellebuyck', 'Kyle Connor', 'Nikolaj Ehlers',
       'Josh Morrissey', 'Mark Scheifele', 'Alex Iafallo',
       'Leon Draisaitl', 'Evander Kane', 'Zach Hyman',
       'Ryan Nugent-Hopkins', 'Evan Bouchard', 'Warren Foegele',
       'Filip Gustavsson', 'Kirill Kaprizov', 'Joel Eriksson Ek',
       'Mats Zuccarello', 'Ryan Hartman', 'Marcus Johansson',
       'Frederick Gaudreau', 'Elias Pettersson', 'J.T. Miller',
       'Brock Boeser', 'Andrei Kuzmenko', 'Quinn Hughes', 'Ilya Mikheyev',
       'Roman Josi', 'Filip Forsberg', "Ryan O'Reilly", 'Thomas Novak',
       'Luke Evangelista', 'Ryan McDonagh', 'Alexandre Carrier',
       'Mika Zibanejad', 'Chris Kreider', 'Artemi Panarin',
       'Vincent Trocheck', 'Adam Fox', 'Jacob Trouba', 'Jacob Markstrom',
       'Nazem Kadri', 'Mikael Backlund', 'Jonathan Huberdeau',
       'Noah Hanifin', 'Elias Lindholm', 'Andrew Mangiapane',
       'Connor Ingram', 'Clayton Keller', 'Barrett Hayton',
       'Nick Schmaltz', 'Kevin Fiala', 'Adrian Kempe',
       'Pierre-Luc Dubois', 'Anze Kopitar', 'Phillip Danault',
       'Drew Doughty', 'Trevor Moore', 'Arthur Kaliyev', 'Travis Konecny',
       'Owen Tippett', 'Sean Couturier', 'Cam Atkinson', 'Scott Laughton',
       'Jack Eichel', 'Jonathan Marchessault', 'Mark Stone',
       'Shea Theodore', 'William Karlsson', 'Chandler Stephenson',
       'Nicolas Roy', 'Diego Pavia', 'Star Thomas', 'Jonathan Brady',
       'Hank Bachmeier', 'Smoke Harris', 'Cyrus Allen', 'Kaidon Salter',
       'Quinton Cooley', 'Treon Sibley', 'CJ Daniels', 'Austin Reed',
       'Malachi Corley', 'Kyrie Irving', 'Luka Doncic', 'Bradley Beal',
       'Brandon Miller', 'Kyle Kuzma', 'Deandre Ayton',
       'Bojan Bogdanovic', 'Jarrett Allen', 'Bobby Portis',
       'Sven Ulreich', 'Harry Kane', 'Leroy Sane', 'Jamal Musiala',
       'Kingsley Coman', 'Joshua Kimmich', 'Mauro Icardi',
       'Wilfried Zaha', 'Kerem Akturkoglu', 'Fernando Muslera',
       'Alexander Schlager', 'Yann Sommer', 'Lautaro Martinez',
       'Hakan Calhanoglu', 'Henrikh Mkhitaryan', 'Alexis Sanchez',
       'David Raya', 'Bukayo Saka', 'Martin Odegaard',
       'Gabriel Martinelli', 'Gabriel Jesus', 'Kai Havertz',
       'William Saliba', 'Orjan Nyland', 'Youssef En-Nesyri',
       'Lucas Ocampos', 'Dodi Lukebakio', 'Sergio Ramos', 'Loic Bade',
       'Kamil Grabara', 'Diogo Goncalves', 'Elias Achouri',
       'Viktor Claesson', 'Mohamed Elyounoussi', 'Denis Vavro',
       'Andre Onana', 'Marcus Rashford', 'Bruno Fernandes',
       'Rasmus Hojlund', 'Sofyan Amrabat', 'Harry Maguire',
       'Kepa Arrizabalaga', 'Vinicius Junior', 'Jude Bellingham',
       'Federico Valverde', 'Mato Joselu', 'Bruma Shots', 'Bruma Passes',
       'Ricardo Horta', 'Matheus Magalhaes', 'Alex Meret',
       'Khvicha Kvaratskhelia', 'Piotr Zielinski', 'Matteo Politano',
       'Natan Passes', 'Frederik Ronnow', 'Sheraldo Becker',
       'Kevin Behrens', 'Christopher Trimmel', 'Alex Kral', 'Alex Remiro',
       'Take Shots', 'Mikel Oyarzabal', 'Brais Mendez', 'Anatolii Trubin',
       'Rafa Silva', 'David Neres', 'Petar Musa', 'Joao Mario',
       'Luuk De Jong', 'Johan Bakayoko', 'Ismael Saibari',
       'Walter Benitez', 'Hirving Lozano', 'Brice Samba',
       'Florian Sotoca', 'Wesley Said', 'Angelo Fulgini',
       'Sepe Elye Wahi', 'Kevin Danso', 'Ferran Torres', 'Ilkay Gundogan',
       'Joao Felix', 'Lamine Yamal Nasraqui Ebana', 'Ederson Saves',
       'Erling Haaland', 'Julian Alvarez', 'Jack Grealish', 'Phil Foden',
       'Rodri Shots', 'Kyle Walker', 'Jeremy Doku', 'Anthony Racioppi',
       'Darian Males', 'Cedric Itten', 'Filip Ugrinic', 'Mike Maignan',
       'Olivier Giroud', 'Rafael Leao', 'Theo Hernandez',
       'Gianluigi Donnarumma', 'Kylian Mbappe', 'Ousmane Dembele',
       'Goncalo Ramos', 'Achraf Hakimi', 'Gregor Kobel', 'Julian Brandt',
       'Donyell Malen', 'Marco Reus', 'Niclas Fullkrug', 'Emre Can',
       'Mats Hummels', 'Nick Pope', 'Alexander Isak', 'Miguel Almiron',
       'Anthony Gordon', 'Bruno Guimaraes', 'Jan Oblak',
       'Antoine Griezmann', 'Alvaro Morata', 'Joe Hart',
       'Kyogo Furuhashi', 'Daizen Maeda', 'Claudio Ramos',
       'Wenderson Galeno', 'Mehdi Taremi', 'Jean Butez',
       'Vincent Janssen', 'Arbnor Muja', 'Lois Openda', 'Xavi Simons',
       'Emil Forsberg', 'Grigor Dimitrov', 'Gael Monfils',
       'Jannik Sinner', 'Aslan Karatsev', 'Daniil Medvedev',
       'Stan Wawrinka', 'Adrian Mannarino', 'Felix Auger-Aliassime',
       'Taylor Fritz', 'Ugo Humbert', 'Casper Ruud', 'Qinwen Zheng',
       'Barbora Krejcikova', 'Madison Keys', 'Berserker+Emenes',
       'Blaber+Fudge', 'Fudge', 'Blaber', 'EMENES', 'Zven', 'Berserker',
       'Noah+Humanoid', 'Oscarinin+Razork', 'Oscarinin', 'Razork',
       'Humanoid', 'Trymbi', 'Noah', 'Nisqy+Carzzy', 'Chasy+Elyoya',
       'Chasy', 'Elyoya', 'Nisqy', 'Hylissang', 'Carzzy', 'Theshy+Weiwei',
       'Xiaohu+Light', 'TheShy', 'WeiWei', 'Xiaohu', 'Crisp', 'Light',
       'Canna+Canyon', 'Deft+ShowMaker', 'Canna', 'Canyon', 'ShowMaker',
       'Kellin', 'Deft', 'Kati', 'Levi+Kiaya', 'Kiaya', 'Levi', 'Palette',
       'Slayder', 'Kiin+Cuzz', 'Aiming+Bdd', 'Kiin', 'Cuzz', 'Bdd',
       'Lehends', 'Aiming', 'Zika+Tarzan', 'Gala+Scout', 'Zika', 'Tarzan',
       'Scout', 'Hang', 'GALA', 'Dhokla+Contractz', 'Palafox+FBI',
       'Dhokla', 'Contractz', 'Palafox', 'IgNar', 'FBI',
       'Yike+BrokenBlade', 'LoL: Hans', 'LoL: Broken', 'Yike', 'caPs',
       'Mikyx', 'Gumayusi+Faker', 'Zeus+Oner', 'Zeus', 'Oner', 'Faker',
       'Keria', 'Gumayusi', 'Elk+Yagao', 'Bin+XUN', 'Bin', 'XUN', 'Yagao',
       'ON', 'Elk', 'Dota: K1', 'Gunnar', 'Moo', 'Dota: Lelis', 'Yamsun',
       'dyrachYO', 'Quinn', 'Ace', 'tOfu', 'Seleri', 'Nightfall', 'gpk',
       'Pure', 'Save-', 'TORONTOTOKYO', 'Kiritych', 'squad1x', 'Noticed',
       'sayuw', 'FNG', 'Yatoro', 'Larl', 'Collapse', 'Mira', 'Miposhka',
       'miCKe', 'Nisha', 'zai', 'Boxi', 'iNSaNiA', 'shiro',
       'NothingToSay', 'niu', 'planet', 'Dota: y`', 'Lou', 'Somnus',
       'Chalice', 'fy', 'Dota: Tian Ming ', 'Addicted', 'Fragger', 'brk',
       'k1zpawn', 'pdr', 'purp0', 'zeddy', 'dimaxx', 'B1SK', 'Insider',
       'mantuu', 'prosus', 'Krimbo', 's1n', 'tabseN', 'cej0t', 'spooke',
       'Zyphon', 'w0nderful', 'raalz', 'Krad', 'tN1R', 'shalfey',
       'r3salt', 'bodyy', 'mhL', 'lauNX', 'NBK-', 'BOROS', 'r1nkle',
       'OWNER', 'npl', 'cptkurtka023', 'amster', 'xsepower', 'Raijin',
       'Jerry', 'X5G7V', 'BELCHONOKK', 'SELLTER', 'KENSI', 'Norwi',
       'Lack1', 'lattykk', 'kyuubii', 'Yxngstxr', 'sausol', 'PANIX',
       'LNZ', 'Gizmy', 'shield', 'consss', 'P4TriCK', 'krii', 'stadodo',
       'Shr', 'Ag1l', 'CS: pr', 'NOPEEJ', 'Marix', 'c0llins', 'forsyy',
       'tiziaN', 'oxygeN', 'Papiteero', 'xeonerr', 'Hatrixx', 'infoneral',
       'NickelBack', 'TRAVIS', 'deko', 'Forester', 'Boombl4', 'Rafitta',
       'Kenal', 'Seneca', 'Owlonsky', 'Kaylem', 'Universe', 'sAvana1',
       'MATYS', 'CS: The', 'T4gg3D', 'fino', 'fREQ', 'Demonos', 'DANVIET',
       'r4ul', 'proSHOW', 'BK1', 'pavv', 'lenci', 'atarax1a',
       'relentless', 'allu', 'zks', 'Jerppa', 'Sm1llee', 'Jelo', 'S1rva',
       'myltsi', 'podi', 'juissi', 'HENU', 'L. James + A. Davis',
       'N. Jokic + J. Murray', 'M. Porter Jr. + A. Gordon',
       'D. Russell + A. Reaves', 'R. Hachimura + T. Prince',
       'S. Curry + C. Paul', 'K. Thompson + A. Wiggins',
       'K. Durant + J. Nurkic', 'B. Pfaadt', 'B. Harper + T. Turner',
       'C. Carroll + K. Marte', 'C. Walker + T. Pham',
       'N. Castellanos + A. Bohm', 'K. Schwarber + J. Realmuto',
       'L. Gurriel Jr. + G. Moreno'], dtype=object)

In [18]:
league = []
for p in guys:
    if p in p2l:
        league.append(p2l[p])
    elif p.split()[-1] in p2l:
        league.append(p2l[p.split()[-1]])
    else:
        league.append('other')
league[0:5]

['NBASZN', 'NBASZN', 'NBASZN', 'NBASZN', 'NBASZN']

In [19]:
guys[1000:1007]

['Zach LaVine',
 'Zach LaVine',
 'Nikola Vucevic',
 'Nikola Vucevic',
 'Nikola Vucevic',
 'Nikola Vucevic',
 'Nikola Vucevic']

In [20]:
team_id = []
for p in guys:
    if p in p2l:
        team_id.append(p2tm[p])
    elif p.split()[-1] in p2l:
        team_id.append(p2tm[p.split()[-1]])
    else:
        team_id.append('other')
team_id[0:5]

['b075de5a-578f-417c-8a5c-cf0ff08101b2',
 'b075de5a-578f-417c-8a5c-cf0ff08101b2',
 'b075de5a-578f-417c-8a5c-cf0ff08101b2',
 'b075de5a-578f-417c-8a5c-cf0ff08101b2',
 'b075de5a-578f-417c-8a5c-cf0ff08101b2']

In [21]:
lines['League'] = league
lines

,Line,Stat,title,Player,League
0,23.5,points,LeBron James Points O/U,LeBron James,NBASZN
1,38.5,pts_rebs_asts,LeBron James Pts + Rebs + Asts O/U,LeBron James,NBASZN
2,6.5,assists,LeBron James Assists O/U,LeBron James,NBASZN
3,7.5,rebounds,LeBron James Rebounds O/U,LeBron James,NBASZN
4,14.5,rebs_asts,LeBron James Rebounds + Assists O/U,LeBron James,NBASZN
...,...,...,...,...,...
3323,2.5,total_bases,N. Castellanos + A. Bohm Total Bases O/U,N. Castellanos + A. Bohm,other
3324,3.5,hits_runs_rbis,C. Walker + T. Pham Hits + Runs + RBIs O/U,C. Walker + T. Pham,other
3325,3.5,hits_runs_rbis,N. Castellanos + A. Bohm Hits + Runs + RBIs O/U,N. Castellanos + A. Bohm,other
3326,12.5,fantasy_points,L. Gurriel Jr. + G. Moreno Fantasy Points O/U,L. Gurriel Jr. + G. Moreno,other
3327,3.5,hits_runs_rbis,L. Gurriel Jr. + G. Moreno Hits + Runs + RBIs O/U,L. Gurriel Jr. + G. Moreno,other

In [22]:
def map_team(x):
    if x in p2tm:
        return p2tm[x]
    elif p.split()[-1] in p2l:
        return p2tm[p.split()[-1]]
    else:
        return x

lines['team_id'] = lines.Player.apply(lambda x: map_team(x))
lines

,Line,Stat,title,Player,League,team_id
0,23.5,points,LeBron James Points O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2
1,38.5,pts_rebs_asts,LeBron James Pts + Rebs + Asts O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2
2,6.5,assists,LeBron James Assists O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2
3,7.5,rebounds,LeBron James Rebounds O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2
4,14.5,rebs_asts,LeBron James Rebounds + Assists O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2
...,...,...,...,...,...,...
3323,2.5,total_bases,N. Castellanos + A. Bohm Total Bases O/U,N. Castellanos + A. Bohm,other,17bb8634-d7d6-4a42-af6e-603155ca1f8f
3324,3.5,hits_runs_rbis,C. Walker + T. Pham Hits + Runs + RBIs O/U,C. Walker + T. Pham,other,db69f844-d6eb-4332-b133-796ce316890a
3325,3.5,hits_runs_rbis,N. Castellanos + A. Bohm Hits + Runs + RBIs O/U,N. Castellanos + A. Bohm,other,17bb8634-d7d6-4a42-af6e-603155ca1f8f
3326,12.5,fantasy_points,L. Gurriel Jr. + G. Moreno Fantasy Points O/U,L. Gurriel Jr. + G. Moreno,other,db69f844-d6eb-4332-b133-796ce316890a
3327,3.5,hits_runs_rbis,L. Gurriel Jr. + G. Moreno Hits + Runs + RBIs O/U,L. Gurriel Jr. + G. Moreno,other,db69f844-d6eb-4332-b133-796ce316890a

In [23]:
def map_id(x):
    if x in id2tm:
        return id2tm[x]
    else:
        return x
#lines['team_id'] = lines.team_id.apply(lambda x: map_id(x))

In [24]:
final = pd.merge(lines,matchup, how='left',left_on='team_id',right_on='away_id')
final = final.drop(['Home', 'Away','home_id','away_id'], axis=1)
final2 = pd.merge(final,matchup, how='left',left_on='team_id',right_on='home_id')
final2 = final2.drop(['Home', 'Away','home_id','away_id'], axis=1)
final2['Date'] = final2['Date_x'].fillna(final2['Date_y'])
final2 = final2.drop(['Date_x', 'Date_y'], axis=1)
final2['team_id'] = final2.team_id.apply(lambda x: map_id(x))
final2#.loc[final.Player=='Jimmy Butler']

,Line,Stat,title,Player,League,team_id,Date
0,23.5,points,LeBron James Points O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
1,38.5,pts_rebs_asts,LeBron James Pts + Rebs + Asts O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
2,6.5,assists,LeBron James Assists O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
3,7.5,rebounds,LeBron James Rebounds O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
4,14.5,rebs_asts,LeBron James Rebounds + Assists O/U,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
...,...,...,...,...,...,...,...
3343,2.5,total_bases,N. Castellanos + A. Bohm Total Bases O/U,N. Castellanos + A. Bohm,other,17bb8634-d7d6-4a42-af6e-603155ca1f8f,NaN
3344,3.5,hits_runs_rbis,C. Walker + T. Pham Hits + Runs + RBIs O/U,C. Walker + T. Pham,other,db69f844-d6eb-4332-b133-796ce316890a,NaN
3345,3.5,hits_runs_rbis,N. Castellanos + A. Bohm Hits + Runs + RBIs O/U,N. Castellanos + A. Bohm,other,17bb8634-d7d6-4a42-af6e-603155ca1f8f,NaN
3346,12.5,fantasy_points,L. Gurriel Jr. + G. Moreno Fantasy Points O/U,L. Gurriel Jr. + G. Moreno,other,db69f844-d6eb-4332-b133-796ce316890a,NaN
3347,3.5,hits_runs_rbis,L. Gurriel Jr. + G. Moreno Hits + Runs + RBIs O/U,L. Gurriel Jr. + G. Moreno,other,db69f844-d6eb-4332-b133-796ce316890a,NaN

In [25]:
final2.columns = ['Line', 'Stat', 'title', 'Player', 'League', 'Team', 'Date']

In [26]:
df = final2[['Line', 'Stat', 'Player', 'League', 'Team', 'Date']].copy(deep=True)
df

,Line,Stat,Player,League,Team,Date
0,23.5,points,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
1,38.5,pts_rebs_asts,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
2,6.5,assists,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
3,7.5,rebounds,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
4,14.5,rebs_asts,LeBron James,NBASZN,b075de5a-578f-417c-8a5c-cf0ff08101b2,NaN
...,...,...,...,...,...,...
3343,2.5,total_bases,N. Castellanos + A. Bohm,other,17bb8634-d7d6-4a42-af6e-603155ca1f8f,NaN
3344,3.5,hits_runs_rbis,C. Walker + T. Pham,other,db69f844-d6eb-4332-b133-796ce316890a,NaN
3345,3.5,hits_runs_rbis,N. Castellanos + A. Bohm,other,17bb8634-d7d6-4a42-af6e-603155ca1f8f,NaN
3346,12.5,fantasy_points,L. Gurriel Jr. + G. Moreno,other,db69f844-d6eb-4332-b133-796ce316890a,NaN
3347,3.5,hits_runs_rbis,L. Gurriel Jr. + G. Moreno,other,db69f844-d6eb-4332-b133-796ce316890a,NaN

In [27]:
df = df.reset_index(drop=True)

In [28]:
df.Stat.unique()

array(['points', 'pts_rebs_asts', 'assists', 'rebounds', 'rebs_asts',
       'pts_rebs', 'pts_asts', 'free_throws_made', 'turnovers',
       'three_points_att', 'personal_fouls', 'blks_stls',
       'field_goals_att', 'steals', 'three_points_made', 'blocks',
       'double_doubles', 'passing_yds', 'receiving_yds', 'rushing_yds',
       'passing_ints', 'fantasy_points', 'strikeouts', 'pitch_outs',
       'runs_allowed', 'hits_runs_rbis', 'singles', 'total_bases',
       'hits_allowed', 'runs', 'goals_against', 'saves', 'shots',
       'blocked_shots', 'goals', 'passing_and_rushing_yds',
       'receiving_rec', 'ppg', 'rpg', 'apg', '3pg', 'shots_attempted',
       'goals_assists', 'chances_created', 'shots_on_target', 'passes',
       'fouls_against', 'aces', 'double_faults', 'sets_lost',
       'breakpoints_won', 'service_games_lost', 'games_won', 'games_lost',
       'games_played', 'kills_in_maps_1_2', 'fantasy_points_on_maps_1_2',
       'fantasy_points_on_map_1', 'kills_in_map_1',
       'fantasy_points_on_map_2', 'assists_on_map_1', 'deaths_on_map_1',
       'assists_in_map_2', 'assists_on_maps_1_2', 'deaths_in_map_2',
       'kills_in_map_2', 'deaths_on_maps_1_2',
       'fantasy_points_in_games_1_2', 'game_1_and_2_kills',
       'map_1_and_2_kills', 'headshots_on_maps_1_2'], dtype=object)

In [29]:
syntax = {
    'pts_rebs_asts': 'PTS+TRB+AST',
    'pts_rebs': 'PTS+TRB',
    'points': 'PTS',
    'free_throws_made': 'FT',
    'fantasy_points': 'Fantasy',
    'rebounds': 'TRB',
    'assists': 'AST',
    'steals': 'STL',
    'blocks': 'BLK',
    'blks_stls': 'BLK+STL',
    'turnovers': 'TO',
    'rebs_asts': 'TRB+AST',
    'pts_asts': 'PTS+AST',
    'three_points_made': '3PM',
    'shots': 'Shots',
    'goals': 'Goals',
    'saves': 'Goalie Saves',
    'clearances': 'Clearances',
    'goals_and_assists': 'Goals and Assists',
    'tackles': 'Tackles',
    'interceptions': 'Interceptions',
    'crosses': 'Crosses',
    'goals_against': 'Goal Against',
    'game_1_and_2_kills': 'MAPS 1-2 Kills',
    'map_1_and_2_kills': 'MAPS 1-2 Kills',
    'Headshots on Maps 1+2': 'MAPS 1-2 Headshots',
    'strokes': 'Strokes',
    'bogeys_or_worse': 'Bogeys or Worse',
    'birdies_or_better': 'Birdies or Better',
    'aces': 'Aces',
    'breakpoints_won': 'Break Points Won',
    'games_won': 'Games Won',
    'games_lost': 'Games Lost',
    'total_games': 'Total Games',
    'double_faults': 'Double Faults',
    'service_games_lost': 'Service Games Lost',
    'Fastest Laps': 'Fastest Laps',
    'position': 'position',
    'passing_yds': 'Pass Yards',
    'rushing_yds': 'Rush Yards',
    'receiving_yds': 'Receiving Yards' ,
    'fantasy_points': 'Hitter Fantasy Score',
    'strikeouts': 'Pitcher Strikeouts',
    'hits_runs_rbis': 'PTS',
    'singles':'Singles',
    'total_bases': 'Total Bases',
    'walks': 'Walks Allowed',
    'hits': 'Hits Allowed',
                }

In [30]:
df = df.replace(syntax)

In [31]:
df.loc[df['League'] == 'ESPORTS']

,Line,Stat,Player,League,Team,Date
2269,14.0,kills_in_maps_1_2,Berserker+Emenes,ESPORTS,Cloud9,2023-10-26
2270,10.5,kills_in_maps_1_2,Blaber+Fudge,ESPORTS,Cloud9,2023-10-26
2271,42.4,fantasy_points_on_maps_1_2,Fudge,ESPORTS,Cloud9,2023-10-26
2272,21.6,fantasy_points_on_map_1,Fudge,ESPORTS,Cloud9,2023-10-26
2273,5.5,kills_in_maps_1_2,Fudge,ESPORTS,Cloud9,2023-10-26
...,...,...,...,...,...,...
3306,15.5,headshots_on_maps_1_2,myltsi,ESPORTS,ENCE Academy,2023-10-24
3307,9.0,headshots_on_maps_1_2,podi,ESPORTS,ENCE Academy,2023-10-24
3308,12.5,headshots_on_maps_1_2,HENU,ESPORTS,ENCE Academy,2023-10-24
3309,12.5,headshots_on_maps_1_2,S1rva,ESPORTS,ENCE Academy,2023-10-24
3310,19.0,headshots_on_maps_1_2,juissi,ESPORTS,ENCE Academy,2023-10-24

In [32]:
df.loc[df.Player=='Krimbo']

      Line                   Stat  Player   League  Team        Date
3107  33.5         MAPS 1-2 Kills  Krimbo  ESPORTS  BIG   2023-10-24
3108  16.5  headshots_on_maps_1_2  Krimbo  ESPORTS  BIG   2023-10-24

In [33]:
today = dt.date.today()

In [34]:
str(today)

'2023-10-24'

In [35]:
df.columns = [x.lower() for x in df.columns]
df.to_csv(f'Lines/dog/doglines_{today.month}_{today.day}.csv')

In [36]:
df.loc[df.league=='ESPORTS']

,line,stat,player,league,team,date
2269,14.0,kills_in_maps_1_2,Berserker+Emenes,ESPORTS,Cloud9,2023-10-26
2270,10.5,kills_in_maps_1_2,Blaber+Fudge,ESPORTS,Cloud9,2023-10-26
2271,42.4,fantasy_points_on_maps_1_2,Fudge,ESPORTS,Cloud9,2023-10-26
2272,21.6,fantasy_points_on_map_1,Fudge,ESPORTS,Cloud9,2023-10-26
2273,5.5,kills_in_maps_1_2,Fudge,ESPORTS,Cloud9,2023-10-26
...,...,...,...,...,...,...
3306,15.5,headshots_on_maps_1_2,myltsi,ESPORTS,ENCE Academy,2023-10-24
3307,9.0,headshots_on_maps_1_2,podi,ESPORTS,ENCE Academy,2023-10-24
3308,12.5,headshots_on_maps_1_2,HENU,ESPORTS,ENCE Academy,2023-10-24
3309,12.5,headshots_on_maps_1_2,S1rva,ESPORTS,ENCE Academy,2023-10-24
3310,19.0,headshots_on_maps_1_2,juissi,ESPORTS,ENCE Academy,2023-10-24