In [1]:
import requests
import json
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.DataFrame()
for year in [23,24]:
    url = f'https://stats.nba.com/stats/leaguegamelog?Counter=1000&DateFrom=&DateTo=&Direction=DESC&ISTRound=&LeagueID=00&PlayerOrTeam=T&Season=20{year-1}-{year}&SeasonType=Regular%20Season&Sorter=DATE'
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64)', 'x-nba-stats-origin': 'stats', 'x-nba-stats-token': 'true', 'Host':'stats.nba.com', 'Referer':f'https://www.nba.com/'}
    r= requests.get(url, headers=headers, timeout = 7)
    data = json.loads(r.text)
    games = data['resultSets'][0]['rowSet']
    ids = [[info[4],info[5],info[6].split(' @ ')[0],info[6].split(' @ ')[1]] for info in games if '@' in info[6]]
    ids = sorted(ids)
    temp_df = pd.DataFrame.from_dict(ids)
    temp_df.columns=[['game_id','date','home','away']]
    temp_df['season'] = year
    if df.empty:
        df = temp_df.copy(deep=True)
    else:
        df = pd.concat((df,temp_df))
df

        game_id        date home away season
0    0022200001  2022-10-18  PHI  BOS     23
1    0022200002  2022-10-18  LAL  GSW     23
2    0022200003  2022-10-19  ORL  DET     23
3    0022200004  2022-10-19  WAS  IND     23
4    0022200005  2022-10-19  HOU  ATL     23
..          ...         ...  ...  ...    ...
112  0022300166  2023-11-08  NOP  MIN     24
113  0022300167  2023-11-08  CLE  OKC     24
114  0022300168  2023-11-08  TOR  DAL     24
115  0022300169  2023-11-08  GSW  DEN     24
116  0022300170  2023-11-08  POR  SAC     24

[1347 rows x 5 columns]

In [3]:
df['game_id'] = df['game_id'].astype(str)
df.to_csv('game_ids.csv',index=False)

In [4]:
df.dtypes

game_id    object
date       object
home       object
away       object
season      int64
dtype: object

In [5]:
game_ids = pd.read_csv('game_ids.csv',dtype={'game_id':'str'})
game_ids.dtypes

game_id    object
date       object
home       object
away       object
season      int64
dtype: object

In [6]:
game_ids

         game_id        date home away  season
0     0022200001  2022-10-18  PHI  BOS      23
1     0022200002  2022-10-18  LAL  GSW      23
2     0022200003  2022-10-19  ORL  DET      23
3     0022200004  2022-10-19  WAS  IND      23
4     0022200005  2022-10-19  HOU  ATL      23
...          ...         ...  ...  ...     ...
1342  0022300166  2023-11-08  NOP  MIN      24
1343  0022300167  2023-11-08  CLE  OKC      24
1344  0022300168  2023-11-08  TOR  DAL      24
1345  0022300169  2023-11-08  GSW  DEN      24
1346  0022300170  2023-11-08  POR  SAC      24

[1347 rows x 5 columns]