In [1]:
#imports and scraping raw data from site
#df is the actual betting line
#df2 has other info, mostly using to get player id to name dict

import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime as dt
import random

In [2]:
import urllib3
import json

import urllib
class AppURLopener(urllib.request.FancyURLopener):
    version = "Mozilla/5.0"

    
pp_props_url = 'https://parlayplay.io/api/v1/sports/matches/all/'
opener = AppURLopener()
response = opener.open(pp_props_url)

http = urllib3.PoolManager()

url = 'https://httpbin.org/post'
myheaders = {'Content-Type': 'application/json'}
mydata = {'username': '***', 'password': '***'}
#print(dir(response))
print(response.status)

data = json.loads(response.read())
matches = pd.json_normalize(data)
matches.head()

C:\Users\User\AppData\Local\Temp\ipykernel_11432\2753160774.py:10: DeprecationWarning: AppURLopener style of invoking requests is deprecated. Use newer urlopen functions/methods
  opener = AppURLopener()

200

,matches,sports,showLive
0,"[{'id': 38520, 'sport': {'id': 72, 'sportName'...","[{'id': 1, 'sportName': 'Football', 'slug': 'f...",False

In [3]:
games = pd.json_normalize(matches.matches[0])
games.columns[0:100]
games = games[['league.leagueName','homeTeam.teamAbbreviation','awayTeam.teamAbbreviation','matchDate']]
games = games.loc[games['league.leagueName']=='National Basketball Association']
games.columns = ['League','Home','Away','Date']
games

                             League Home Away                       Date
35  National Basketball Association  BOS  PHI  2023-05-14T15:36:00-04:00

In [4]:
import urllib3
import json

import urllib
class AppURLopener(urllib.request.FancyURLopener):
    version = "Mozilla/5.0"

    
pp_props_url = 'https://parlayplay.io/api/v1/crossgame/search/'
opener = AppURLopener()
response = opener.open(pp_props_url)

http = urllib3.PoolManager()

url = 'https://httpbin.org/post'
myheaders = {'Content-Type': 'application/json'}
mydata = {'username': '***', 'password': '***'}
#print(dir(response))
print(response.status)

data = json.loads(response.read())
df = pd.json_normalize(data['players'])
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_11432\1129872439.py:10: DeprecationWarning: AppURLopener style of invoking requests is deprecated. Use newer urlopen functions/methods
  opener = AppURLopener()

200

,stats,hasSlashedLine,match.id,match.sport.id,match.sport.sportName,match.sport.slug,match.sport.illustration,match.sport.symbol,match.sport.popularity,match.league.id,...,player.team.teamAbbreviation,player.team.venue,player.team.slug,player.team.logo,player.team.conference,player.team.rank,player.team.record,player.ppIsActive,player.injuryStatus,player.gender
0,"[{'challengeName': 'Shots', 'challengeOption':...",False,38512,72,Soccer,soccer,None,https://cdn.parlayplay.io/media/sports/soccer_...,740.00,41,...,AST,,aston-villa-fc-90000510,https://cdn.parlayplay.io/media/teams/aston-vi...,None,NaN,None,True,healthy,m
1,"[{'challengeName': 'Saves', 'challengeOption':...",False,38512,72,Soccer,soccer,None,https://cdn.parlayplay.io/media/sports/soccer_...,740.00,41,...,AST,,aston-villa-fc-90000510,https://cdn.parlayplay.io/media/teams/aston-vi...,None,NaN,None,True,healthy,m
2,"[{'challengeName': 'Shots', 'challengeOption':...",False,38512,72,Soccer,soccer,None,https://cdn.parlayplay.io/media/sports/soccer_...,740.00,41,...,AST,,aston-villa-fc-90000510,https://cdn.parlayplay.io/media/teams/aston-vi...,None,NaN,None,True,healthy,m
3,"[{'challengeName': 'Passes Attempted', 'challe...",False,38512,72,Soccer,soccer,None,https://cdn.parlayplay.io/media/sports/soccer_...,740.00,41,...,AST,,aston-villa-fc-90000510,https://cdn.parlayplay.io/media/teams/aston-vi...,None,NaN,None,True,healthy,m
4,"[{'challengeName': 'Passes Attempted', 'challe...",False,38512,72,Soccer,soccer,None,https://cdn.parlayplay.io/media/sports/soccer_...,740.00,41,...,AST,,aston-villa-fc-90000510,https://cdn.parlayplay.io/media/teams/aston-vi...,None,NaN,None,True,healthy,m

In [5]:
data.keys()

dict_keys(['players', 'hasPlayers', 'gameTypes', 'gameTypePayouts', 'parlayChallengeTypes', 'geoState', 'positions', 'stats'])

In [6]:
df.columns

Index(['stats', 'hasSlashedLine', 'match.id', 'match.sport.id',
       'match.sport.sportName', 'match.sport.slug', 'match.sport.illustration',
       'match.sport.symbol', 'match.sport.popularity', 'match.league.id',
       'match.league.uuid', 'match.league.leagueNameShort',
       'match.league.leagueType', 'match.league.leagueName',
       'match.league.leagueDescription', 'match.league.slug',
       'match.league.popularity', 'match.league.donbestId',
       'match.league.numberOfPeriods', 'match.league.durationOfPeriod',
       'match.league.durationOvertime', 'match.league.logo',
       'match.league.roundId', 'match.league.hoursAheadParam',
       'match.league.twitterHandle', 'match.league.sport', 'match.season',
       'match.slug', 'match.homeTeam.id', 'match.homeTeam.sport',
       'match.homeTeam.league', 'match.homeTeam.teamname',
       'match.homeTeam.teamnameAbbr', 'match.homeTeam.teamAbbreviation',
       'match.homeTeam.venue', 'match.homeTeam.slug', 'match.homeTeam.logo',
       'match.homeTeam.conference', 'match.homeTeam.rank',
       'match.homeTeam.record', 'match.awayTeam.id', 'match.awayTeam.sport',
       'match.awayTeam.league', 'match.awayTeam.teamname',
       'match.awayTeam.teamnameAbbr', 'match.awayTeam.teamAbbreviation',
       'match.awayTeam.venue', 'match.awayTeam.slug', 'match.awayTeam.logo',
       'match.awayTeam.conference', 'match.awayTeam.rank',
       'match.awayTeam.record', 'match.scoreHome', 'match.scoreAway',
       'match.matchPeriod', 'match.matchType', 'match.homeWinProb',
       'match.awayWinProb', 'match.drawProb', 'match.matchDate',
       'match.matchStatus', 'match.matchGroup', 'match.timeLeft',
       'match.timeToStart', 'match.timeToStartMin', 'player.id',
       'player.firstName', 'player.lastName', 'player.fullName',
       'player.nameInitial', 'player.image', 'player.position',
       'player.sport.id', 'player.sport.sportName', 'player.sport.slug',
       'player.sport.illustration', 'player.sport.symbol',
       'player.sport.popularity', 'player.team.id', 'player.team.sport',
       'player.team.league', 'player.team.teamname',
       'player.team.teamnameAbbr', 'player.team.teamAbbreviation',
       'player.team.venue', 'player.team.slug', 'player.team.logo',
       'player.team.conference', 'player.team.rank', 'player.team.record',
       'player.ppIsActive', 'player.injuryStatus', 'player.gender'],
      dtype='object')

In [7]:
df2 = pd.json_normalize(df['stats'])
pd.json_normalize(df2.iloc[0])

,challengeName,challengeOption,challengeUnits,matchPeriods,statValue,originalValue,isSlashedLine,slideRange
0,Shots,soc_shots,SHO,[FG],3.0,NaN,False,[]
1,Goals + Assists,soc_goalAssist,G + A,[FG],0.5,NaN,False,[]
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:

lines = pd.DataFrame()
for i in range(len(df)):
    temp = pd.json_normalize(df.stats[i])
    temp['player.fullName'] = df['player.fullName'][i]
    temp['player.team.teamAbbreviation'] = df['player.team.teamAbbreviation'][i]
    temp = temp[['player.fullName','player.team.teamAbbreviation', 'challengeUnits','statValue']]
    lines = pd.concat((lines,temp))

lines = lines.rename(columns={'statValue':'Line','player.fullName':'Player',
                              'player.team.teamAbbreviation':'Team','challengeUnits':'Stat'})
#lines['Opp'] = 0
#for i in range(len(lines)):
#    if i in 
#    lines['Opp'][i]
lines.head()

              Player Team   Stat  Line
0      Ollie Watkins  AST    SHO   3.0
1      Ollie Watkins  AST  G + A   0.5
0  Emiliano Martínez  AST     SV   2.5
0   Emiliano Buendía  AST    SHO   1.5
1   Emiliano Buendía  AST    SOG   0.5

In [9]:
test = lines

test = test.replace('Points','PTS')
test = test.replace('P+R+A','PTS+TRB+AST')
test = test.replace('P+R','PTS+TRB')
test = test.replace('P+A','PTS+AST')
test = test.replace('R+A','TRB+AST')
test = test.replace('Rebs','TRB')
test = test.replace('Asts','AST')
test = test.replace('Rebounds','TRB')
test = test.replace('3PM','3P')
test = test.replace('Assists','AST')
test = test.replace('Turnovers','TOV')
test = test.replace('Blks','BLK')
test = test.replace('Pts','PTS')
test = test.replace('Stls','STL')
test = test.replace('Free Throws Made','FT')
test = test.replace('Blocked Shots','BLK')
test = test.replace('Steals','STL')
test = test[test.Stat != 'Fantasy Score']

lines = test
lines

               Player Team   Stat  Line
0       Ollie Watkins  AST    SHO   3.0
1       Ollie Watkins  AST  G + A   0.5
0   Emiliano Martínez  AST     SV   2.5
0    Emiliano Buendía  AST    SHO   1.5
1    Emiliano Buendía  AST    SOG   0.5
..                ...  ...    ...   ...
0      Ilkay Gündogan  MNC    SHO   2.0
1      Ilkay Gündogan  MNC    SOG   0.5
2      Ilkay Gündogan  MNC   Pass  60.5
0          Phil Foden  MNC    SHO   2.0
0     Aymeric Laporte  MNC   Pass  88.5

[247 rows x 4 columns]

In [10]:
len(lines)

247

In [11]:
lines

               Player Team   Stat  Line
0       Ollie Watkins  AST    SHO   3.0
1       Ollie Watkins  AST  G + A   0.5
0   Emiliano Martínez  AST     SV   2.5
0    Emiliano Buendía  AST    SHO   1.5
1    Emiliano Buendía  AST    SOG   0.5
..                ...  ...    ...   ...
0      Ilkay Gündogan  MNC    SHO   2.0
1      Ilkay Gündogan  MNC    SOG   0.5
2      Ilkay Gündogan  MNC   Pass  60.5
0          Phil Foden  MNC    SHO   2.0
0     Aymeric Laporte  MNC   Pass  88.5

[247 rows x 4 columns]

In [12]:
lines = lines[lines.Stat != 'Fantasy Score']

In [13]:
len(df)

200

In [14]:
df = lines
df = df.replace('Fred VanVleet\t','Fred VanVleet')
df = df.replace('Nicolas Claxton','Nic Claxton')
df = df.replace('Robert Williams III','Robert Williams')
df = df.replace('LeBron James\t','LeBron James')
df= df.replace('KJ Martin Jr.','Kenyon Martin Jr.')

In [15]:
df = df.reset_index(drop=True)

In [16]:
today= dt.date.today()
df['Date'] = today
df.head(1)

          Player Team Stat  Line        Date
0  Ollie Watkins  AST  SHO   3.0  2023-05-13

In [17]:
f'lines{today.month}_{today.day}'

'lines5_13'

In [18]:
df.to_csv(f'Lines/parlaylines{today.month}_{today.day}')

In [19]:
pd.option_context('display.max_columns', 5)
df

                Player Team   Stat  Line        Date
0        Ollie Watkins  AST    SHO   3.0  2023-05-13
1        Ollie Watkins  AST  G + A   0.5  2023-05-13
2    Emiliano Martínez  AST     SV   2.5  2023-05-13
3     Emiliano Buendía  AST    SHO   1.5  2023-05-13
4     Emiliano Buendía  AST    SOG   0.5  2023-05-13
..                 ...  ...    ...   ...         ...
242     Ilkay Gündogan  MNC    SHO   2.0  2023-05-13
243     Ilkay Gündogan  MNC    SOG   0.5  2023-05-13
244     Ilkay Gündogan  MNC   Pass  60.5  2023-05-13
245         Phil Foden  MNC    SHO   2.0  2023-05-13
246    Aymeric Laporte  MNC   Pass  88.5  2023-05-13

[247 rows x 5 columns]

In [20]:
df.Team.unique()

array(['AST', 'TOT', 'CFC', 'NOT', 'BOR', 'CRY', 'MNU', 'WOL', 'SOT',
       'FUL', 'Clark', 'Green', 'YeonKim', 'Stamann', 'ATH', 'VIL',
       'KWilliam', 'McGee', 'TB', 'NYY', 'SEA', 'DET', 'CHC', 'MIN',
       'RMA', 'GET', 'TOR', 'ATL', 'Ulberg', 'Garry', 'JWalker',
       'Almeida', 'BOS', 'STL', 'CLE', 'LAA', 'DAL', 'PIT', 'BAL', 'KC',
       'MIL', 'CHW', 'HOU', 'LAD', 'SD', 'ARL', 'DCD', 'ARI', 'SF', 'PHI',
       'COL', 'WHU', 'BRE', 'EVE', 'MNC'], dtype=object)

In [21]:
df.Stat.unique()

array(['SHO', 'G + A', 'SV', 'SOG', 'Pass', 'SIGSTR', 'SO (K)', 'H',
       'FPTS', 'SO', 'R', 'TB', 'BS', 'HIT', 'Ps Yd', 'Rec Yd', 'Rsh Yd'],
      dtype=object)

In [22]:
df.Player.unique()

array(['Ollie Watkins', 'Emiliano Martínez', 'Emiliano Buendía',
       'Tyrone Mings', 'Douglas Luiz Soares de Paulo', 'Harry Kane',
       'Fraser Forster', 'Heungmin Son', 'Richarlison',
       'Emerson Aparecido Leite de Souza Junior', 'Cristian Romero',
       'João Félix', 'Kepa Arrizabalaga', 'Kai Havertz', 'Noni Madueke',
       'Hakim Ziyech', 'Pierre-Emerick Aubameyang', 'Raheem Sterling',
       'Conor Gallagher', 'Christian Pulisic', 'Keylor Navas',
       'Morgan Gibbs-White', 'Taiwo Awoniyi', 'Emmanuel Dennis',
       'Brennan Johnson', 'Joe Worrall', 'Neto', 'Dominic Solanke',
       'Dango Ouattara', 'Ryan Christie', 'Philip Billing',
       'Jefferson Lerma', 'Sam Johnstone', 'Wilfried Zaha',
       'Eberechi Eze', 'Michael Olise', 'Jordan Pierre Ayew',
       'Cheick Doucouré', 'Addji Keaninkin Marc Isreal Guéhi',
       'David De Gea', 'Antony', 'Bruno Fernandes', 'Wout Weghorst',
       'Anthony Joran Martial', 'Christian Eriksen', 'Casemiro',
       'Victor Jorgen Nilsson-Lindelöf', 'José Sá', 'Matheus Cunha',
       'Rúben Neves', 'Diego Costa', 'Pedro Neto', 'Mario Lemina',
       'Nélson Cabral Semedo', 'Alex McCarthy', 'Che Adams',
       'Carlos Alcaraz', 'Theo Walcott', 'Stuart Armstrong',
       'James Ward-Prowse', 'Kyle Leonardus Walker-Peters',
       'Aleksandar Mitrović', 'Bernd Leno', 'Willian', 'Harry Wilson',
       'Tom Cairney', 'João Palhinha', 'Harrison Reed',
       'Oluwatosin Adarabioyo', 'Antonee Robinson', 'Jessica-Rose Clark',
       'Gabe Green', 'Ji Yeon Kim', 'Cody Stamann', 'Unai Simón',
       'Gorka Guruzeta', 'Iñaki Williams', 'Oihan Sancet',
       'Nico Williams', 'Mikel Vesga Arruti', 'Óscar de Marcos Arana',
       'Pepe Reina', 'Samuel Chukwueze', 'Nicolas Jackson',
       'Alejandro Baena', 'Juan Marcos Foyth', 'Yeremi Pino',
       'Pau Torres', 'Karl Williams', 'Court McGee', 'Shane McClanahan',
       'Randy Arozarena', 'Wander Franco', 'Yandy Díaz', 'Nestor Cortes',
       'Aaron Judge', 'Anthony Rizzo', 'Jose Trevino', 'Bryce Miller',
       'Ty France', 'Alex Faedo', 'Javier Báez', 'Riley Greene',
       'Dansby Swanson', 'Byron Buxton', 'Carlos Correa',
       'Vinícius Júnior', 'Marco Asensio', 'Thibaut Courtois',
       'Federico Valverde', 'Mariano Díaz Mejía', 'Eden Hazard',
       'Daniel Ceballos Fernández', 'Aurélien Tchouameni',
       'Éder Gabriel Militão', 'David Soria', 'Borja Mayoral',
       'Jaime Mata Arnaiz', 'Nemanja Maksimović', 'Dakonam Ortega Djené',
       'José Berríos', 'Vladimir Guerrero Jr.', 'Bo Bichette',
       'Ronald Acuña Jr.', 'Matt Olson', 'Austin Riley', 'Carlos Ulberg',
       'Ian Garry', 'Johnny Walker', 'Jailton Almeida', 'Alex Verdugo',
       'Rafael Devers', 'Steven Matz', 'Nolan Arenado',
       'Paul Goldschmidt', 'José Ramírez', 'Steven Kwan', 'Shohei Ohtani',
       'Mike Trout', 'Jason Robertson', 'Miro Heiskanen', 'Roope Hintz',
       'Wyatt Johnston', 'Joe Pavelski', 'Max Domi', 'Ty Dellandrea',
       'Eeli Tolvanen', 'Jaden Schwartz', 'Vince Dunn',
       'Oliver Bjorkstrand', 'Jared McCann', 'Jamie Oleksiak',
       'Jordan Eberle', 'Roansy Contreras', 'Bryan Reynolds',
       'Adley Rutschman', 'Cedric Mullins', 'Bobby Witt Jr.',
       'Willy Adames', 'Christian Yelich', 'Andrew Benintendi',
       'Yordan Alvarez', 'Alex Bregman', 'Mookie Betts',
       'Freddie Freeman', 'Will Smith', 'Fernando Tatis Jr.', 'Juan Soto',
       'Manny Machado', 'Luis Perez', 'Sal Cannella', "De'Veon Smith",
       'Jordan Taamu', 'Abram Smith', 'Lucky Jackson', 'Chris Blair',
       'Ketel Marte', 'Thairo Estrada', 'Trea Turner', 'Bryce Harper',
       'Kris Bryant', 'C.J. Cron', 'Charlie Blackmon', 'Łukasz Fabiański',
       'Ivan Toney', 'David Raya', 'Jordan Pickford',
       'Dominic Calvert-Lewin', 'Abdoulaye Doucouré', 'Dwight McNeil',
       'Alexander Iwobi', 'Michael Keane', 'Erling Haaland', 'Ederson',
       'Julián Álvarez', 'Kevin De Bruyne', 'Riyad Mahrez',
       'Ilkay Gündogan', 'Phil Foden', 'Aymeric Laporte'], dtype=object)