In [481]:
import torch
import seaborn as sea
import torch.nn.functional as F
import torch.nn as nn
import numpy as np
import pandas as pd
import time
import random
import datetime
import re
import matplotlib.pyplot as plt
import ipywidgets as widgets
from scipy.stats import poisson
%run functions.ipynb
from unidecode import unidecode
plt.rcParams['figure.figsize'] = [13, 7]
pd.set_option("display.precision", 3)

In [482]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.min_rows', 10)
torch.set_printoptions(sci_mode=False)

In [556]:
opp_stats = pd.read_csv('opponent_stats',index_col=0)
schedule = pd.read_csv('schedule',index_col=0)
data = pd.read_csv('data.csv')
KM_vals = pd.read_csv('KM_vals.csv',index_col=0)

line_list = []
for i in range(1, 20):
    file_name = f"betting_lines_{i}"
    try:
        # Use globals() to dynamically set the variable name
        globals()[f"lines{i}"] = pd.read_csv(file_name, index_col=0)
        line_list.append(file_name)
    except FileNotFoundError:
        notfound = file_name
        break
        
for i in range(1, 32):
    file_name = f"lines3_{i}"
    yest_file = f"lines3_{i-1}"
    try:
        # Use globals() to dynamically set the variable name
        globals()[f"lines3_{i}"] = pd.read_csv(file_name, index_col=0)
        pp_today = pd.read_csv(file_name, index_col=0)
        pp_yesterday = pd.read_csv(yest_file, index_col=0)
    except FileNotFoundError:
        notfound = file_name
           
for i in range(16, 32):
    file_name = f"doglines3_{i}"
    try:
        # Use globals() to dynamically set the variable name
        globals()[f"doglines3_{i}"] = pd.read_csv(file_name, index_col=0)
        dog_today = pd.read_csv(file_name, index_col=0)
        line_list.append(file_name)
    except FileNotFoundError:
        notfound = file_name
        break

In [484]:
data['Date'] = pd.to_datetime(data['Date'], format="%Y-%m-%d")
data['Rest'] = data.groupby('Player')['Date'].diff().dt.days
player_names = data['Player'].unique()

In [485]:
data = data.fillna(5)
data

,Player,G,Date,Age,Tm,H/A,Opp,W/L,GS,MP,...,STL,BLK,TOV,PF,PTS,GmSc,+/-,Pos,KM,Rest
0,Jayson Tatum,1,2022-10-18,24-229,BOS,1,PHI,9,1,38.633,...,1,1,3,1,35,30.1,10.0,PF,7,5.0
1,Jayson Tatum,2,2022-10-21,24-232,BOS,0,MIA,7,1,36.783,...,1,2,2,1,29,22.7,-1.0,PF,7,3.0
2,Jayson Tatum,3,2022-10-22,24-233,BOS,0,ORL,6,1,37.650,...,1,2,1,2,40,34.2,6.0,PF,7,1.0
3,Jayson Tatum,4,2022-10-24,24-235,BOS,0,CHI,-18,1,35.433,...,0,0,1,2,26,20.7,-8.0,PF,7,2.0
4,Jayson Tatum,5,2022-10-28,24-239,BOS,1,CLE,-9,1,42.183,...,1,1,4,4,32,24.1,-10.0,PF,7,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24082,Frank Jackson,1,2023-03-03,24-303,UTA,0,OKC,-27,0,5.050,...,0,0,0,0,0,-0.4,-2.0,PG,15,5.0
24083,Marko Simonovic,1,2022-10-22,23-007,CHI,1,CLE,-32,0,1.733,...,0,0,0,0,0,-0.7,-8.0,C,15,5.0
24084,Marko Simonovic,2,2023-01-19,23-096,CHI,0,DET,18,0,1.100,...,0,0,0,0,0,0.0,-2.0,C,15,89.0
24085,Marko Simonovic,3,2023-02-16,23-124,CHI,1,MIL,-12,0,1.800,...,0,0,0,1,0,-0.4,8.0,C,15,28.0
24086,Alondes Williams,1,2022-12-10,23-174,BKN,0,IND,3,0,5.267,...,0,0,2,1,0,-2.1,-5.0,SG,15,5.0

In [571]:
lines = pp_today
p_idx = lines['Player'].unique()
p_idx = np.sort(p_idx)
s_idx = lines['Stat'].unique()
odd = best_odds(lines)
odd['Z'] = (odd['expected']-odd['line'])/odd['line']

In [572]:
from ipywidgets import interact, Dropdown
playerd = Dropdown(options = p_idx)
statd = Dropdown(options = s_idx)

@interact(print(''),player = playerd, stat = statd)
def print_city(player, stat):
    statd.options = lines.loc[lines['Player']==player]['Stat'] # Here is the trick, i.e. update cityW.options based on country, namely countryW.value.
    graph_stat(player,stat,10,lines)
    display(odd.loc[odd['Player']==player].sort_values(by='Prob'))

interactive(children=(Dropdown(description='player', options=('Al Horford', 'Brandon Ingram', 'CJ McCollum', '…

In [573]:
types = Dropdown(options = ['over','under'])
number = Dropdown(options = [10,20])
category = Dropdown(options = np.append('all',s_idx))

@interact(print(' '),types=types, number=number,category=category)
def print_city(types, number,category):
    pd.set_option('display.max_rows', number)
    pd.set_option('display.min_rows', number)
    if category == 'all':
        table = odd.sort_values(by='Prob')
    else:
        table = odd.loc[odd['Stat']==category].sort_values(by='Prob')
    if types == 'over':
        display(table.loc[table['Prob']>0.5].tail(number))
    if types == 'under':
        display(table.loc[table['Prob']<0.5].head(number))

interactive(children=(Dropdown(description='types', options=('over', 'under'), value='over'), Dropdown(descrip…

In [489]:
odd.to_csv('ontherun.csv')

In [490]:
def check(lines):
    val = []
    everything = []
    err = 0
    date = lines['Date'][0]
    avail = data.loc[data['Date']< date]
    for i in range(len(lines)):
        if i%10 == 0:
            print(i)
        player = lines['Player'][i]
        date = lines['Date'][i]
        cat = lines['Stat'][i]
        line = lines['Line'][i]
        opp = lines['Team'][i]
        game  = get_game(player,date)
        expect = adjust(player,cat,opp,stats=avail)
        
        if game.empty:
            print('err',player)
            err += 1
        else:
            x = get_stat(player,cat,game)
            pred_diff = expect-line
            diff_real = x-line
            if np.sign(pred_diff) == np.sign(diff_real):
                val=1
            else:
                val=0
            season = float(print_prob(player,line,cat,stats=avail,prnt=False))
            l_10 = float(print_prob(player,line,cat,games=10,stats=avail,prnt=False))
            
            everything.append((player,opp,cat,expect,line,x[0],pred_diff,diff_real[0],val,l_10,season))
            
    x = np.array(everything)
    df = pd.DataFrame(x,columns=['Player','opp','Stat','pred','line','actual','pred_diff','diff_real','Win','l_10','season'])
    numeric = ['pred','line','actual','pred_diff','diff_real','Win','l_10','season']
    df[numeric]=df[numeric].astype(float)
    df['Prob']= 1- poisson.cdf(mu=df['pred'],k=df['line'])
    return df

In [491]:
pp_yesterday = pp_yesterday.replace('Xavier Tillman','Xavier Tillman Sr.')

In [492]:
pd.set_option('display.precision', 2)

df = check(pp_yesterday)
df

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
err Dennis Smith Jr.
err Dennis Smith Jr.
220
err Dennis Smith Jr.
err Dennis Smith Jr.
err Dennis Smith Jr.
err Dennis Smith Jr.
err Dennis Smith Jr.
230
240
250
260
270
280
290
300
310
320
330
340

,Player,opp,Stat,pred,line,actual,pred_diff,diff_real,Win,l_10,season,Prob
0,Clint Capela,CLE,PTS+TRB+AST,28.48,24.5,24.0,3.98,-0.5,0.0,0.4,0.47,0.77
1,Clint Capela,CLE,TRB,14.02,12.0,10.0,2.02,-2.0,0.0,0.3,0.31,0.64
2,Clint Capela,CLE,PTS+AST,14.47,11.5,14.0,2.97,2.5,1.0,0.7,0.68,0.78
3,Clint Capela,CLE,PTS,13.38,10.5,12.0,2.88,1.5,1.0,0.7,0.64,0.78
4,Clint Capela,CLE,PTS+TRB,27.40,22.5,22.0,4.90,-0.5,0.0,0.4,0.51,0.82
...,...,...,...,...,...,...,...,...,...,...,...,...
336,Klay Thompson,NOP,FT,0.93,1.0,0.0,-0.07,-1.0,1.0,0.3,0.52,0.24
337,CJ McCollum,GSW,FT,1.90,2.5,0.0,-0.60,-2.5,1.0,0.2,0.43,0.29
338,Jordan Poole,NOP,FT,5.82,4.0,3.0,1.82,-1.0,0.0,0.4,0.39,0.69
339,Herbert Jones,GSW,FT,1.03,0.5,0.0,0.53,-0.5,0.0,0.5,0.64,0.64
340,Draymond Green,NOP,FT,0.88,0.5,0.0,0.38,-0.5,0.0,0.5,0.46,0.58

In [493]:
end= df

In [494]:
def results(final):
    bets = len(final)
    over_actual = len(final.loc[final['diff_real']>0])
    print(over_actual,bets)
    o_per = over_actual/bets
    under_actual = len(final.loc[final['diff_real']<0])
    u_per = under_actual/bets
    over_pred = len(final.loc[final['pred_diff']>0])
    o_wins = final.loc[final['pred_diff']>0]['Win'].sum()
    
    under_pred = len(final.loc[final['pred_diff']<0])
    u_wins = final.loc[final['pred_diff']<0]['Win'].sum()
    
    print(f'actual over:{over_actual}/{len(final)}, {100*o_per:.0f}%')
    print(f'actual under:{under_actual}/{len(final)}, {100*u_per:.0f}%')
    print('predicted over results',o_wins,over_pred, f'{o_wins/over_pred:.0%}')
    print('predicted under results:',u_wins,under_pred, f'{u_wins/under_pred:.0%}')
    print('overall results:',f'{(o_wins+u_wins)/bets:.0%}')
    return ((o_wins+u_wins)/bets)

In [495]:
poiss_mid = end.loc[end['Prob']> 0.25]
poiss_low = poiss_mid.loc[poiss_mid['Prob']< 0.75]
results(poiss_mid)

144 283
actual over:144/283, 51%
actual under:131/283, 46%
predicted over results 83.0 157 53%
predicted under results: 61.0 126 48%
overall results: 51%

0.508833922261484

In [496]:
poiss_low = end.loc[end['Prob']< 0.25]
#poiss_low = poiss_low.loc[poiss_low['season']<0.5]
results(poiss_low)

33 58
actual over:33/58, 57%
actual under:22/58, 38%
predicted over results 0.0 0 nan%
predicted under results: 22.0 58 38%
overall results: 38%

C:\Users\User\AppData\Local\Temp\ipykernel_1204\1187213474.py:16: RuntimeWarning: invalid value encountered in double_scalars
  print('predicted over results',o_wins,over_pred, f'{o_wins/over_pred:.0%}')

0.3793103448275862

In [497]:
poiss_high = end.loc[end['Prob']> 0.75]
#poiss_high = poiss_high.loc[poiss_high['season']>0.5]
results(poiss_high)

11 15
actual over:11/15, 73%
actual under:4/15, 27%
predicted over results 11.0 15 73%
predicted under results: 0.0 0 nan%
overall results: 73%

C:\Users\User\AppData\Local\Temp\ipykernel_1204\1187213474.py:17: RuntimeWarning: invalid value encountered in double_scalars
  print('predicted under results:',u_wins,under_pred, f'{u_wins/under_pred:.0%}')

0.7333333333333333

In [498]:
results(pd.concat((poiss_low,poiss_high)))

44 73
actual over:44/73, 60%
actual under:26/73, 36%
predicted over results 11.0 15 73%
predicted under results: 22.0 58 38%
overall results: 45%

0.4520547945205479

In [557]:
new_df = pd.merge(pp_today, dog_today,  how='left', left_on=['Player','Stat','Date'], right_on = ['Player','Stat','Date'],
                 suffixes=['_pp','_dog']) 
new_df

,Player,Team_pp,Line_pp,Stat,Date,Line_dog,Team_dog
0,Jayson Tatum,NaN,13.5,TRB+AST,2023-03-30,NaN,NaN
1,Jayson Tatum,NaN,28.5,PTS,2023-03-30,28.5,MIL
2,Jayson Tatum,NaN,33.5,PTS+AST,2023-03-30,NaN,NaN
3,Jayson Tatum,NaN,1.5,BLK+STL,2023-03-30,NaN,NaN
4,Jayson Tatum,NaN,37.5,PTS+TRB,2023-03-30,NaN,NaN
5,Jayson Tatum,NaN,4.5,AST,2023-03-30,4.5,MIL
6,Jayson Tatum,NaN,42.5,PTS+TRB+AST,2023-03-30,42.5,MIL
7,Jayson Tatum,NaN,9.0,TRB,2023-03-30,9.0,MIL
8,Jaylen Brown,NaN,2.5,TOV,2023-03-30,NaN,NaN
9,Jaylen Brown,NaN,6.0,TRB,2023-03-30,6.0,MIL
10,Jaylen Brown,NaN,32.5,PTS+TRB,2023-03-30,NaN,NaN
11,Jaylen Brown,NaN,29.5,PTS+AST,2023-03-30,NaN,NaN
...,...,...,...,...,...,...,...
51,Trey Murphy III,DEN,15.5,PTS,2023-03-30,NaN,NaN
52,Trey Murphy III,DEN,2.5,3P,2023-03-30,NaN,NaN
53,Trey Murphy III,DEN,16.5,PTS+AST,2023-03-30,NaN,NaN
54,Jonas Valanciunas,DEN,25.5,PTS+TRB,2023-03-30,NaN,NaN
55,Jonas Valanciunas,DEN,10.5,TRB,2023-03-30,10.5,DEN
56,Jonas Valanciunas,DEN,12.5,TRB+AST,2023-03-30,NaN,NaN
57,Jonas Valanciunas,DEN,16.5,PTS+AST,2023-03-30,NaN,NaN
58,Jonas Valanciunas,DEN,27.5,PTS+TRB+AST,2023-03-30,27.5,DEN
59,Jonas Valanciunas,DEN,14.5,PTS,2023-03-30,14.5,DEN
60,Herbert Jones,DEN,11.5,PTS+TRB,2023-03-30,NaN,NaN
61,Herbert Jones,DEN,10.5,PTS+AST,2023-03-30,NaN,NaN
62,Herbert Jones,DEN,8.5,PTS,2023-03-30,8.0,DEN

In [558]:
new_df= new_df.dropna()
line_diff = new_df.loc[new_df['Line_pp'] != new_df['Line_dog']]
line_diff = line_diff.reset_index(drop=True)
line_diff

           Player Team_pp  Line_pp Stat        Date  Line_dog Team_dog
0  Brandon Ingram     DEN      6.5  AST  2023-03-30       6.0      DEN
1   Herbert Jones     DEN      8.5  PTS  2023-03-30       8.0      DEN

In [574]:
def best_diff_odds(lines):
    date = lines['Date'].iloc[0]
    home_teams = schedule.loc[schedule['Date']==date]['Home'].values
    player_lines = lines.iloc[:,0]
    avail = data.loc[data['Date']< date]
    player_idx = data['Player'].unique()
    vals = []
    for i in range(len(player_lines)):
        player = lines.iloc[i,0]
        
        if player in player_idx:
            cat = lines.iloc[i,3]
            opp = lines.iloc[i,1]
            if opp in home_teams:
                home = 0
            else:
                home = 1
            mov = dynamic(player, cat ,5,avail)
            series = np.array(get_stat(player,cat))
            line_pp = lines['Line_pp'][i]
            line_dog = lines['Line_dog'][i]
            season = print_prob(player,line_pp,cat,stats=avail,prnt=False)
            l_10 = print_prob(player,line_pp,cat,games=10,stats=avail,prnt=False)
            
            avg = np.mean(series)
            mov_avg = dynamic(player,cat)[-1]
            expected = adjust(player,cat,opp,avail)
            vals.append([player,opp,home,cat,round(avg,1),round(mov_avg,1),round(expected,1),line_pp,line_dog,l_10,season])
          
    odd = pd.DataFrame(vals,columns=['Player','Opp','Home','Stat','Season_avg','mov_avg','expected','line_pp','line_dog','Last_10','Season'])
    odd['blend'] = odd[['Last_10', 'Season']].mean(axis=1) 
    odd['Prob']= 1- poisson.cdf(mu=odd['expected'],k=odd['line_pp'])
            
    return odd

In [575]:
pd.set_option('display.max_rows', 25)
pd.set_option('display.min_rows', 25)
diff = best_diff_odds(line_diff)

In [576]:
diff['dog_Prob'] = 1- poisson.cdf(mu=diff['expected'],k=diff['line_dog'])
diff['Prob_diff'] = diff['Prob']-diff['dog_Prob']

In [577]:
dog_today

                      Player  Line         Stat        Date Team
0               Jayson Tatum  42.5  PTS+TRB+AST  2023-03-30  MIL
1               Jayson Tatum  28.5          PTS  2023-03-30  MIL
2               Jayson Tatum   9.0          TRB  2023-03-30  MIL
3               Jayson Tatum   4.5          AST  2023-03-30  MIL
4               Jaylen Brown  36.0  PTS+TRB+AST  2023-03-30  MIL
5               Jaylen Brown  26.5          PTS  2023-03-30  MIL
6               Jaylen Brown   6.0          TRB  2023-03-30  MIL
7               Marcus Smart  19.5  PTS+TRB+AST  2023-03-30  MIL
8               Marcus Smart  11.5          PTS  2023-03-30  MIL
9               Marcus Smart   5.0          AST  2023-03-30  MIL
10              Marcus Smart   2.5          TRB  2023-03-30  MIL
11                Al Horford  17.5  PTS+TRB+AST  2023-03-30  MIL
..                       ...   ...          ...         ...  ...
26         Jonas Valanciunas  14.5          PTS  2023-03-30  DEN
27         Jonas Valanciunas  10.5          TRB  2023-03-30  DEN
28         Jonas Valanciunas  27.5  PTS+TRB+AST  2023-03-30  DEN
29             Herbert Jones   8.0          PTS  2023-03-30  DEN
30             Herbert Jones   4.0          TRB  2023-03-30  DEN
31             Herbert Jones  14.5  PTS+TRB+AST  2023-03-30  DEN
32              Jamal Murray  22.5          PTS  2023-03-30  NOP
33              Jamal Murray  33.5  PTS+TRB+AST  2023-03-30  NOP
34              Jamal Murray   7.5          AST  2023-03-30  NOP
35              Jamal Murray   4.0          TRB  2023-03-30  NOP
36  Kentavious Caldwell-Pope   9.5          PTS  2023-03-30  NOP
37  Kentavious Caldwell-Pope  14.5  PTS+TRB+AST  2023-03-30  NOP

[38 rows x 5 columns]

In [578]:
diff.sort_values(by='Prob')

,Player,Opp,Home,Stat,Season_avg,mov_avg,expected,line_pp,line_dog,Last_10,Season,blend,Prob,dog_Prob,Prob_diff
1,Herbert Jones,DEN,0,PTS,9.4,8.7,8.8,8.5,8.0,0.5,0.57,0.53,0.52,0.52,0.0
0,Brandon Ingram,DEN,0,AST,5.4,7.2,8.5,6.5,6.0,0.6,0.38,0.49,0.74,0.74,0.0

In [579]:
pp_under = diff.loc[(diff['line_pp'] > diff['line_dog']) & (diff['Prob'] < 0.5)]
pp_under.sort_values(by='Prob')

Empty DataFrame
Columns: [Player, Opp, Home, Stat, Season_avg, mov_avg, expected, line_pp, line_dog, Last_10, Season, blend, Prob, dog_Prob, Prob_diff]
Index: []

In [580]:
pp_over = diff.loc[(diff['line_pp'] < diff['line_dog']) & (diff['Prob'] > 0.5)]
pp_over.sort_values(by='Prob')

Empty DataFrame
Columns: [Player, Opp, Home, Stat, Season_avg, mov_avg, expected, line_pp, line_dog, Last_10, Season, blend, Prob, dog_Prob, Prob_diff]
Index: []

In [581]:
dog_under = diff.loc[(diff['line_dog'] > diff['line_pp']) & (diff['Prob'] < 0.5)]
dog_under.sort_values(by='dog_Prob')

Empty DataFrame
Columns: [Player, Opp, Home, Stat, Season_avg, mov_avg, expected, line_pp, line_dog, Last_10, Season, blend, Prob, dog_Prob, Prob_diff]
Index: []

In [582]:
dog_over = diff.loc[(diff['line_dog'] < diff['line_pp']) & (diff['Prob'] > 0.5)]
dog_over.sort_values(by='dog_Prob')

,Player,Opp,Home,Stat,Season_avg,mov_avg,expected,line_pp,line_dog,Last_10,Season,blend,Prob,dog_Prob,Prob_diff
1,Herbert Jones,DEN,0,PTS,9.4,8.7,8.8,8.5,8.0,0.5,0.57,0.53,0.52,0.52,0.0
0,Brandon Ingram,DEN,0,AST,5.4,7.2,8.5,6.5,6.0,0.6,0.38,0.49,0.74,0.74,0.0

In [583]:
diff['prob_diff'] = diff['Prob']-diff['dog_Prob']
diff.sort_values(by='prob_diff')

,Player,Opp,Home,Stat,Season_avg,mov_avg,expected,line_pp,line_dog,Last_10,Season,blend,Prob,dog_Prob,Prob_diff,prob_diff
0,Brandon Ingram,DEN,0,AST,5.4,7.2,8.5,6.5,6.0,0.6,0.38,0.49,0.74,0.74,0.0,0.0
1,Herbert Jones,DEN,0,PTS,9.4,8.7,8.8,8.5,8.0,0.5,0.57,0.53,0.52,0.52,0.0,0.0

In [584]:
unabated = pd.read_csv('unabated', index_col=0)
unabated = unabated.sort_values(by='Prob')
fullpdf = pd.read_csv('fullpdf', index_col=0)
fullpdf = fullpdf.reset_index(drop=True)

In [585]:
jak = fullpdf.loc[fullpdf.Player=='Jakob Poeltl']
jak.loc[jak.Stat=='TRB']

Empty DataFrame
Columns: [Player, Stat, Line, Prob, O_price, U_price]
Index: []

In [586]:
fullpdf['pp'] = 0
len(fullpdf)

181

In [587]:
odd.head(2)

,Player,Opp,Home,Stat,Season_avg,mov_avg,expected,line,Last_10,Season,blend,Prob,Z
0,Jayson Tatum,NaN,1,TRB+AST,13.6,13.2,NaN,13.5,0.6,0.51,0.56,NaN,NaN
1,Jayson Tatum,NaN,1,PTS,30.1,28.9,NaN,28.5,0.6,0.63,0.61,NaN,NaN

In [588]:
pp_today['market'] = None

In [589]:
for i in range(len(pp_today)):
#    if i % 50 == 0:
#        print(i,'/',len(fullpdf))
    p = pp_today.Player[i]
    line = pp_today.Line[i]
    stat = pp_today.Stat[i]
    find = fullpdf.loc[(fullpdf.Player == p)]
    find = find.loc[find.Stat==stat]
    find = find.loc[find.Line==line]
    if len(find) != 0:
        pp_today.market[i] = find.Prob.mean()

C:\Users\User\AppData\Local\Temp\ipykernel_1204\3370887669.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_today.market[i] = find.Prob.mean()

In [590]:
test = pp_today.dropna()
test.sort_values(by='market')

                      Player Team  Line         Stat        Date market
29            Brandon Ingram  DEN   6.5          AST  2023-03-30   0.46
62             Herbert Jones  DEN   8.5          PTS  2023-03-30   0.47
47  Kentavious Caldwell-Pope  NOP   9.5          PTS  2023-03-30   0.47
45  Kentavious Caldwell-Pope  NOP  12.5      PTS+AST  2023-03-30   0.47
58         Jonas Valanciunas  DEN  27.5  PTS+TRB+AST  2023-03-30   0.48
33              Jamal Murray  NOP  22.5          PTS  2023-03-30   0.48
59         Jonas Valanciunas  DEN  14.5          PTS  2023-03-30   0.49
55         Jonas Valanciunas  DEN  10.5          TRB  2023-03-30   0.49
54         Jonas Valanciunas  DEN  25.5      PTS+TRB  2023-03-30   0.49
40               CJ McCollum  DEN  29.5  PTS+TRB+AST  2023-03-30   0.49
26            Brandon Ingram  DEN  32.5      PTS+AST  2023-03-30   0.49
38              Jamal Murray  NOP  26.5      PTS+TRB  2023-03-30   0.49
..                       ...  ...   ...          ...         ...    ...
43               CJ McCollum  DEN   5.5          AST  2023-03-30    0.5
44               CJ McCollum  DEN  19.5          PTS  2023-03-30    0.5
57         Jonas Valanciunas  DEN  16.5      PTS+AST  2023-03-30    0.5
30            Brandon Ingram  DEN  31.5      PTS+TRB  2023-03-30    0.5
28            Brandon Ingram  DEN  37.5  PTS+TRB+AST  2023-03-30    0.5
39               CJ McCollum  DEN  23.5      PTS+TRB  2023-03-30    0.5
61             Herbert Jones  DEN  10.5      PTS+AST  2023-03-30   0.51
37              Jamal Murray  NOP   7.5          AST  2023-03-30   0.51
46  Kentavious Caldwell-Pope  NOP  11.5      PTS+TRB  2023-03-30   0.51
36              Jamal Murray  NOP  29.5      PTS+AST  2023-03-30   0.51
34              Jamal Murray  NOP  33.5  PTS+TRB+AST  2023-03-30   0.52
60             Herbert Jones  DEN  11.5      PTS+TRB  2023-03-30   0.53

[26 rows x 6 columns]

In [591]:
fullpdf.loc[fullpdf.pp!=0].sort_values(by='Prob')

Empty DataFrame
Columns: [Player, Stat, Line, Prob, O_price, U_price, pp]
Index: []

In [540]:
fullpdf.loc[fullpdf.Player=='Keegan Murray']

Empty DataFrame
Columns: [Player, Stat, Line, Prob, O_price, U_price, pp]
Index: []