In [15]:
#imports and scraping raw data from site
#df is the actual betting line
#df2 has other info, mostly using to get player id to name dict

import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime as dt
import random
import re
from unidecode import unidecode
import time

In [16]:
import urllib3
import json
import urllib

In [17]:
today= dt.date.today()
pp_lines = pd.read_csv(f'Lines/full_lines{today.month}_{today.day}',index_col=0)
print('find these event ids')
pp_lines.loc[pp_lines.League==82].Team.unique()

find these event ids

array(['Roma', 'Sevilla', 'Atlanta', 'New England', 'Toronto', 'Columbus',
       'Chicago', 'Cincinnati', 'NYRB', 'Miami', 'Colorado', 'NYCFC',
       'LAFC', 'Leon', 'Uruguay U20', 'Gambia U20'], dtype=object)

In [18]:
def scrape(url):
    #get raw json data from a single event api
    response = urllib.request.urlopen(url)
    print(response.status)
    return json.loads(response.read())

In [19]:
def process_data(data):
    #turn raw json data most of the way to a usable df
    path = data['attachments']['markets']
    b = pd.DataFrame()
    for k in list(path.keys()):
        a = pd.json_normalize(path[k],record_path ='runners')
        c =pd.json_normalize(path[k])
        for col in ['eventId','marketName','marketTime', 'marketType']:
            a[col] = c[col].values[0]
        b = pd.concat((b,a))
    return b

In [20]:
#have to find these by hand still
events = [32370875,32363138,32370922,32370168,32372098,]

lines = pd.DataFrame()
for i in range(len(events)):
    #get and transform data from multiple events
    id = events[i]
    fd_url = f'https://sbapi.nj.sportsbook.fanduel.com/api/event-page?_ak=FhMFpcPWXMeyZxOx&eventId={id}&tab=shots'
    try:
        data = scrape(fd_url)
        time.sleep(1)
        new = process_data(data)
        lines = pd.concat((lines,new))
    except:
        print(i,id,'error')
backup = lines.copy(deep=True)
    #seems like this is still overwriting the previous ones

200
200
200
200
200

In [21]:
#copying data for safety and grabbing relevant columns
#wrangling the strings to turn for example 'Player To Have 2 Or More Shots' into:
#handicap :1.5   and stat: Shots


g = backup[[ 'handicap', 'runnerName',
             'winRunnerOdds.americanDisplayOdds.americanOdds', 'eventId',
             'marketName', 'marketTime']].copy(deep=True)

g['handicap'] = g.marketName.apply(lambda x: x.split('Player To Have ')[-1].split(' ')[0])
g['marketName'] = g.marketName.apply(lambda x: ' '.join(x.split('Player To Have ')[-1].split(' ')[1:]).split('Or More ')[-1])

g.columns = ['Line', 'Player','Odds', 'eventId',
       'Stat', 'marketTime']

g = g.loc[g['Line'].str.match(r'^\d+$')]
g['Line'] = g['Line'].astype(float)
g['Line'] = g['Line'] - 0.5
g

,Line,Player,Odds,eventId,Stat,marketTime
0,0.5,Dante Vanzeir,-3000,32370875,Shots,2023-05-31T23:30:00.000Z
1,0.5,Josef Martinez,-1600,32370875,Shots,2023-05-31T23:30:00.000Z
2,0.5,Cory Burke,-1300,32370875,Shots,2023-05-31T23:30:00.000Z
3,0.5,Lewis Morgan,-1300,32370875,Shots,2023-05-31T23:30:00.000Z
4,0.5,Elias Manoel,-1100,32370875,Shots,2023-05-31T23:30:00.000Z
...,...,...,...,...,...,...
28,0.5,Raymon Gaddis,10000,32372098,Shots On Target in Each Half,2023-05-31T23:30:00.000Z
29,0.5,Ian Murphy,10000,32372098,Shots On Target in Each Half,2023-05-31T23:30:00.000Z
30,0.5,Thiago Martins,10000,32372098,Shots On Target in Each Half,2023-05-31T23:30:00.000Z
31,0.5,Matt Miazga,10000,32372098,Shots On Target in Each Half,2023-05-31T23:30:00.000Z
32,0.5,Tony Alfaro,10000,32372098,Shots On Target in Each Half,2023-05-31T23:30:00.000Z

In [24]:
x = pp_lines.merge(g).sort_values(by='Odds')
x

,Player,Team,Line,Stat,League,Date,Odds,eventId,marketTime
27,Dante Vanzeir,Miami,1.5,Shots,82,2023-05-31,-550,32370875,2023-05-31T23:30:00.000Z
28,Mark-Anthony Kaye,Chicago,0.5,Shots,6,2023-05-31,-410,32370922,2023-05-31T23:30:00.000Z
16,Darlington Nagbe,Colorado,0.5,Shots,82,2023-05-31,-360,32370168,2023-05-31T23:30:00.000Z
14,Cucho Hernandez,Colorado,4.5,Shots,82,2023-05-31,-360,32370168,2023-05-31T23:30:00.000Z
15,Yaw Yeboah,Colorado,1.5,Shots,82,2023-05-31,-290,32370168,2023-05-31T23:30:00.000Z
5,Oliver Torres,Roma,0.5,Shots,82,2023-05-31,-280,32363138,2023-05-31T19:00:00.000Z
23,Kosi Thompson,Chicago,0.5,Shots,82,2023-05-31,-260,32370922,2023-05-31T23:30:00.000Z
10,Lorenzo Insigne,Chicago,2.5,Shots,82,2023-05-31,-260,32370922,2023-05-31T23:30:00.000Z
31,Santiago Rodriguez,Cincinnati,1.5,Shots,82,2023-05-31,-250,32372098,2023-05-31T23:30:00.000Z
26,Malte Amundsen,Colorado,0.5,Shots,82,2023-05-31,-210,32370168,2023-05-31T23:30:00.000Z
30,Santiago Rodriguez,Cincinnati,0.5,Shots On Target,82,2023-05-31,-185,32372098,2023-05-31T23:30:00.000Z
6,Leonardo Spinazzola,Sevilla,0.5,Shots,82,2023-05-31,-180,32363138,2023-05-31T19:00:00.000Z
29,Talles Magno,Cincinnati,1.5,Shots,82,2023-05-31,-175,32372098,2023-05-31T23:30:00.000Z
12,Richie Laryea,Chicago,0.5,Shots,82,2023-05-31,-175,32370922,2023-05-31T23:30:00.000Z
22,Yaw Yeboah,Colorado,0.5,Shots On Target,82,2023-05-31,-170,32370168,2023-05-31T23:30:00.000Z
13,Rafael Czichos,Toronto,0.5,Shots,82,2023-05-31,-160,32370922,2023-05-31T23:30:00.000Z
11,Dixon Arroyo,NYRB,0.5,Shots,82,2023-05-31,-150,32370875,2023-05-31T23:30:00.000Z
3,Youssef En-Nesyri,Roma,2.5,Shots,82,2023-05-31,-145,32363138,2023-05-31T19:00:00.000Z
21,Dominique Badji,NYCFC,1.5,Shots,82,2023-05-31,-140,32372098,2023-05-31T23:30:00.000Z
2,Lucas Ocampos,Roma,0.5,Shots On Target,82,2023-05-31,-130,32363138,2023-05-31T19:00:00.000Z
18,Maren Haile-Selassie,Toronto,0.5,Shots On Target,82,2023-05-31,-130,32370922,2023-05-31T23:30:00.000Z
19,Junior Moreno,NYCFC,0.5,Shots,82,2023-05-31,-130,32372098,2023-05-31T23:30:00.000Z
4,Gianluca Mancini,Sevilla,0.5,Shots,82,2023-05-31,-125,32363138,2023-05-31T19:00:00.000Z
20,Gaston Gimenez,Toronto,0.5,Shots,82,2023-05-31,-125,32370922,2023-05-31T23:30:00.000Z
8,Ivan Rakitic,Roma,1.5,Shots,82,2023-05-31,-105,32363138,2023-05-31T19:00:00.000Z
24,Maren Haile-Selassie,Toronto,1.5,Shots,82,2023-05-31,110,32370922,2023-05-31T23:30:00.000Z
0,Lorenzo Pellegrini,Sevilla,0.5,Shots On Target,82,2023-05-31,115,32363138,2023-05-31T19:00:00.000Z
1,Nemanja Matic,Sevilla,0.5,Shots,82,2023-05-31,140,32363138,2023-05-31T19:00:00.000Z
9,Sean Nealis,Miami,0.5,Shots,82,2023-05-31,145,32370875,2023-05-31T23:30:00.000Z
17,Brandon Vazquez,NYCFC,2.5,Shots,82,2023-05-31,150,32372098,2023-05-31T23:30:00.000Z
7,Ivan Rakitic,Roma,0.5,Shots On Target,82,2023-05-31,160,32363138,2023-05-31T19:00:00.000Z
25,Leonardo Campana,NYRB,2.5,Shots,82,2023-05-31,190,32370875,2023-05-31T23:30:00.000Z

In [25]:
x.loc[x.Team=='Sevilla']

,Player,Team,Line,Stat,League,Date,Odds,eventId,marketTime
6,Leonardo Spinazzola,Sevilla,0.5,Shots,82,2023-05-31,-180,32363138,2023-05-31T19:00:00.000Z
4,Gianluca Mancini,Sevilla,0.5,Shots,82,2023-05-31,-125,32363138,2023-05-31T19:00:00.000Z
0,Lorenzo Pellegrini,Sevilla,0.5,Shots On Target,82,2023-05-31,115,32363138,2023-05-31T19:00:00.000Z
1,Nemanja Matic,Sevilla,0.5,Shots,82,2023-05-31,140,32363138,2023-05-31T19:00:00.000Z

In [26]:
x.loc[x.Team=='Roma']

,Player,Team,Line,Stat,League,Date,Odds,eventId,marketTime
5,Oliver Torres,Roma,0.5,Shots,82,2023-05-31,-280,32363138,2023-05-31T19:00:00.000Z
3,Youssef En-Nesyri,Roma,2.5,Shots,82,2023-05-31,-145,32363138,2023-05-31T19:00:00.000Z
2,Lucas Ocampos,Roma,0.5,Shots On Target,82,2023-05-31,-130,32363138,2023-05-31T19:00:00.000Z
8,Ivan Rakitic,Roma,1.5,Shots,82,2023-05-31,-105,32363138,2023-05-31T19:00:00.000Z
7,Ivan Rakitic,Roma,0.5,Shots On Target,82,2023-05-31,160,32363138,2023-05-31T19:00:00.000Z

In [31]:
dk = scrape('https://sportsbook.draftkings.com//sites/US-SB/api/v5/eventgroups/89345/categories/1113?format=json')

200

In [36]:
pd.json_normalize(dk['eventGroup'])

,eventGroupId,displayGroupId,name,offerCategories,events,tags,nameIdentifier
0,89345,1,USA - MLS,"[{'offerCategoryId': 490, 'name': 'Game Lines'...","[{'eventId': '28937911', 'displayGroupId': '1'...","[MatchTracker, PrePack, Scoreboard, SportcastB...",USA - MLS

In [53]:
dk2 = pd.json_normalize(dk['eventGroup']['offerCategories'][2]['offerSubcategoryDescriptors'])
dk2

,subcategoryId,name,offerSubcategory.name,offerSubcategory.subcategoryId,offerSubcategory.componentId,offerSubcategory.offers
0,11004,Player Shots on Target,Player Shots on Target,11004.0,29.0,"[[{'providerOfferId': '149783886', 'eventId': ..."
1,11005,Player Shots,NaN,NaN,NaN,NaN
2,11006,Player Assists,NaN,NaN,NaN,NaN
3,12377,Shot on Target - Each Half,NaN,NaN,NaN,NaN

In [76]:
pd.json_normalize(dk2['offerSubcategory.offers'][0][0][0])

,providerOfferId,eventId,eventGroupId,label,isSuspended,isOpen,offerSubcategoryId,isSubcategoryFeatured,betOfferTypeId,providerCriterionId,outcomes,offerUpdateState,offerSequence,source,displayGroupId,main
0,149783886,28937911,89345,Player to Have 1 or More Shots on Target,False,True,11004,True,0,10065,[{'providerOutcomeId': '0QA149783886#152841609...,0,1,3,1,False