In [5]:
#imports and scraping raw data from site
#df is the actual betting line
#df2 has other info, mostly using to get player id to name dict

import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime as dt
import random
from unidecode import unidecode
import time

In [6]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

# create a new Service instance for ChromeDriver
service = Service('/path/to/chromedriver')

# create a new Chrome webdriver instance, passing the Service object
driver = webdriver.Chrome(service=service)

# load the webpage
driver.get('https://api.prizepicks.com/projections')
time.sleep(10)

# extract the title of the page
title = driver.title

# print the title
print(title)
json_data = driver.execute_script("return JSON.parse(document.getElementsByTagName('pre')[0].innerText);")

#data = json.loads(json_data)
df = pd.json_normalize(json_data,record_path='data')
# close the browser window
driver.quit()

In [7]:
df = pd.json_normalize(json_data,record_path='data')
df

,id,type,attributes.board_time,attributes.custom_image,attributes.description,attributes.end_time,attributes.flash_sale_line_score,attributes.is_promo,attributes.line_score,attributes.projection_type,...,relationships.league.data.id,relationships.league.data.type,relationships.new_player.data.id,relationships.new_player.data.type,relationships.projection_type.data.id,relationships.projection_type.data.type,relationships.stat_type.data.id,relationships.stat_type.data.type,relationships.duration.data.id,relationships.duration.data.type
0,1275535,projection,2023-04-27T20:00:00-04:00,None,2023 CAR,None,None,False,3649.5,Single Stat,...,163,league,140303,new_player,2,projection_type,16,stat_type,NaN,NaN
1,1279426,projection,2023-04-23T00:00:00-04:00,None,2023 ATL,None,None,False,1075.5,Single Stat,...,163,league,140386,new_player,2,projection_type,15,stat_type,NaN,NaN
2,1334044,projection,2023-05-20T13:00:00-04:00,None,WAS 1st Half,None,None,False,14.0,Fantasy Score,...,193,league,65171,new_player,1,projection_type,14,stat_type,12,duration
3,1279233,projection,2023-04-27T20:00:00-04:00,None,2023 HOU,None,None,False,3625.5,Single Stat,...,163,league,140378,new_player,2,projection_type,16,stat_type,NaN,NaN
4,1333293,projection,2023-05-12T19:00:00-04:00,None,D. Medvedev (Rome),None,None,False,9.5,Single Stat,...,244,league,94796,new_player,2,projection_type,325,stat_type,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415,1333051,projection,2023-05-20T16:00:00-04:00,None,DAL,None,None,False,2.5,Single Stat,...,8,league,58058,new_player,2,projection_type,21,stat_type,NaN,NaN
1416,1333052,projection,2023-05-20T16:00:00-04:00,None,DAL,None,None,False,2.5,Single Stat,...,8,league,57429,new_player,2,projection_type,21,stat_type,NaN,NaN
1417,1333053,projection,2023-05-20T16:00:00-04:00,None,VGK,None,None,False,1.5,Single Stat,...,8,league,58483,new_player,2,projection_type,21,stat_type,NaN,NaN
1418,1333054,projection,2023-05-20T16:00:00-04:00,None,DAL,None,None,False,1.5,Single Stat,...,8,league,93843,new_player,2,projection_type,21,stat_type,NaN,NaN
1419,1333055,projection,2023-05-20T16:00:00-04:00,None,DAL,None,None,False,1.5,Single Stat,...,8,league,87701,new_player,2,projection_type,21,stat_type,NaN,NaN

#original
import urllib3
import json
import urllib
class AppURLopener(urllib.request.FancyURLopener):
    version = "Mozilla/5.0"

pp_props_url = 'https://api.prizepicks.com/projections'
opener = AppURLopener()
response = opener.open(pp_props_url)
http = urllib3.PoolManager()
myheaders = {'Content-Type': 'application/json'}
mydata = {'username': '***', 'password': '****'}
print(response.status)
#data = json.loads(response.read())
#df = pd.json_normalize(data,record_path='data')
#df

In [8]:
df2 = pd.json_normalize(json_data,record_path='included')
df2.head(3)

,id,type,attributes.image_url,attributes.league,attributes.league_id,attributes.market,attributes.name,attributes.position,attributes.team,attributes.team_name,relationships.league.data.id,relationships.league.data.type,attributes.active,attributes.icon,attributes.last_five_games_enabled,attributes.projections_count,attributes.rank,relationships.projection_filters.data,attributes.lfg_ignored_leagues
0,59895,new_player,https://i.imgur.com/kCS0jOQ.png,VAL,159.0,None,ban,G,T1,59895,159,league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1290,new_player,https://static.prizepicks.com/images/players/n...,NBA,7.0,Denver,Jamal Murray,G,DEN,Nuggets,7,league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,145,league,https://static.prizepicks.com/images/leagues/c...,NaN,NaN,NaN,COD,NaN,NaN,NaN,NaN,NaN,True,cod,False,0.0,33.0,[],NaN

In [9]:
df2.drop(df2.columns[df2.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [10]:
#getting names dict from df2
display(df2.head())
names = df2[['type','id', 'attributes.name']]
names = names.loc[names['type']=='new_player']
names = names[['id','attributes.name']]

name = names['attributes.name'].tolist()
id = names['id'].tolist()

names_dict = {id[i]: name[i] for i in range(len(name))}

names_dict

,id,type,attributes.image_url,attributes.league,attributes.league_id,attributes.market,attributes.name,attributes.position,attributes.team,attributes.team_name,relationships.league.data.id,relationships.league.data.type,attributes.active,attributes.icon,attributes.last_five_games_enabled,attributes.projections_count,attributes.rank,relationships.projection_filters.data,attributes.lfg_ignored_leagues
0,59895,new_player,https://i.imgur.com/kCS0jOQ.png,VAL,159.0,None,ban,G,T1,59895,159,league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1290,new_player,https://static.prizepicks.com/images/players/n...,NBA,7.0,Denver,Jamal Murray,G,DEN,Nuggets,7,league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,145,league,https://static.prizepicks.com/images/leagues/c...,NaN,NaN,NaN,COD,NaN,NaN,NaN,NaN,NaN,True,cod,False,0.0,33.0,[],NaN
3,2107,new_player,https://s3-us-west-2.amazonaws.com/static.fant...,PGA,1.0,None,Tyrrell Hatton,G,Tyrrell Hatton,None,1,league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,127775,new_player,https://static.prizepicks.com/images/players/m...,MLBLIVE,231.0,Pittsburgh,Roansy Contreras,P,PIT,Pirates,231,league,NaN,NaN,NaN,NaN,NaN,NaN,NaN

{'59895': 'ban',
 '1290': 'Jamal Murray',
 '2107': 'Tyrrell Hatton',
 '127775': 'Roansy Contreras',
 '64300': 'DarkMago',
 '70079': 'Rayan Raveloson',
 '39181': 'Dak Prescott',
 '65163': 'Alyssa Thomas',
 '140435': 'Corey Coleman',
 '127730': 'Kremp',
 '64193': 'Tyrrell Hatton',
 '87185': 'George Kirby',
 '69759': 'Luke Raley',
 '11851': 'Scottie Scheffler',
 '16654': 'Octane',
 '49': 'Hideki Matsuyama',
 '54718': 'Robert Williams III',
 '141219': 'Evgenii Dadonov',
 '87986': 'salazar',
 '57764': 'Jonathan Marchessault',
 '47064': 'Emre Can',
 '39520': 'Antonio Rudiger',
 '67501': 'Bo Bichette',
 '20006': 'Thomas Walkup',
 '141538': 'Breanna Stewart',
 '21131': 'Dzanan Musa',
 '16714': 'Skrapz',
 '58671': 'Jason Robertson',
 '65141': 'NaLyssa Smith',
 '61563': 'William Carrier',
 '16721': 'CleanX',
 '59451': 'Lj',
 '64392': 'Shakira Austin',
 '68118': 'Lance Lynn',
 '67577': 'Marcus Semien',
 '58309': 'LeBron James',
 '15182': 'apEX',
 '48531': 'Pierluigi Gollini',
 '67558': 'Austin Riley',
 '39078': 'Patrick Mahomes',
 '139725': 'Jalen Beeks',
 '94394': 'Gedeon Kalulu',
 '125778': 'kiyotaka',
 '15251': 'k1to',
 '56400': 'isak',
 '67545': 'Jose Altuve',
 '16130': 'Ty Lopez',
 '64198': 'Rory McIlroy',
 '25': 'Kyle Busch',
 '47078': 'Gregor Kobel',
 '67560': 'Riley Greene',
 '74215': 'Gunnar Henderson',
 '140378': 'C.J. Stroud',
 '64519': 'Scottie Scheffler',
 '16184': 'Sahith Theegala',
 '67725': 'Framber Valdez',
 '53727': 'Chris Luck',
 '21109': 'Moustapha Fall',
 '46458': 'João Félix',
 '46389': 'Edouard Mendy',
 '48944': 'Adrien Thomasson',
 '127238': 'Pablo López',
 '67548': 'Mike Trout',
 '140303': 'Bryce Young',
 '127283': 'Masataka Yoshida',
 '63224': 'SugarZ3ro',
 '127644': 'James Kaprielian',
 '53732': 'Leostyle',
 '15010': 'Christopher Bell',
 '59313': 'Hicksy',
 '48800': 'Deiver Machado',
 '67550': 'Shohei Ohtani',
 '53742': '4dr',
 '58998': 'Mario Hezonja',
 '68585': 'Gleyber Torres',
 '55074': 'Jayson Tatum',
 '67817': 'Mookie Betts',
 '19999': 'Walter Tavares',
 '45290': 'Romain Faivre',
 '65143': 'Kelsey Mitchell',
 '74667': 'Mykhailo Mudryk',
 '127614': 'Sai Sudharsan',
 '63363': 'Mark Thompson',
 '64186': 'Keegan Bradley',
 '14992': 'knight',
 '46346': 'Thiago Silva',
 '48669': 'Gianluigi Donnarumma',
 '65153': 'Kahleah Copper',
 '67573': 'Francisco Lindor',
 '16718': 'Attach',
 '64544': 'Tommy Fleetwood',
 '141548': 'Elizabeth Williams',
 '64215': 'AJ Brown',
 '49950': 'Holger Vitus Nodskov Rune',
 '87186': 'Luis Severino',
 '15092': 'acoR',
 '67572': 'Pete Alonso',
 '67565': 'Bobby Witt Jr.',
 '141486': 'Mark Burgess',
 '88407': 'Glance',
 '16529': 'iM',
 '127242': 'Hunter Greene',
 '48369': 'Riyad Mahrez',
 '37818': 'Yagao',
 '125098': 'Pablo López',
 '59884': 'Sayaplayer',
 '16649': 'Vivid',
 '48664': 'Juan Bernat',
 '68138': 'Merrill Kelly',
 '140621': 'Tanner Bibee',
 '69805': 'Jesús Luzardo',
 '44835': 'Brice Samba',
 '140503': 'Zay Flowers',
 '45339': 'Kylian Mbappe',
 '47287': 'Ermedin Demirović',
 '67531': 'Kevin Gausman',
 '64559': 'Harold Varner III',
 '47751': 'Matteo Darmian',
 '65213': 'Sabrina Ionescu',
 '63225': 'ten',
 '1892': 'Xander Schauffele',
 '73988': 'Bryce Harper',
 '92137': 'Beans',
 '140723': 'Connor Seabold',
 '124195': 'Wyatt Johnston',
 '70298': 'Jose Siri',
 '48765': 'Enzo Le Fée',
 '67816': 'Ryan McMahon',
 '66847': 'joel',
 '63351': 'Sage Surratt',
 '2976': 'Antoine Griezmann',
 '128005': 'Derek Holland',
 '127345': 'Merrill Kelly',
 '67700': 'Yordan Alvarez',
 '49869': 'Insight',
 '47747': 'Nicolò Barella',
 '141546': 'Marina Mabrey',
 '30': 'Kevin Harvick',
 '48808': 'Jonathan Gradit',
 '39180': 'Josh Allen',
 '39139': 'Kirk Cousins',
 '69835': 'RAMZES666',
 '94239': 'DaaD-',
 '15174': 'Plopski',
 '714': 'Patrick Cantlay',
 '64782': 'Justin Rose',
 '69425': 'Nico Hoerner',
 '93843': 'Nicolas Hague',
 '64526': 'Xander Schauffele',
 '87100': 'Framber Valdez',
 '67614': 'Matt Olson',
 '128279': 'Christian Brown',
 '67575': 'Corey Seager',
 '127795': 'Andrew Heaney',
 '95685': 'mini',
 '48806': 'Facundo Medina',
 '47045': 'Marco Reus',
 '127199': 'Nick Maton',
 '38700': 'Jonathan Taylor',
 '55076': 'Jaylen Brown',
 '57179': 'Caleb Martin',
 '140698': 'Daniel',
 '67602': 'Ketel Marte',
 '69790': 'Jarred Kelenic',
 '67499': 'Vladimir Guerrero Jr.',
 '1654': 'Jimmy Butler',
 '64286': 'Ainkrad',
 '140431': 'Wes Hills',
 '39285': 'Lamar Jackson',
 '64521': 'Collin Morikawa',
 '15540': 'Doug Zafft',
 '58486': 'Jamie Benn',
 '57428': 'Mark Stone',
 '20004': 'Shaquielle McKissic',
 '59295': 'Nastie',
 '27': 'Dustin Johnson',
 '124235': 'Min Woo Lee',
 '68132': 'Josiah Gray',
 '68122': 'James Kaprielian',
 '58483': 'Esa Lindell',
 '21': 'Kyle Larson',
 '9': 'Jon Rahm',
 '65140': 'Elena Delle Donne',
 '48370': 'Jack Grealish',
 '38586': "Ja'Marr Chase",
 '4401': 'William Byron',
 '40778': 'Xun',
 '23': 'Rory McIlroy',
 '48789': 'Florian Sotoca',
 '67511': 'Carlos Correa',
 '38581': 'Trevor Lawrence',
 '349': 'Magisk',
 '48845': 'Justin Kluivert',
 '67566': 'Julio Rodríguez',
 '38728': 'Derrick Henry',
 '15372': 'Keoz',
 '47745': 'Hakan Çalhanoğlu',
 '128166': 'Moses Zazueta',
 '139338': 'Bam Adebayo',
 '1382': 'Anthony Davis',
 '56625': 'Karim Adeyemi',
 '63385': 'Darius Victor',
 '47081': 'Alassane Pléa',
 '66272': 'Enzo Fernandez',
 '67594': 'George Kirby',
 '128287': 'Ryan Tucker',
 '125198': 'Andrew Heaney',
 '67585': 'Rafael Devers',
 '141601': 'Michael Block',
 '16717': 'Asim',
 '64524': 'Jordan Spieth',
 '69888': 'Juan Soto',
 '58485': 'Joe Pavelski',
 '127941': 'Jake Rogers',
 '68498': 'Roansy Contreras',
 '65154': 'Diana Taurasi',
 '140176': 'Vania',
 '127248': 'Shohei Ohtani',
 '140386': 'Bijan Robinson',
 '8': 'Ryan Blaney',
 '48798': 'Seko Fofana',
 '69249': 'Amon-Ra St. Brown\t',
 '128160': 'Michael Lucas Jr',
 '124378': 'Kevin Love',
 '22': 'Martin Truex Jr.',
 '48796': 'Przemysław Frankowski',
 '5': 'Jordan Spieth',
 '127190': 'Michael Conforto',
 '125452': 'Max Domi',
 '4396': 'Daniel Suarez',
 '64188': 'Corey Conners',
 '94231': 'Knight~',
 '64522': 'Viktor Hovland',
 '67506': 'Cedric Mullins',
 '141484': 'Jacob Trzcienski',
 '38583': 'Najee Harris',
 '141553': 'Elizabeth Williams',
 '51104': 'Laz',
 '92145': 'WarDy',
 '141537': 'Jonquel Jones',
 '54855': 'Kyle Lowry',
 '47067': 'Manuel Akanji',
 '47883': 'Francesco Acerbi',
 '67494': 'Javier Báez',
 '37877': 'Glenn Maxwell',
 '10920': 'Viktor Hovland',
 '46339': 'Mateo Kovačić',
 '70832': 'Khvicha Kvaratskhelia',
 '141540': 'Jonquel Jones',
 '38711': 'Justin Jefferson',
 '127587': 'Anthony Volpe',
 '74317': 'Kostas Papanikolaou',
 '63428': 'Case Cookus',
 '69589': 'Adley Rutschman',
 '141557': 'Óscar Mercado',
 '15363': 'Jimmy Youmans',
 '41': 'Brooks Koepka',
 '10919': 'Collin Morikawa',
 '58614': '369',
 '57429': 'Brayden McNabb',
 '65354': 'Keith Mitchell',
 '75099': 'Matt Thaiss',
 '95647': 'Adrian',
 '140811': 'Matt Mervis',
 '67515': 'Luis Robert',
 '128146': 'Kyle Malone',
 '54080': 'Caleb Martin',
 '47735': 'Romelu Lukaku',
 '56863': 'xeta',
 '67509': 'Byron Buxton',
 '94121': 'Munkushi~',
 '65144': 'Ariel Atkins',
 '40756': 'Elk',
 '49872': 'HyDra',
 '53726': 'K1',
 '64376': 'NaLyssa Smith',
 '54082': 'Max Strus',
 '94796': 'Holger Vitus Nodskov Rune',
 '47035': 'Niklas Süle',
 '67503': 'Randy Arozarena',
 '57768': 'William Karlsson',
 '64364': 'Brionna Jones',
 '49059': 'Wesley Fofana',
 '46834': 'Toni Kroos',
 '127633': 'Joey Wiemer',
 '87025': 'Clayton Kershaw',
 '141488': 'Zach Schibner',
 '57254': 'Max Strus',
 '48923': 'Gideon Mensah',
 '141555': 'Brittney Griner',
 '64299': 'Pakazs',
 '88405': 'Petra',
 '47911': 'Stanislav Lobotka',
 '141485': 'Joe Regan',
 '127450': 'Kevin Gausman',
 '39194': 'Tyreek Hill',
 '128076': 'Eric Tscherne',
 '1646': 'Bam Adebayo',
 '16951': 'Spinx',
 '65165': 'DeWanna Bonner',
 '48673': 'Lionel Messi',
 '46828': 'Vinicius Junior',
 '58482': 'Miro Heiskanen',
 '67502': 'Wander Franco',
 '140581': 'Nigel Williams-Goss',
 '46844': 'Daniel Carvajal',
 '48176': 'Julian Jeanvier',
 '126056': 'Michael Wacha',
 '56433': 'kraghen',
 '37446': 'Firstkiller',
 '63569': 'Jon Rahm',
 '48404': 'Ederson',
 '64425': 'Diana Taurasi',
 '125173': 'Corey Kluber',
 '1535': 'Jaylen Brown',
 '87701': 'Zach Whitecloud',
 '3372': 'Corey Conners',
 '64527': 'Hideki Matsuyama',
 '69894': 'Freddy Peralta',
 '67527': 'Christian Yelich',
 '69741': 'Salvador Perez',
 '127973': 'Cameron Holland',
 '55078': 'Marcus Smart',
 '64365': 'Alyssa Thomas',
 '141551': 'Courtney Williams',
 '64471': 'Joel Kiviranta',
 '141481': 'Brennon Ballard',
 '141541': 'Breanna Stewart',
 '63223': 'Dep',
 '55410': 'Al Horford',
 '64358': 'Sabrina Ionescu',
 '141530': 'Erica Wheeler',
 '127320': 'Jesús Luzardo',
 '64377': 'Kelsey Mitchell',
 '127468': 'Dean Kremer',
 '140238': 'Aaron Rodgers',
 '28501': 'Cammy',
 '48383': 'Rodri',
 '371': 'Harold Varner III',
 '61': 'Adam Scott',
 '94567': 'Montassar Talbi',
 '55281': 'Jimmy Butler',
 '65171': 'Brionna Jones',
 '64529': 'Brooks Koepka',
 '58484': 'Roope Hintz',
 '141549': 'Marina Mabrey',
 '140499': 'Jaxon Smith-Njigba',
 '15': 'Joey Logano',
 '64912': 'Birama Toure',
 '37879': 'Mahipal Lomror',
 '140174': 'Felipa',
 '46831': 'Marco Asensio',
 '46845': 'Éder Militão',
 '46826': 'Karim Benzema',
 '62332': 'Hardik Pandya',
 '141531': 'Aliyah Boston',
 '38693': 'Justin Herbert',
 '38718': 'CeeDee Lamb',
 '74594': 'Jack Flaherty',
 '58047': 'headtr1ck',
 '44615': 'Aurélien Tchouaméni',
 '78173': 'Joey Wentz',
 '74595': 'Corbin Carroll',
 '64796': 'Kahleah Copper',
 '141547': 'Courtney Williams',
 '141487': 'Shawn Farrell',
 '1536': 'Marcus Smart',
 '74057': 'Lois Openda',
 '128164': 'Mike Hoffman',
 '94234': 'SLATEM$',
 '10': 'Denny Hamlin',
 '141483': 'Caleb Avery',
 '127461': 'Josiah Gray',
 '141535': 'Erica Wheeler',
 '55283': 'Bam Adebayo',
 '55411': 'Al Horford',
 '47924': 'Amir Rrahmani',
 '128280': 'Corey Ballard',
 '54828': 'Anthony Davis',
 '64396': 'Elena Delle Donne',
 '141529': 'Tiffany Hayes',
 '28498': 'Priestahh',
 '127628': 'Taijuan Walker',
 '47922': 'Giovanni Di Lorenzo',
 '38686': "D'Andre Swift",
 '139980': 'Fernando Tatis Jr.',
 '64531': 'DeWanna Bonner',
 '39240': 'Nick Chubb',
 '127166': 'Andrew Benintendi',
 '127207': 'Corey Kluber',
 '127502': 'Michael Wacha',
 '48382': 'İlkay Gündoğan',
 '47063': 'Mats Hummels',
 '39474': 'Munchkin',
 '67652': 'Adolis García',
 '73945': 'Stuart Fairchild',
 '48380': 'Phil Foden',
 '47907': 'Piotr Zieliński',
 '38584': 'Travis Etienne Jr.',
 '38774': 'DK Metcalf',
 '95984': 'Amine Adli',
 '88406': 'mimi',
 '55175': 'Nikola Jokic',
 '60079': 'Jack Eichel',
 '94976': 'Daniil Medvedev',
 '64528': 'Patrick Cantlay',
 '28493': 'Owakening',
 '37978': 'Faf du Plessis',
 '67740': 'Clayton Kershaw',
 '87323': 'Malcolm Brogdon',
 '64346': 'Scrap',
 '2299': 'Cameron Smith',
 '139473': 'Jayson Tatum',
 '127237': 'Leolia Jeanjean',
 '37878': 'Virat Kohli',
 '329': 'Keegan Bradley',
 '67698': 'Steven Kwan',
 '47748': 'Marcelo Brozović',
 '70264': 'Betnijah Laney',
 '127525': 'Jared Shuster',
 '128191': 'Steve Schroeder',
 '87324': 'Malcolm Brogdon',
 '47771': 'Cristiano Ronaldo',
 '26': 'Chase Elliott',
 '16956': 'RuStY',
 '58488': 'Tyler Seguin',
 '59142': 'Ibrahima Kone',
 '48658': 'Sergio Ramos',
 '140504': 'Jordan Addison',
 '45097': 'Han-Noah Massengo',
 '39131': 'Travis Kelce',
 '128284': 'Jeff Reynolds',
 '64534': 'Bryson DeChambeau',
 '15032': 'Ruler',
 '46850': 'Thibaut Courtois',
 '64359': 'Betnijah Laney',
 '696': 'Daniil Medvedev',
 '45359': 'Marquinhos',
 '71007': 'Thairo Estrada',
 '139434': 'Jaylen Brown',
 '56395': 'hyped',
 '58989': 'Kostas Sloukas',
 '140035': 'McLeod Bethel-Thompson',
 '92144': 'Fame',
 '127619': 'Freddy Peralta',
 '141482': 'Brent Smith',
 '69890': 'Brandon Marsh',
 '63322': 'Yvon Mvogo',
 '64909': 'Jubal',
 '140684': 'Brenton Doyle',
 '59299': 'Envoy',
 '141528': 'Aliyah Boston',
 '38588': 'Devonta Smith',
 '53422': 'Andre Onana',
 '47738': 'Lautaro Martínez',
 '39125': 'Davante Adams',
 '140086': 'Zach Neto',
 '2891': 'tabseN',
 '127015': 'Uli',
 '47054': 'Julian Brandt',
 '127340': 'Lance Lynn',
 '54768': 'Gabe Vincent',
 '65146': 'Shakira Austin',
 '65142': 'Natasha Cloud',
 '4400': 'Chris Buescher',
 '88408': 'Mary',
 '54824': 'LeBron James',
 '64525': 'Dustin Johnson',
 '14961': 'Kanavi',
 '46': 'Tommy Fleetwood',
 '67555': 'Ronald Acuña Jr.',
 '67787': 'Dean Kremer',
 '55285': 'Kyle Lowry',
 '15264': 'Ross Chastain',
 '48619': 'Salis Abdul Samed',
 '127524': 'Jared Shuster',
 '67536': 'Nolan Arenado',
 '67535': 'Paul Goldschmidt',
 '79917': 'Harrison Bader',
 '48379': 'Kevin De Bruyne',
 '94568': 'Bonke Innocent',
 '48647': 'Marco Verratti',
 '15538': 'Brandon Jones',
 '127201': 'Ezequiel Tovar',
 '87434': 'Jamal Murray',
 '67019': 'Sahith Theegala',
 '71000': 'Michael Massey',
 '124379': 'Kevin Love',
 '38719': 'Joe Burrow',
 '58058': 'Alex Pietrangelo',
 '48766': 'Laurent Abergel',
 '48653': 'Danilo Pereira',
 '70644': 'Andrei Radu',
 '16719': 'KiSMET',
 '48777': 'Vincent Le Goff',
 '140173': 'eva',
 '56955': 'Gabe Vincent',
 '37441': 'jstn.',
 '3470': 'Keith Mitchell',
 '535': 'Shane Lowry',
 '478': 'Bryson DeChambeau',
 '140502': 'Quentin Johnston ',
 '128079': 'Florentino Mendoza',
 '56431': 'Queenix',
 '20': 'Brad Keselowski',
 '47055': 'Giovanni Reyna',
 '88003': 'Min-jae Kim',
 '67500': 'George Springer',
 '141533': 'Tiffany Hayes',
 '58995': 'Sergio Llull',
 '68707': 'Ty France',
 '55080': 'Robert Williams III',
 '28497': 'Kenny',
 '46649': 'Mathias Olivera',
 '62334': 'Wriddhiman Saha',
 '57430': 'Keegan Kolesar',
 '7': 'Justin Rose',
 '47046': 'Erling Braut Haaland',
 '141543': 'Courtney Vandersloot',
 '68150': 'Geraldo Perdomo',
 '67623': 'Anthony Rizzo',
 '140434': 'Justin Hall',
 '15184': 'ZywOo',
 '59298': 'Drazah',
 '67793': 'Justin Steele',
 '67528': 'Willy Adames',
 '39063': 'Stefon Diggs',
 '68145': 'Bryan De La Cruz',
 '38670': 'Jalen Hurts',
 '59312': 'Bance',
 '64539': 'Shane Lowry',
 '62326': 'Shubman Gill',
 '127458': 'Justin Steele',
 '15128': 'dupreeh',
 '37880': 'Anuj Rawat',
 '67590': 'Freddie Freeman',
 '127451': 'Jack Flaherty',
 '70954': 'Oswaldo Cabrera',
 '47773': 'Álvaro Morata',
 '64382': 'Ariel Atkins',
 '127523': 'Joey Wentz',
 '15535': 'Bill Hadley',
 '94240': 'PiPi',
 '58988': 'Sasha Vezenkov',
 '64383': 'Natasha Cloud',
 '15233': 'Aleksib',
 '140722': 'Connor Seabold',
 '125306': 'Taijuan Walker',
 '67790': 'Patrick Wisdom',
 '67547': 'Kyle Tucker',
 '127613': 'David Miller',
 '67931': 'Alex Wood',
 '128018': 'Alex Wood',
 '57765': 'Shea Theodore',
 '68128': 'Luis Severino',
 '53404': 'Sébastien Haller',
 '47896': 'Victor Osimhen',
 '39142': 'Odell Beckham Jr.',
 '128194': 'Storm Hogg',
 '16522': 'siuhy',
 '40923': 'Bin',
 '47048': 'Donyell Malen',
 '46829': 'Rodrygo',
 '64218': 'Garrett Wilson',
 '127136': 'Luis Arraez',
 '64523': 'Cameron Smith',
 '141539': 'Courtney Vandersloot',
 '67525': 'Bryan Reynolds',
 '46992': 'Moussa Diaby',
 '67669': 'José Ramírez',
 '140172': 'Alkyia',
 '15172': 'REZ',
 '67799': 'Hunter Greene',
 '66016': 'Brittney Griner',
 '127133': 'Dansby Swanson',
 '46463': 'Yannick Carrasco',
 '1266': 'Jayson Tatum',
 '1291': 'Nikola Jokic',
 '58487': 'Ryan Suter',
 '47085': 'Marcus Thuram',
 '141480': 'Cody Morris',
 '67738': 'Trent Grisham'}

In [11]:
df.head()

,id,type,attributes.board_time,attributes.custom_image,attributes.description,attributes.end_time,attributes.flash_sale_line_score,attributes.is_promo,attributes.line_score,attributes.projection_type,...,relationships.league.data.id,relationships.league.data.type,relationships.new_player.data.id,relationships.new_player.data.type,relationships.projection_type.data.id,relationships.projection_type.data.type,relationships.stat_type.data.id,relationships.stat_type.data.type,relationships.duration.data.id,relationships.duration.data.type
0,1275535,projection,2023-04-27T20:00:00-04:00,None,2023 CAR,None,None,False,3649.5,Single Stat,...,163,league,140303,new_player,2,projection_type,16,stat_type,NaN,NaN
1,1279426,projection,2023-04-23T00:00:00-04:00,None,2023 ATL,None,None,False,1075.5,Single Stat,...,163,league,140386,new_player,2,projection_type,15,stat_type,NaN,NaN
2,1334044,projection,2023-05-20T13:00:00-04:00,None,WAS 1st Half,None,None,False,14.0,Fantasy Score,...,193,league,65171,new_player,1,projection_type,14,stat_type,12,duration
3,1279233,projection,2023-04-27T20:00:00-04:00,None,2023 HOU,None,None,False,3625.5,Single Stat,...,163,league,140378,new_player,2,projection_type,16,stat_type,NaN,NaN
4,1333293,projection,2023-05-12T19:00:00-04:00,None,D. Medvedev (Rome),None,None,False,9.5,Single Stat,...,244,league,94796,new_player,2,projection_type,325,stat_type,NaN,NaN

In [12]:
#viewing all the columns to see what i need

base = df[:-1]
base.loc[15]

id                                                           1333296
type                                                      projection
attributes.board_time                      2023-05-12T19:00:00-04:00
attributes.custom_image                                         None
attributes.description                            D. Medvedev (Rome)
attributes.end_time                                             None
attributes.flash_sale_line_score                                None
attributes.is_promo                                            False
attributes.line_score                                            0.5
attributes.projection_type                               Single Stat
attributes.rank                                                    1
attributes.refundable                                           True
attributes.start_time                      2023-05-21T10:00:00-04:00
attributes.stat_type                                  2nd Set - Aces
attributes.status                                           pre_game
attributes.tv_channel                                           None
attributes.updated_at                      2023-05-21T09:03:29-04:00
relationships.duration.data                                      NaN
relationships.league.data.id                                     244
relationships.league.data.type                                league
relationships.new_player.data.id                               94796
relationships.new_player.data.type                        new_player
relationships.projection_type.data.id                              2
relationships.projection_type.data.type              projection_type
relationships.stat_type.data.id                                  328
relationships.stat_type.data.type                          stat_type
relationships.duration.data.id                                   NaN
relationships.duration.data.type                                 NaN
Name: 15, dtype: object

In [13]:
id[0:5]

['59895', '1290', '2107', '127775', '64300']

In [14]:
ids = df['relationships.new_player.data.id'].unique()
print(len(ids))

582

In [15]:
#trimming excess columns and adding actual player names

df = base[['attributes.description','attributes.line_score',
        'attributes.stat_type','relationships.new_player.data.id','relationships.league.data.id','attributes.start_time']]

df['Player'] = df['relationships.new_player.data.id'].map(names_dict)
df = df[['Player','attributes.description', 'attributes.line_score', 'attributes.stat_type','relationships.league.data.id','attributes.start_time']]

df = df.rename(columns={"attributes.description": "Team", "attributes.line_score": "Line", 
                        'attributes.stat_type':'Stat','relationships.league.data.id':'League',
                       'attributes.start_time':'Date'})

C:\Users\User\AppData\Local\Temp\ipykernel_1268\2042246692.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Player'] = df['relationships.new_player.data.id'].map(names_dict)

In [16]:
df.League.unique()

array(['163', '193', '244', '145', '1', '4', '5', '151', '2', '161', '3',
       '231', '121', '82', '191', '162', '159', '132', '84', '7', '174',
       '192', '124', '8'], dtype=object)

In [17]:
full = df.copy(deep=True)

In [18]:
#df = df.loc[df.League=='7']
df['Date'] = df['Date'].apply(lambda x: x.split('T')[0])
df['Player'] = df['Player'].apply(lambda x: unidecode(x).replace('_',' '))
df

,Player,Team,Line,Stat,League,Date
0,Bryce Young,2023 CAR,3649.5,Pass Yards,163,2023-09-07
1,Bijan Robinson,2023 ATL,1075.5,Rush Yards,163,2023-09-07
2,Brionna Jones,WAS 1st Half,14.0,Fantasy Score,193,2023-05-21
3,C.J. Stroud,2023 HOU,3625.5,Pass Yards,163,2023-09-07
4,Holger Vitus Nodskov Rune,D. Medvedev (Rome),9.5,2nd Set - Total Games,244,2023-05-21
...,...,...,...,...,...,...
1414,Wyatt Johnston,VGK,2.0,Shots On Goal,8,2023-05-21
1415,Alex Pietrangelo,DAL,2.5,Blocked Shots,8,2023-05-21
1416,Brayden McNabb,DAL,2.5,Blocked Shots,8,2023-05-21
1417,Esa Lindell,VGK,1.5,Blocked Shots,8,2023-05-21
1418,Nicolas Hague,DAL,1.5,Blocked Shots,8,2023-05-21

In [19]:
syntax = {
    'Points': 'PTS',
    'Rebs': 'TRB',
    'Asts': 'AST',
    'Rebounds': 'TRB',
    '3-PT Made': '3P',
    'Assists': 'AST',
    'Turnovers': 'TOV',
    'Blks': 'BLK',
    'Pts': 'PTS',
    'Pts+Asts': 'PTS+AST',
    'Pts+Rebs+Asts':'PTS+TRB+AST',
    'Pts+Rebs':'PTS+TRB',
    'Rebs+Asts':'TRB+AST',
    'Blks+Stls':'BLK+STL',
    'Stls': 'STL',
    'Free Throws Made': 'FT',
    'Blocked Shots': 'BLK',
    'Steals': 'STL',
    'Personal Fouls': 'PF',
    'FG Attempted': 'FGA'
}
df = df.replace(syntax)
df.Stat.unique()

array(['Pass Yards', 'Rush Yards', 'Fantasy Score',
       '2nd Set - Total Games', 'MAP 4 Kills', 'MAP 1 Kills', 'Strokes',
       'Birdies or Better Matchup', 'Total Games', 'MAP 2 Kills',
       'PTS+TRB+AST', 'Pars Or Better', 'Hits+Runs+RBIS',
       '2nd Set - Aces', 'MAPS 1-4 Goals', 'PTS', 'Pitcher Strikeouts',
       'MAP 3 Kills', 'Earned Runs Allowed', 'Aces',
       '1st Set - Total Games', 'Birdies Or Better', 'Fairways Hit',
       'Greens In Regulation', 'Pitches Thrown', 'TRB',
       'Break Points Won', 'MAP 5 Kills', 'MAPS 1-3 Kills',
       '1st Set - Aces', '3rd Set - Total Games', 'PTS+AST', 'PTS+TRB',
       'TRB+AST', 'AST', 'Goals', 'Hitter Fantasy Score',
       'Receiving Yards', 'Goal + Assist', 'Total Bases',
       'MAPS 1-4 Saves', 'Runs', 'MAPS 1-4 Demos', 'Laps Led',
       'Fastest Laps', 'Cars Passed (Net)', 'Walks Allowed',
       'Hits Allowed', 'Shots', 'Passes Attempted', 'Tackles',
       'Shots Assisted', 'Crosses', 'Clearances', 'Goalie Saves',
       'Shots On Target', 'Pitcher Fantasy Score', '3P', 'Bags On',
       'Four Baggers', 'Bags In', 'BLK+STL', 'BLK', 'STL', 'TOV',
       'MAPS 1-2 Kills', 'FT', 'MAP 3 Headshots', 'MAPS 1-2 Headshots',
       'Time On Ice', 'SOG + BS', 'Hits', 'Shots On Goal'], dtype=object)

In [20]:
len(df)

1419

In [21]:
df = df[df.Stat != 'Fantasy Score']

In [22]:
len(df)

1333

In [23]:
df = df.replace('Fred VanVleet\t','Fred VanVleet')
df = df.replace('Nicolas Claxton','Nic Claxton')
df = df.replace('Robert Williams III','Robert Williams')
df = df.replace('LeBron James\t','LeBron James')
df= df.replace('KJ Martin Jr.','Kenyon Martin Jr.')
df= df.replace('Xavier Tillman','Xavier Tillman Sr.')#xav

In [24]:
df = df.reset_index(drop=True)

In [25]:
today= dt.date.today()
df.sample(5)

,Player,Team,Line,Stat,League,Date
1322,Mark Stone,DAL,2.0,Shots On Goal,8,2023-05-21
568,Julian Jeanvier,Paris Saint-Germain,4.5,Clearances,82,2023-05-21
541,Vinicius Junior,Valencia,2.0,Shots Assisted,82,2023-05-21
1291,Spinx,GamerLegion,10.5,MAP 3 Headshots,124,2023-05-21
260,Drazah,LDN Royal Ravens,23.5,MAP 1 Kills,145,2023-05-21

In [26]:
f'lines{today.month}_{today.day}'

'lines5_21'

In [27]:
nba = df.loc[df.League=='7']
nba.to_csv(f'Lines/lines{today.month}_{today.day}')

In [28]:
pd.option_context('display.max_columns', 5)
df

,Player,Team,Line,Stat,League,Date
0,Bryce Young,2023 CAR,3649.5,Pass Yards,163,2023-09-07
1,Bijan Robinson,2023 ATL,1075.5,Rush Yards,163,2023-09-07
2,C.J. Stroud,2023 HOU,3625.5,Pass Yards,163,2023-09-07
3,Holger Vitus Nodskov Rune,D. Medvedev (Rome),9.5,2nd Set - Total Games,244,2023-05-21
4,Scrap,MIN RØKKR,25.5,MAP 4 Kills,145,2023-05-21
...,...,...,...,...,...,...
1328,Wyatt Johnston,VGK,2.0,Shots On Goal,8,2023-05-21
1329,Alex Pietrangelo,DAL,2.5,BLK,8,2023-05-21
1330,Brayden McNabb,DAL,2.5,BLK,8,2023-05-21
1331,Esa Lindell,VGK,1.5,BLK,8,2023-05-21
1332,Nicolas Hague,DAL,1.5,BLK,8,2023-05-21

In [29]:
df['Date'].max()

'2023-09-07'

In [30]:
df.to_csv(f'Lines/full_lines{today.month}_{today.day}')

In [31]:
df.League.unique()

array(['163', '244', '145', '1', '5', '151', '2', '161', '3', '231',
       '193', '121', '82', '191', '4', '162', '159', '132', '84', '7',
       '174', '192', '124', '8'], dtype=object)