In [1]:
#imports and scraping raw data from site
#df is the actual betting line
#df2 has other info, mostly using to get player id to name dict

import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime as dt
import random
import re
from unidecode import unidecode

In [2]:
import urllib3
import json

import urllib
class AppURLopener(urllib.request.FancyURLopener):
    version = "Mozilla/5.0"

    
dog_props_url = 'https://api.underdogfantasy.com/beta/v3/over_under_lines'
opener = AppURLopener()
response = opener.open(dog_props_url)

print(response.status)

data = json.loads(response.read())

C:\Users\User\AppData\Local\Temp\ipykernel_9768\3263823425.py:10: DeprecationWarning: AppURLopener style of invoking requests is deprecated. Use newer urlopen functions/methods
  opener = AppURLopener()

200

In [3]:
data.keys()

dict_keys(['appearances', 'games', 'over_under_lines', 'players', 'solo_games'])

In [4]:
df = pd.json_normalize(list(data.values()))
df.index = data.keys()
new = df.T['over_under_lines'].values
lines = pd.json_normalize(new)
lines.sample(2)

,id,live_event,live_event_stat,options,over_under_id,rank,stat_value,status,over_under.id,over_under.appearance_stat.id,over_under.appearance_stat.appearance_id,over_under.appearance_stat.display_stat,over_under.appearance_stat.graded_by,over_under.appearance_stat.stat,over_under.boost,over_under.scoring_type_id,over_under.title
89,d36ad112-cc1a-439a-b5f5-540df0cfd5fc,False,None,[{'id': '3383858c-646b-44f4-a2a2-36969ee5ee44'...,267d004d-5897-4a16-970f-1146538325b1,2051,1.5,active,267d004d-5897-4a16-970f-1146538325b1,92100055-5a7a-494e-8fd8-9c9db6da2162,63744dac-1d90-4041-ba6a-e9ce0ae5ae6d,Hits + Runs + RBIs,high_score,hits_runs_rbis,None,None,Matt Chapman Hits + Runs + RBIs O/U
370,37d0f25a-7a05-49f8-8916-a8ebc1267dbd,False,None,[{'id': '5f74998c-8abf-4d5c-90be-288f0ee967d1'...,b662f255-daa0-4220-8a79-205dc5c63caa,7221,30.5,active,b662f255-daa0-4220-8a79-205dc5c63caa,3dc03881-71da-4c84-a18c-64748e210e28,7f0b05b0-2496-4d01-9aab-c9cfe2b83a97,Kills on Map 1+2,high_score,map_1_and_2_kills,None,None,CS:GO XELLOW Kills on Map 1+2 O/U

In [8]:
player_df = test.copy(deep=True)
player_df = player_df[['id','first_name', 'last_name',
       'sport_id','team_id']]
player_df = player_df.dropna()
#player_df.loc[player_df['sport_id'] == 'ESPORTS', 'sport'] = player_df.loc[df['sport'] == 'ESPORTS', 'game']

,id,first_name,last_name,sport_id,team_id
0,54a70cec-9c34-4113-bd3e-17b7531f06f5,Nikola,Jokic,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
1,89d805df-6a3e-40d1-bbf2-ed440e503310,Jamal,Murray,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
2,9d687651-e23a-4817-91f5-148a95f4eaf9,Michael,Porter,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
3,0fab5b5c-8cae-47b0-8a3d-e53ef4eb328e,Aaron,Gordon,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
4,0d47cb42-8184-4f85-bd68-45736c37e825,Kentavious,Caldwell-Pope,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
...,...,...,...,...,...
316,7154f925-d18c-47f4-8a5c-c44cc40415e7,Dota:,steel-,ESPORTS,fc7f663b-1bfd-4d5d-b39e-309ee2c1456d
317,280b4f08-e8a4-4897-a9f8-05bc74d8b5b1,Dota:,Blessed kid,ESPORTS,fc7f663b-1bfd-4d5d-b39e-309ee2c1456d
318,d704ae49-a2b1-46e4-8882-d21747317f57,Dota:,Satoshi-,ESPORTS,fc7f663b-1bfd-4d5d-b39e-309ee2c1456d
319,e8816243-092c-46da-adb4-5863b171f8cb,Dota:,Tokaya,ESPORTS,fc7f663b-1bfd-4d5d-b39e-309ee2c1456d
320,9e5c3cd0-da82-4490-984e-c9cf47a55efe,Dota:,Braxie-,ESPORTS,fc7f663b-1bfd-4d5d-b39e-309ee2c1456d

In [11]:
test =  pd.json_normalize(df.T['players'])
player_df = test.copy(deep=True)
player_df = player_df[['id','first_name', 'last_name',
       'sport_id','team_id']]
player_df = player_df.dropna()
player_df.loc[player_df['sport_id'] != 'ESPORTS', 'full_name'] = player_df['first_name']+' ' + player_df['last_name']
player_df.loc[player_df['sport_id'] == 'ESPORTS', 'full_name'] = player_df['last_name']
#player_df['full_name'] = player_df['first_name']+' ' + player_df['last_name']
player_df = player_df[['full_name','sport_id','team_id']]
p2l = player_df[['full_name','sport_id']].to_dict('split')
p2tm = player_df[['full_name','team_id']].to_dict('split')
temp = p2l['data']
temp2 = p2tm['data']
p2l = dict(temp)
p2tm = dict(temp2)

In [12]:
player_df.sport_id.unique()

array(['NBA', 'MLB', 'NHL', 'SOCCER', 'ESPORTS'], dtype=object)

In [13]:
first2 = player_df['full_name'].apply(lambda x: ' '.join(x.split()[0:2]))
names = pd.DataFrame((first2,player_df.full_name))
names = names.T
names.columns=['first2','fullname']
names.loc[names.first2=='Jazz Chisholm']
first2full = names.to_dict('split')
first2full = dict(first2full['data'])

In [14]:
games = pd.json_normalize(df.T['games'].values).dropna()
#games = games.loc[games['sport_id']=='NBA']
games.tail(3)

,id,away_team_id,away_team_score,home_team_id,home_team_score,period,scheduled_at,season_type,sport_id,status,title,type,year
29,39797.0,c098509a-5ed6-4624-865a-7ffbc0837e62,0.0,c134aa4e-6e8c-4107-9ccb-516166e4d8ae,0.0,0.0,2023-05-22T19:00:00Z,regular,ESPORTS,scheduled,Dota: Liquid vs. Gaimin Gladiators,Game,2023.0
30,39798.0,ad6036ac-8f57-469f-9036-f185b0712fa8,0.0,47582655-1aa9-47ff-98ec-c165bd38e2d0,0.0,0.0,2023-05-22T22:00:00Z,regular,ESPORTS,scheduled,Dota: TSM vs. DogChamp,Game,2023.0
31,39799.0,77b4599f-f0d1-470c-b757-ec50cee55129,0.0,fc7f663b-1bfd-4d5d-b39e-309ee2c1456d,0.0,0.0,2023-05-23T01:00:00Z,regular,ESPORTS,scheduled,Dota: Shopify Rebellion vs. ALPHA,Game,2023.0

In [15]:
def to_central(date_str):
    x = pd.to_datetime(date_str)
    x = x.tz_convert('US/Central')
    return str(x.date())
to_central('2023-05-20T00:40:00Z')

'2023-05-19'

In [16]:
games.scheduled_at = games.scheduled_at.apply(to_central)

In [17]:
#grabbing team names from match title
matchup = games['title']
home = []
away = []
for i in matchup:
    temp = re.split(' @ |, |vs.',i)
    home.append(temp[0])
    away.append(temp[1])
#fixing esports team names
for i in range(len(home)):
    home[i] = home[i].split(': ')[-1]
    
for i in range(len(away)):
    away[i] = away[i].split(': ')[-1]

matchup = pd.DataFrame((away,home,games.away_team_id,games.home_team_id)).T
matchup.columns = ['Home', 'Away','away_id','home_id']
dates = games['scheduled_at'].values
#temp = []
#for i in dates:
#    temp.append(i.split('T')[0])
matchup['Date'] = dates
id2tm =  matchup[['home_id','Home']].to_dict('split')
id2tmaway =  matchup[['away_id','Away']].to_dict('split')
id2tm = dict(id2tm['data'])
id2tmaway = dict(id2tmaway['data'])
id2tm.update(id2tmaway)

In [18]:
id2tm

{'97616c91-0509-42f8-99f3-04f3856a6377': 'LAL',
 'c18978b0-7835-44ad-a5c8-4ac7c7663d58': 'CLE',
 '05c90f99-41d7-4a46-b5c6-0022ff8256fc': 'PIT',
 'f8aa5fb3-bf30-4f1d-bc89-7dc208a9c5d3': 'TB',
 '25101c7a-340a-4c08-a93d-979242271c89': 'PHI',
 '1748a711-2091-499b-9d33-dbd35ef8a62c': 'CIN',
 '02c19f09-f45a-4808-a128-e5bbf9d9577e': 'ATL',
 '3c30988b-1884-4bc5-ad88-24110c6a22b2': 'MIL',
 'cab2f7bd-aa09-4e26-9cca-2bfcf5867a72': 'MIN',
 '61cc4195-1a95-4f1a-acf4-44b806f937f5': 'KC',
 '9be33c5c-6127-4d03-bbbc-e14900856b85': 'COL',
 '082ccc12-6c1f-4027-a135-fc88f237c6a1': 'LAA',
 'fc7af4cb-e8c4-46f6-9e23-4a5df7914ba0': 'SEA',
 'e1a07af8-365d-4261-8b9b-3ccbc99e5e21': 'FLA',
 '74fee1c0-84aa-4181-bf5b-fd29d927a0ae': 'Roma',
 '462f08ff-7728-4b0a-a8e2-ee4dffa803cf': 'Empoli',
 '75c36ba5-2b12-4212-addb-26a80d890720': 'Newcastle',
 '5619fb42-3731-4780-813b-adfd84124845': ' FUT',
 '264b638a-9d6b-4751-9adc-25c62b8be3d4': ' Vitality',
 'ff2c361f-2ddd-4cd8-8b25-e59c2505e757': ' FURIA',
 '6b0b1001-d17e-4777-8de5-c4d8adc8a475': ' Evil Geniuses',
 'f8537b3d-8f9e-4d9a-8b84-eb81be08f7e0': ' GODSENT',
 '3c703313-0b48-4938-86ae-d173a9e3d9f4': ' Sampi',
 '58eba309-5337-460b-9a82-cd8662a50f94': ' B8',
 'a54986a8-c833-4872-ada2-759747738c2a': ' FORZE',
 'b790233c-9397-444f-9094-49bf773041bb': ' Sangal',
 '4fa3580f-22bf-47c8-98f4-5c44cf56be50': ' Anonymo',
 'cd095429-9561-4977-85c8-2a2ae1972b0b': ' OG',
 '1a206fcc-4be3-4c0b-b2b9-678d09561d45': ' D1 Hustlers',
 'c134aa4e-6e8c-4107-9ccb-516166e4d8ae': ' Gaimin Gladiators',
 '47582655-1aa9-47ff-98ec-c165bd38e2d0': ' DogChamp',
 'fc7f663b-1bfd-4d5d-b39e-309ee2c1456d': ' ALPHA',
 '5d478d55-84f7-4786-beb9-9c009c5814f4': 'DEN',
 '086499f0-8721-41b1-b512-395463e03c3f': 'CWS',
 'f85132d6-ce4f-461f-ab0d-97810d017c94': 'TEX',
 '4d5e7fe3-d039-43fc-8084-b7f16219c9be': 'TOR',
 '0331354e-f6cb-4dba-ba55-7c5c40ab9f5e': 'ARI',
 'e83a3a19-0890-46d9-967f-f7b29d7d9ca6': 'STL',
 '5a5a4e8a-d364-4fba-9b76-add9ed5d9ad7': 'LAD',
 '2ac58cf3-7bb5-47f6-a214-eaeeb9d78d52': 'HOU',
 'f6696cd3-afca-4145-a3c5-25abe16dd193': 'SF',
 'b921da74-fa62-477c-87b5-84885a6fe0e4': 'DET',
 '86655f8c-b7e8-4ed3-809c-d0d2cb0f911b': 'MIA',
 'e0b9d617-58af-4537-a82c-a802ef2b969e': 'BOS',
 'a20ed566-669e-4757-b2e6-d74ce1a6f170': 'OAK',
 '3b80ba1c-1c0c-4006-b8d2-dcf9fc57c760': 'CAR',
 'f39d0430-e64f-40e7-b42f-15a1a6819bf8': 'Salernitana',
 '283937e1-5439-4b5e-b0a6-95d91109b58c': 'Juventus',
 '2667e93b-823d-4c7e-a70e-b53fd9b1add7': 'Leicester City',
 'b718ef39-628e-4a03-b075-bce5701748ee': 'Giants ',
 'c098509a-5ed6-4624-865a-7ffbc0837e62': 'Liquid ',
 'c6e05954-0873-447a-9577-d295c17b7528': 'Leviatan ',
 '68b60939-a1e5-4c3e-90e7-9ab2cb6cd943': 'NRG ',
 '67a84a84-87b5-4968-a87f-52ec86c9db43': 'BIG ',
 'b0877222-5d37-4978-87f5-901b785d0459': 'Sashi ',
 '551a498a-3a57-4409-baef-fe010fc2a277': 'Eternal Fire ',
 'aed60817-a520-4269-ad3c-4486ce381050': 'Sprout ',
 '5688f051-a6cb-420d-82dd-cce79e3517d6': 'SAW ',
 'c85bc5cb-42ee-4e4f-a9e3-1c2bc28cbf7a': 'Aurora ',
 '50b2e548-f426-464c-a30b-5fd229a61a2c': 'Secret ',
 '89159c75-806e-4b90-9fa7-37492aa82c63': 'Tundra ',
 'ad6036ac-8f57-469f-9036-f185b0712fa8': 'TSM ',
 '77b4599f-f0d1-470c-b757-ec50cee55129': 'Shopify Rebellion '}

In [19]:
lines = lines[['stat_value','over_under.appearance_stat.stat', 'over_under.title']]
lines
players = lines['over_under.title'].values
guys = []
for i in players:
    temp = i.split()
    final = temp[0] + ' '+temp[1]
    guys.append(final)
    
guys
lines= lines.rename(columns={'stat_value':'Line','over_under.appearance_stat.stat':'Stat', 'over_under.title':'title'})
lines['Player']= guys
lines['Player'] = lines['Player'].apply(lambda x: unidecode(x).replace('_',' '))

In [20]:
def map_name(x):
    if x is None:
        return None
    if x in first2full:
        return first2full[x]
    elif x.split(': ')[-1] in first2full:
        return x.split(': ')[-1]
    elif x.split()[-1] in first2full:
        return x.split()[-1]
    else:
        return x

lines['Player'] = lines['Player'].apply(lambda x: map_name(x))
lines.Player.unique()

array(['Nikola Jokic', 'Jamal Murray', 'Michael Porter', 'Aaron Gordon',
       'Kentavious Caldwell-Pope', 'Bruce Brown', 'Jeff Green',
       'LeBron James', 'Anthony Davis', 'Austin Reaves',
       "D'Angelo Russell", 'Rui Hachimura', 'Dennis Schroder',
       'Luis Robert Jr.', 'Hunter Gaddis', 'Jose Ramirez',
       'Marcus Semien', 'Luis Ortiz', 'Bryan Reynolds',
       'Andrew McCutchen', 'Ji Hwan Bae', 'Austin Hedges',
       'Chris Bassitt', 'Matt Chapman', 'Vladimir Guerrero Jr.',
       'Bo Bichette', 'George Springer', 'Whit Merrifield',
       'Brandon Lowe', 'Wander Franco', 'Randy Arozarena', 'Jose Siri',
       'Tommy Henry', 'Corbin Carroll', 'Ketel Marte',
       'Lourdes Gurriel Jr.', 'Gabriel Moreno', 'Zack Wheeler',
       'Bryce Harper', 'Trea Turner', 'Nick Castellanos', 'Alec Bohm',
       'Nolan Gorman', 'Paul Goldschmidt', 'Nolan Arenado',
       'Willson Contreras', 'Lars Nootbaar', 'Brendan Donovan',
       'Tommy Edman', 'Jonathan India', 'Tyler Stephenson',
       'Kevin Newman', 'Gavin Stone', 'Mookie Betts', 'Freddie Freeman',
       'Will Smith', 'Miguel Vargas', 'Miguel Rojas', 'Max Muncy',
       'James Outman', 'Charlie Morton', 'Ozzie Albies', 'Ronald Acuna',
       'Matt Olson', 'Austin Riley', 'Sean Murphy', 'Michael Harris II',
       'Cristian Javier', 'Yordan Alvarez', 'Kyle Tucker', 'Jose Altuve',
       'Alex Bregman', 'Jeremy Pena', 'Chas McCormick',
       'Christian Yelich', 'Jesse Winker', 'Willy Adames',
       'William Contreras', 'Rowdy Tellez', 'Brian Anderson',
       'Tyrone Taylor', 'Michael Conforto', 'Thairo Estrada',
       'Casey Schmitt', 'Bailey Ober', 'Joey Gallo', 'Carlos Correa',
       'Kyle Farmer', 'Christian Vazquez', 'Michael Lorenzen',
       'Riley Greene', 'Zach McKinstry', 'Eric Haase', 'Brady Singer',
       'Salvador Perez', 'Bobby Witt Jr.', 'Vinnie Pasquantino',
       'Nate Eaton', 'Nick Pratto', 'Jorge Soler', 'Kris Bryant',
       'Tanner Houck', 'Masataka Yoshida', 'Rafael Devers',
       'Raimel Tapia', 'Jarren Duran', 'Connor Wong', 'Shohei Ohtani',
       'Mike Trout', 'Kyle Muller', 'Esteury Ruiz', 'Brent Rooker',
       'Ramon Laureano', 'Shea Langeliers', 'Ryan Noda', 'JJ Bleday',
       'Jordan Diaz', 'Jace Peterson', 'Nick Allen', 'Luis Castillo',
       'Teoscar Hernandez', 'Julio Rodriguez', 'AJ Pollock',
       'Brent Burns', 'Martin Necas', 'Sebastian Aho', 'Seth Jarvis',
       'Jordan Martinook', 'Stefan Noesen', 'Brady Skjei',
       'Teuvo Teravainen', 'Jesper Fast', 'Derek Stepan',
       'Shayne Gostisbehere', 'Brandon Montour', 'Matthew Tkachuk',
       'Sam Bennett', 'Aleksander Barkov', 'Anthony Duclair',
       'Sam Reinhart', 'Gustav Forsling', 'Aaron Ekblad', 'Josh Mahura',
       'Radko Gudas', 'Guillermo Ochoa', ' Lassana Coulibaly',
       'Lorenzo Pirola', 'Rui Patricio', 'Tammy Abraham',
       'Lorenzo Pellegrini', 'Ola Solbakken', 'Nicola Zalewski',
       'Wojciech Szczesny', 'Dusan Vlahovic', 'Federico Chiesa',
       'Filip Kostic', 'Manuel Locatelli', 'Federico Gatti',
       'Guglielmo Vicario', 'Francesco Caputo', 'Nicolo Cambiaghi',
       'Marko Pjaca', 'Liam Henderson', 'Jamie Vardy', 'James Maddison',
       'Youri Tielemans', 'Wout Faes', 'Callum Wilson', 'Aleksander Isak',
       'Miguel Almiron', 'Kieran Trippier', 'Bruno Guimaraes',
       'Sven Botman', 'rhyme', 'Fit1nho', 'hoody', 'nukkye', 'Cloud',
       'qRaxs', 'MOJJ', 'MrFaliN', 'AtaKaptan', 'qw1', 'soulcas', 'Sayf',
       'nAts', 'Redgar', 'Jamppi', 'twisten', 'MOLSI', 'Destrian',
       'BONECOLD', 'ceNder', 'nzr', 'Mazino', 'Tacolilla', 'kiNgg',
       'Shyy', 'mwzera', 'Quick', 'Khalil', 'Mazin', 'dgzin', 'crashies',
       'ardiis', 'Victor', 'FiNESSE', 's0m', 'Boostio', 'C0M', 'Demon1',
       'jawgemo', 'Ethan', 'tabseN', 'faven', 'hyped', 'Krimbo', 'k1to',
       'Plopski', 'ztr', 'draken', 'RuStY', 'joel', 'LUMSEN', 'aizy',
       'MSL', 'MATYS', 'T4gg3D', 'CS:GO The', 'sAvana1', 'Blogg1s',
       'Wicadia', 'XANTARES', 'MAJ3R', 'woxic', 'Calyx', 'cptkurtka023',
       'amster', 'kAlash', 'r1nkle', 'OWNER', 'XELLOW', 'Staehr', 'alpha',
       'Zyphon', 'lauNX', 'shalfey', 'Krad', 'Jerry', 'zorte', 'r3salt',
       'MUTiRiS', 'roman', 'arrozdoce', 'story', 'ewjerkz', 'ScrunK',
       'kory', 'PANIX', 'kyuubii', 'Soulfly', 'Lack1', 'lattykk', 'Norwi',
       'KENSI', 'SELLTER', 'reiko', 'mASKED', 'lunAtic', 'SaMey', 'Sobol',
       'Crystallis', 'Armel', 'BOOM', 'yamich', 'Puppey', 'Yuragi', 'bzm',
       'DM', 'Taiga', 'Chu', 'skiter', 'Nine', '33', 'Saksa', 'Sneyking',
       'Shad', 'Adzantick', 'Dota: Davai', 'Thiolicor', 'Xakoda', 'miCKe',
       'Nisha', 'zai', 'Boxi', 'iNSaNiA', 'dyrachYO', 'Quinn', 'Ace',
       'tOfu', 'Seleri', 'Timado', 'Bryle', 'kasane', 'Ari', 'Whitemon',
       'dnm', 'Dota: Red2', 'Speeed', 'MoOz', 'Dota: Bloody', 'Arteezy',
       'Abed', 'SabeRLight-', 'Cr1t-', 'Fly', 'steel-', 'Dota: Blessed',
       'Satoshi-', 'Tokaya', 'Braxie-', 'Marc-Andrea Huesler',
       'Alexander Bublik', 'Roberto Carballes', 'Richard Gasquet',
       'David Goffin', 'Yulia Putintseva', 'Jana Fett', 'Julia Grabher',
       'Martina Trevisan', 'Sloane Stephens', 'Viktoriya Tomova',
       'Anna-Lena Friedsam'], dtype=object)

In [21]:
league = []
for p in guys:
    if p in p2l:
        league.append(p2l[p])
    elif p.split()[-1] in p2l:
        league.append(p2l[p.split()[-1]])
    else:
        league.append('other')
league[0:5]

['NBA', 'NBA', 'NBA', 'NBA', 'NBA']

In [22]:
guys[1000:1007]

[]

In [23]:
team_id = []
for p in guys:
    if p in p2l:
        team_id.append(p2tm[p])
    elif p.split()[-1] in p2l:
        team_id.append(p2tm[p.split()[-1]])
    else:
        team_id.append('other')
team_id[0:5]

['5d478d55-84f7-4786-beb9-9c009c5814f4',
 '5d478d55-84f7-4786-beb9-9c009c5814f4',
 '5d478d55-84f7-4786-beb9-9c009c5814f4',
 '5d478d55-84f7-4786-beb9-9c009c5814f4',
 '5d478d55-84f7-4786-beb9-9c009c5814f4']

In [24]:
lines['League'] = league
lines

,Line,Stat,title,Player,League
0,23.5,rebs_asts,Nikola Jokic Rebounds + Assists O/U,Nikola Jokic,NBA
1,26.5,points,Nikola Jokic Points O/U,Nikola Jokic,NBA
2,0.5,blocks,Nikola Jokic Blocks O/U,Nikola Jokic,NBA
3,40.5,pts_rebs,Nikola Jokic Points + Rebounds O/U,Nikola Jokic,NBA
4,36.5,pts_asts,Nikola Jokic Points + Assists O/U,Nikola Jokic,NBA
...,...,...,...,...,...
512,12.0,games_lost,Viktoriya Tomova Games lost O/U,Viktoriya Tomova,other
513,12.0,games_won,Viktoriya Tomova Games won O/U,Viktoriya Tomova,other
514,41.05,fantasy_points,Viktoriya Tomova Fantasy points O/U,Viktoriya Tomova,other
515,11.5,games_lost,Anna-Lena Friedsam Games lost O/U,Anna-Lena Friedsam,other
516,12.5,games_won,Anna-Lena Friedsam Games won O/U,Anna-Lena Friedsam,other

In [25]:
def map_team(x):
    if x in p2tm:
        return p2tm[x]
    elif p.split()[-1] in p2l:
        return p2tm[p.split()[-1]]
    else:
        return x

lines['team_id'] = lines.Player.apply(lambda x: map_team(x))
lines

,Line,Stat,title,Player,League,team_id
0,23.5,rebs_asts,Nikola Jokic Rebounds + Assists O/U,Nikola Jokic,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
1,26.5,points,Nikola Jokic Points O/U,Nikola Jokic,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
2,0.5,blocks,Nikola Jokic Blocks O/U,Nikola Jokic,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
3,40.5,pts_rebs,Nikola Jokic Points + Rebounds O/U,Nikola Jokic,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
4,36.5,pts_asts,Nikola Jokic Points + Assists O/U,Nikola Jokic,NBA,5d478d55-84f7-4786-beb9-9c009c5814f4
...,...,...,...,...,...,...
512,12.0,games_lost,Viktoriya Tomova Games lost O/U,Viktoriya Tomova,other,Viktoriya Tomova
513,12.0,games_won,Viktoriya Tomova Games won O/U,Viktoriya Tomova,other,Viktoriya Tomova
514,41.05,fantasy_points,Viktoriya Tomova Fantasy points O/U,Viktoriya Tomova,other,Viktoriya Tomova
515,11.5,games_lost,Anna-Lena Friedsam Games lost O/U,Anna-Lena Friedsam,other,Anna-Lena Friedsam
516,12.5,games_won,Anna-Lena Friedsam Games won O/U,Anna-Lena Friedsam,other,Anna-Lena Friedsam

In [26]:
def map_id(x):
    if x in id2tm:
        return id2tm[x]
    else:
        return x
#lines['team_id'] = lines.team_id.apply(lambda x: map_id(x))

In [27]:
final = pd.merge(lines,matchup, how='left',left_on='team_id',right_on='away_id')
final = final.drop(['Home', 'Away','home_id','away_id'], axis=1)
final2 = pd.merge(final,matchup, how='left',left_on='team_id',right_on='home_id')
final2 = final2.drop(['Home', 'Away','home_id','away_id'], axis=1)
final2['Date'] = final2['Date_x'].fillna(final2['Date_y'])
final2 = final2.drop(['Date_x', 'Date_y'], axis=1)
final2['team_id'] = final2.team_id.apply(lambda x: map_id(x))
final2#.loc[final.Player=='Jimmy Butler']

,Line,Stat,title,Player,League,team_id,Date
0,23.5,rebs_asts,Nikola Jokic Rebounds + Assists O/U,Nikola Jokic,NBA,DEN,2023-05-22
1,26.5,points,Nikola Jokic Points O/U,Nikola Jokic,NBA,DEN,2023-05-22
2,0.5,blocks,Nikola Jokic Blocks O/U,Nikola Jokic,NBA,DEN,2023-05-22
3,40.5,pts_rebs,Nikola Jokic Points + Rebounds O/U,Nikola Jokic,NBA,DEN,2023-05-22
4,36.5,pts_asts,Nikola Jokic Points + Assists O/U,Nikola Jokic,NBA,DEN,2023-05-22
...,...,...,...,...,...,...,...
522,12.0,games_lost,Viktoriya Tomova Games lost O/U,Viktoriya Tomova,other,Viktoriya Tomova,NaN
523,12.0,games_won,Viktoriya Tomova Games won O/U,Viktoriya Tomova,other,Viktoriya Tomova,NaN
524,41.05,fantasy_points,Viktoriya Tomova Fantasy points O/U,Viktoriya Tomova,other,Viktoriya Tomova,NaN
525,11.5,games_lost,Anna-Lena Friedsam Games lost O/U,Anna-Lena Friedsam,other,Anna-Lena Friedsam,NaN
526,12.5,games_won,Anna-Lena Friedsam Games won O/U,Anna-Lena Friedsam,other,Anna-Lena Friedsam,NaN

In [28]:
final2.columns = ['Line', 'Stat', 'title', 'Player', 'League', 'Team', 'Date']

In [29]:
df = final2[['Line', 'Stat', 'Player', 'League', 'Team', 'Date']].copy(deep=True)
df

,Line,Stat,Player,League,Team,Date
0,23.5,rebs_asts,Nikola Jokic,NBA,DEN,2023-05-22
1,26.5,points,Nikola Jokic,NBA,DEN,2023-05-22
2,0.5,blocks,Nikola Jokic,NBA,DEN,2023-05-22
3,40.5,pts_rebs,Nikola Jokic,NBA,DEN,2023-05-22
4,36.5,pts_asts,Nikola Jokic,NBA,DEN,2023-05-22
...,...,...,...,...,...,...
522,12.0,games_lost,Viktoriya Tomova,other,Viktoriya Tomova,NaN
523,12.0,games_won,Viktoriya Tomova,other,Viktoriya Tomova,NaN
524,41.05,fantasy_points,Viktoriya Tomova,other,Viktoriya Tomova,NaN
525,11.5,games_lost,Anna-Lena Friedsam,other,Anna-Lena Friedsam,NaN
526,12.5,games_won,Anna-Lena Friedsam,other,Anna-Lena Friedsam,NaN

In [30]:
df = df.reset_index(drop=True)

In [31]:
df.Stat.unique()

array(['rebs_asts', 'points', 'blocks', 'pts_rebs', 'pts_asts',
       'pts_rebs_asts', 'rebounds', 'turnovers', 'assists',
       'three_points_made', 'steals', 'blks_stls', 'fantasy_points',
       'strikeouts', 'singles', 'hits', 'walks_allowed', 'hits_runs_rbis',
       'total_bases', 'walks', 'runs', 'shots', 'saves', 'tackles',
       'clearances', 'goals_against', 'goals_and_assists', 'goals',
       'crosses', 'map_1_and_2_kills', 'headshots on maps 1+2',
       'game_1_and_2_kills', 'games_won', 'games_lost', 'double_faults',
       'aces', 'sets_lost'], dtype=object)

In [32]:
syntax = {
    'pts_rebs_asts': 'PTS+TRB+AST',
    'pts_rebs': 'PTS+TRB',
    'points': 'PTS',
    'free_throws_made': 'FT',
    'fantasy_points': 'Fantasy',
    'rebounds': 'TRB',
    'assists': 'AST',
    'steals': 'STL',
    'blocks': 'BLK',
    'blks_stls': 'BLK+STL',
    'turnovers': 'TO',
    'rebs_asts': 'TRB+AST',
    'pts_asts': 'PTS+AST',
    'three_points_made': '3PM',
    'shots': 'Shots',
    'goals': 'Goals',
    'saves': 'Goalie Saves',
    'clearances': 'Clearances',
    'goals_and_assists': 'Goals and Assists',
    'tackles': 'Tackles',
    'interceptions': 'Interceptions',
    'crosses': 'Crosses',
    'goals_against': 'Goal Against',
    'game_1_and_2_kills': 'MAPS 1-2 Kills',
    'map_1_and_2_kills': 'MAPS 1-2 Kills',
    'Headshots on Maps 1+2': 'MAPS 1-2 Headshots',
    'strokes': 'Strokes',
    'bogeys_or_worse': 'Bogeys or Worse',
    'birdies_or_better': 'Birdies or Better',
    'aces': 'Aces',
    'breakpoints_won': 'Break Points Won',
    'games_won': 'Games Won',
    'games_lost': 'Games Lost',
    'total_games': 'Total Games',
    'double_faults': 'Double Faults',
    'service_games_lost': 'Service Games Lost',
    'Fastest Laps': 'Fastest Laps',
    'position': 'position',
    'passing_yds': 'Pass Yards',
    'rushing_yds': 'Rush Yards',
    'receiving_yds': 'Receiving Yards' ,
    'fantasy_points': 'Hitter Fantasy Score',
    'strikeouts': 'Pitcher Strikeouts',
    'hits_runs_rbis': 'PTS',
    'singles':'Singles',
    'total_bases': 'Total Bases',
    'walks': 'Walks Allowed',
    'hits': 'Hits Allowed',
                }

In [33]:
df = df.replace(syntax)

In [34]:
df.loc[df['League'] == 'ESPORTS']

     Line            Stat    Player   League                Team        Date
274  25.5  MAPS 1-2 Kills     rhyme  ESPORTS             Giants   2023-05-23
275  32.0  MAPS 1-2 Kills   Fit1nho  ESPORTS             Giants   2023-05-23
276  30.5  MAPS 1-2 Kills     hoody  ESPORTS             Giants   2023-05-23
277  30.5  MAPS 1-2 Kills    nukkye  ESPORTS             Giants   2023-05-23
278  35.0  MAPS 1-2 Kills     Cloud  ESPORTS             Giants   2023-05-23
..    ...             ...       ...      ...                 ...         ...
484   6.0  MAPS 1-2 Kills       Fly  ESPORTS  Shopify Rebellion   2023-05-22
485   8.0  MAPS 1-2 Kills    steel-  ESPORTS               ALPHA  2023-05-22
487   5.5  MAPS 1-2 Kills  Satoshi-  ESPORTS               ALPHA  2023-05-22
488   3.5  MAPS 1-2 Kills    Tokaya  ESPORTS               ALPHA  2023-05-22
489   3.0  MAPS 1-2 Kills   Braxie-  ESPORTS               ALPHA  2023-05-22

[210 rows x 6 columns]

In [ ]:
df.loc[df.Player=='Krimbo']

In [ ]:
today = dt.date.today()

In [ ]:
str(today)

In [ ]:
df.to_csv(f'Lines/doglines{today.month}_{today.day}')

In [ ]:
df.loc[df.League=='ESPORTS']