In [1]:
import pylsp

In [2]:
import requests
import json
import pandas as pd
import re
import numpy as np
import os
import datetime as dt

box_url = 'https://stats.nba.com/stats/boxscoretraditionalv2?EndPeriod=10&EndRange=28800&GameID=0041800237&RangeType=0&Season=2018-19&SeasonType=Playoffs&StartPeriod=1&StartRange=0'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64)', 'x-nba-stats-origin': 'stats', 'x-nba-stats-token': 'true', 'Host':'stats.nba.com', 'Referer':'https://stats.nba.com/game/0021900306/'}
r= requests.get(box_url, headers=headers, timeout = 7)
data = json.loads(r.text)
box = pd.DataFrame.from_dict(data['resultSets'][0]['rowSet'])
col_names = data['resultSets'][0]['headers']
box.columns = col_names
box.columns = box.columns.str.lower()
box

,game_id,team_id,team_abbreviation,team_city,player_id,player_name,nickname,start_position,comment,min,...,oreb,dreb,reb,ast,stl,blk,to,pf,pts,plus_minus
0,0041800237,1610612757,POR,Portland,203090,Maurice Harkless,Maurice,F,,16.000000:47,...,3.0,2.0,5.0,3.0,1.0,1.0,0.0,5.0,6.0,-8.0
1,0041800237,1610612757,POR,Portland,202329,Al-Farouq Aminu,Al-Farouq,F,,7.000000:08,...,0.0,3.0,3.0,0.0,0.0,0.0,1.0,1.0,3.0,-7.0
2,0041800237,1610612757,POR,Portland,202683,Enes Freedom,Enes,C,,39.000000:39,...,4.0,8.0,12.0,1.0,0.0,0.0,1.0,3.0,12.0,1.0
3,0041800237,1610612757,POR,Portland,203468,CJ McCollum,CJ,G,,45.000000:17,...,1.0,8.0,9.0,1.0,1.0,1.0,0.0,1.0,37.0,6.0
4,0041800237,1610612757,POR,Portland,203081,Damian Lillard,Damian,G,,45.000000:25,...,0.0,10.0,10.0,8.0,3.0,0.0,1.0,3.0,13.0,8.0
5,0041800237,1610612757,POR,Portland,1628380,Zach Collins,Zach,,,23.000000:17,...,2.0,4.0,6.0,1.0,0.0,4.0,1.0,5.0,7.0,5.0
6,0041800237,1610612757,POR,Portland,203918,Rodney Hood,Rodney,,,20.000000:11,...,0.0,3.0,3.0,0.0,0.0,0.0,0.0,1.0,6.0,-2.0
7,0041800237,1610612757,POR,Portland,203552,Seth Curry,Seth,,,16.000000:20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,7.0
8,0041800237,1610612757,POR,Portland,202323,Evan Turner,Evan,,,19.000000:12,...,2.0,5.0,7.0,2.0,0.0,1.0,0.0,4.0,14.0,1.0
9,0041800237,1610612757,POR,Portland,203086,Meyers Leonard,Meyers,,,6.000000:44,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,9.0
10,0041800237,1610612757,POR,Portland,1627746,Skal Labissiere,Skal,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0041800237,1610612757,POR,Portland,1627774,Jake Layman,Jake,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0041800237,1610612757,POR,Portland,1629014,Anfernee Simons,Anfernee,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0041800237,1610612743,DEN,Denver,1628470,Torrey Craig,Torrey,F,,33.000000:01,...,4.0,4.0,8.0,2.0,0.0,0.0,1.0,2.0,8.0,6.0
14,0041800237,1610612743,DEN,Denver,200794,Paul Millsap,Paul,F,,31.000000:55,...,1.0,6.0,7.0,1.0,0.0,3.0,0.0,6.0,10.0,3.0
15,0041800237,1610612743,DEN,Denver,203999,Nikola Jokic,Nikola,C,,41.000000:53,...,4.0,9.0,13.0,2.0,0.0,4.0,2.0,3.0,29.0,-1.0
16,0041800237,1610612743,DEN,Denver,203914,Gary Harris,Gary,G,,39.000000:10,...,0.0,6.0,6.0,3.0,0.0,0.0,1.0,3.0,15.0,-7.0
17,0041800237,1610612743,DEN,Denver,1627750,Jamal Murray,Jamal,G,,37.000000:53,...,2.0,4.0,6.0,5.0,0.0,0.0,1.0,1.0,17.0,-2.0
18,0041800237,1610612743,DEN,Denver,203486,Mason Plumlee,Mason,,,18.000000:48,...,1.0,5.0,6.0,0.0,0.0,2.0,0.0,3.0,4.0,-7.0
19,0041800237,1610612743,DEN,Denver,203115,Will Barton,Will,,,19.000000:58,...,1.0,2.0,3.0,1.0,0.0,0.0,0.0,3.0,8.0,-9.0
20,0041800237,1610612743,DEN,Denver,1627736,Malik Beasley,Malik,,,7.000000:15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0
21,0041800237,1610612743,DEN,Denver,1628420,Monte Morris,Monte,,,10.000000:07,...,0.0,2.0,2.0,1.0,1.0,0.0,0.0,1.0,5.0,-2.0
22,0041800237,1610612743,DEN,Denver,1627823,Juancho Hernangomez,Juancho,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0041800237,1610612743,DEN,Denver,1626168,Trey Lyles,Trey,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0041800237,1610612743,DEN,Denver,202738,Isaiah Thomas,Isaiah,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,0041800237,1610612743,DEN,Denver,1629020,Jarred Vanderbilt,Jarred,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
request.get()

In [3]:
pbp_url = 'https://stats.nba.com/stats/playbyplayv2?EndPeriod=10&EndRange=55800&GameID=0041800237&RangeType=2&Season=2018-19&SeasonType=Playoffs&StartPeriod=1&StartRange=0'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64)', 'x-nba-stats-origin': 'stats', 'x-nba-stats-token': 'true', 'Host':'stats.nba.com', 'Referer':'https://stats.nba.com/game/0021900306/'}
r= requests.get(pbp_url, headers=headers, timeout = 5)
data = json.loads(r.text)
pbp = pd.DataFrame.from_dict(data['resultSets'][0]['rowSet'])
col_names = data['resultSets'][0]['headers']
pbp.columns = col_names
pbp.columns = pbp.columns.str.lower()
pbp_times = pbp['pctimestring'].str.split(':',2, expand=True)
pbp_times[0] = pbp_times[0].astype(str).astype(int)
pbp_times[1] = pbp_times[1].astype(str).astype(int)
pbp['timeinseconds'] = (pbp_times[0]*60) + pbp_times[1]
pbp['play_elapsed_time'] = pbp['timeinseconds'].shift(1)  - pbp['timeinseconds'] 
pbp['play_elapsed_time'] = pbp['play_elapsed_time'].fillna(0)
pbp['play_elapsed_time'] = np.where(pbp['period'] != pbp['period'].shift(1), 0, pbp['play_elapsed_time'])
pbp['total_elapsed_time'] = pbp.groupby(['game_id'])['play_elapsed_time'].cumsum()
pbp['max_time'] = pbp.groupby('game_id')['play_elapsed_time'].transform('sum')
pbp['time_remaining'] = pbp['max_time'] - pbp['total_elapsed_time']
pbp['scoremargin'] = np.where(pbp['scoremargin']=='TIE',0,pbp['scoremargin'])
pbp['scoremargin'] = pbp['scoremargin'].fillna(0).astype(int)
pbp.head()

C:\Users\Shared.Westover\AppData\Local\Temp\ipykernel_32688\1990449281.py:9: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  pbp_times = pbp['pctimestring'].str.split(':',2, expand=True)

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag,timeinseconds,play_elapsed_time,total_elapsed_time,max_time,time_remaining
0,0041800237,2,12,0,1,3:41 PM,12:00,None,Start of 1st Period (3:41 PM EST),None,...,NaN,None,None,None,0,720,0.0,0.0,2880.0,2880.0
1,0041800237,4,10,0,1,3:41 PM,12:00,Jump Ball Millsap vs. Kanter: Tip to Harkless,None,None,...,1.610613e+09,Portland,Trail Blazers,POR,1,720,0.0,0.0,2880.0,2880.0
2,0041800237,7,6,26,1,3:41 PM,11:45,None,None,Aminu Offensive Charge Foul (P1.T1) (J.Goble),...,NaN,None,None,None,1,705,15.0,15.0,2880.0,2865.0
3,0041800237,9,5,37,1,3:41 PM,11:45,None,None,Aminu Offensive Foul Turnover (P1.T1),...,NaN,None,None,None,1,705,0.0,15.0,2880.0,2865.0
4,0041800237,10,1,6,1,3:42 PM,11:28,Harris 2' Driving Layup (2 PTS),None,None,...,NaN,None,None,None,1,688,17.0,32.0,2880.0,2848.0

In [80]:
pbp = pbp[['game_id', 'eventnum', 'eventmsgtype', 'eventmsgactiontype', 'period',
     'pctimestring', 'homedescription', 'neutraldescription',
       'visitordescription', 'score', 'scoremargin', 'person1type',
       'player1_id', 'player1_name', 'player1_team_id', 'player1_team_abbreviation', 'person2type',
       'player2_id', 'player2_name', 'player2_team_nickname', 'player2_team_abbreviation', 'person3type',
       'player3_id', 'player3_name',
       'player3_team_nickname', 'player3_team_abbreviation',
       'timeinseconds', 'play_elapsed_time',
       'total_elapsed_time', 'max_time', 'time_remaining']]
pbp.columns

Index(['game_id', 'eventnum', 'eventmsgtype', 'eventmsgactiontype', 'period',
       'pctimestring', 'homedescription', 'neutraldescription',
       'visitordescription', 'score', 'scoremargin', 'person1type',
       'player1_id', 'player1_name', 'player1_team_id',
       'player1_team_abbreviation', 'person2type', 'player2_id',
       'player2_name', 'player2_team_nickname', 'player2_team_abbreviation',
       'person3type', 'player3_id', 'player3_name', 'player3_team_nickname',
       'player3_team_abbreviation', 'timeinseconds', 'play_elapsed_time',
       'total_elapsed_time', 'max_time', 'time_remaining'],
      dtype='object')

In [81]:
pbp.iloc[10]

game_id                                            0041800237
eventnum                                                   18
eventmsgtype                                                2
eventmsgactiontype                                         79
period                                                      1
pctimestring                                            10:13
homedescription              MISS Murray 17' Pullup Jump Shot
neutraldescription                                       None
visitordescription                                       None
score                                                    None
scoremargin                                                 0
person1type                                                 4
player1_id                                            1627750
player1_name                                     Jamal Murray
player1_team_id                                  1610612743.0
player1_team_abbreviation                                 DEN
person2type                                                 0
player2_id                                                  0
player2_name                                             None
player2_team_nickname                                    None
player2_team_abbreviation                                None
person3type                                                 0
player3_id                                                  0
player3_name                                             None
player3_team_nickname                                    None
player3_team_abbreviation                                None
timeinseconds                                             613
play_elapsed_time                                        20.0
total_elapsed_time                                      107.0
max_time                                               2880.0
time_remaining                                         2773.0
Name: 10, dtype: object

In [82]:
pbp2 = pbp.copy()

In [83]:
pbp2[['homedescription', 'neutraldescription',
       'visitordescription', 'score', 'scoremargin', 'person1type',
       'player1_id', 'player1_name', 'player1_team_id', 'player1_team_abbreviation', 'person2type',
       'player2_id', 'player2_name']].loc[pbp2.person1type==5]

,homedescription,neutraldescription,visitordescription,score,scoremargin,person1type,player1_id,player1_name,player1_team_id,player1_team_abbreviation,person2type,player2_id,player2_name
2,None,None,Aminu Offensive Charge Foul (P1.T1) (J.Goble),None,0,5,202329,Al-Farouq Aminu,1.610613e+09,POR,4,200794,Paul Millsap
3,None,None,Aminu Offensive Foul Turnover (P1.T1),None,0,5,202329,Al-Farouq Aminu,1.610613e+09,POR,0,0,None
5,None,None,Kanter S.FOUL (P1.T2) (J.Goble),None,0,5,202683,Enes Freedom,1.610613e+09,POR,4,203914,Gary Harris
7,None,None,McCollum 2' Driving Layup (2 PTS),2 - 3,1,5,203468,CJ McCollum,1.610613e+09,POR,0,0,None
9,None,None,Kanter 13' Jump Shot (2 PTS) (Lillard 1 AST),4 - 5,1,5,202683,Enes Freedom,1.610613e+09,POR,5,203081,Damian Lillard
...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,None,None,Turner Free Throw 1 of 2 (13 PTS),99 - 96,-3,5,202323,Evan Turner,1.610613e+09,POR,0,0,None
494,None,None,SUB: Kanter FOR Leonard,None,0,5,203086,Meyers Leonard,1.610613e+09,POR,5,202683,Enes Freedom
495,None,None,SUB: Harkless FOR Curry,None,0,5,203552,Seth Curry,1.610613e+09,POR,5,203090,Maurice Harkless
496,None,None,Turner Free Throw 2 of 2 (14 PTS),100 - 96,-4,5,202323,Evan Turner,1.610613e+09,POR,0,0,None
500,None,None,Turner REBOUND (Off:2 Def:5),None,0,5,202323,Evan Turner,1.610613e+09,POR,0,0,None

In [84]:
def getQuarterStarters(quarter):
    if quarter == 1:
        start_range = 0
        end_range = 50
    elif quarter == 2:
        start_range = 7201
        end_range = 7493
    elif quarter == 3:
        start_range = 14410
        end_range = 14640
    elif quarter == 4:
        start_range = 21621
        end_range = 21913
        
    starters_url = 'https://stats.nba.com/stats/boxscoretraditionalv2?EndPeriod=14&GameID=0041800237&RangeType=2&Season=2018-19&SeasonType=Playoffs&StartPeriod=1&StartRange=' + str(start_range) + '&EndRange=' + str(end_range)
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64)', 'x-nba-stats-origin': 'stats', 'x-nba-stats-token': 'true', 'Host':'stats.nba.com', 'Referer':'https://stats.nba.com/game/0021900306/'}
    r= requests.get(starters_url, headers=headers, timeout = 5)
    data = json.loads(r.text)
    starters = pd.DataFrame.from_dict(data['resultSets'][0]['rowSet'])
    col_names = data['resultSets'][0]['headers']
    starters.columns = col_names
    starters.columns = starters.columns.str.lower()
    return starters[['game_id', 'team_id', 'team_abbreviation', 'player_id',
       'player_name']]

In [85]:
pbp2['h_lineup'] = ''
pbp2['a_lineup'] = ''

In [86]:
box.loc[box.start_position != '']

,game_id,team_id,team_abbreviation,team_city,player_id,player_name,nickname,start_position,comment,min,...,oreb,dreb,reb,ast,stl,blk,to,pf,pts,plus_minus
0,0041800237,1610612757,POR,Portland,203090,Maurice Harkless,Maurice,F,,16.000000:47,...,3.0,2.0,5.0,3.0,1.0,1.0,0.0,5.0,6.0,-8.0
1,0041800237,1610612757,POR,Portland,202329,Al-Farouq Aminu,Al-Farouq,F,,7.000000:08,...,0.0,3.0,3.0,0.0,0.0,0.0,1.0,1.0,3.0,-7.0
2,0041800237,1610612757,POR,Portland,202683,Enes Freedom,Enes,C,,39.000000:39,...,4.0,8.0,12.0,1.0,0.0,0.0,1.0,3.0,12.0,1.0
3,0041800237,1610612757,POR,Portland,203468,CJ McCollum,CJ,G,,45.000000:17,...,1.0,8.0,9.0,1.0,1.0,1.0,0.0,1.0,37.0,6.0
4,0041800237,1610612757,POR,Portland,203081,Damian Lillard,Damian,G,,45.000000:25,...,0.0,10.0,10.0,8.0,3.0,0.0,1.0,3.0,13.0,8.0
13,0041800237,1610612743,DEN,Denver,1628470,Torrey Craig,Torrey,F,,33.000000:01,...,4.0,4.0,8.0,2.0,0.0,0.0,1.0,2.0,8.0,6.0
14,0041800237,1610612743,DEN,Denver,200794,Paul Millsap,Paul,F,,31.000000:55,...,1.0,6.0,7.0,1.0,0.0,3.0,0.0,6.0,10.0,3.0
15,0041800237,1610612743,DEN,Denver,203999,Nikola Jokic,Nikola,C,,41.000000:53,...,4.0,9.0,13.0,2.0,0.0,4.0,2.0,3.0,29.0,-1.0
16,0041800237,1610612743,DEN,Denver,203914,Gary Harris,Gary,G,,39.000000:10,...,0.0,6.0,6.0,3.0,0.0,0.0,1.0,3.0,15.0,-7.0
17,0041800237,1610612743,DEN,Denver,1627750,Jamal Murray,Jamal,G,,37.000000:53,...,2.0,4.0,6.0,5.0,0.0,0.0,1.0,1.0,17.0,-2.0

In [87]:

for idx, row in pbp2.iterrows():
    if row.pctimestring == '12:00' and row.period != 1:
        print(row.period,idx)
        qstart = getQuarterStarters(row.period)
        habr = qstart.team_abbreviation[0]
        qstarth = qstart.loc[qstart.team_abbreviation == habr]
        qstarta = qstart.loc[qstart.team_abbreviation != habr]
        pbp2.at[idx,'h_lineup'] = qstarth.player_id.to_list()
        pbp2.at[idx,'a_lineup'] = qstarta.player_id.to_list()

2 116
3 244
4 363

In [88]:
pbp2.loc[pbp2.h_lineup != '']

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,pctimestring,homedescription,neutraldescription,visitordescription,score,...,player3_name,player3_team_nickname,player3_team_abbreviation,timeinseconds,play_elapsed_time,total_elapsed_time,max_time,time_remaining,h_lineup,a_lineup
116,0041800237,168,12,0,2,12:00,None,Start of 2nd Period (4:11 PM EST),None,17 - 29,...,None,None,None,720,0.0,720.0,2880.0,2160.0,"[203468, 1628380, 203918, 203552, 202323]","[200794, 203486, 203115, 1627736, 1628420]"
244,0041800237,343,12,0,3,12:00,None,Start of 3rd Period (4:58 PM EST),None,39 - 48,...,None,None,None,720,0.0,1440.0,2880.0,1440.0,"[202683, 203468, 203081, 1628380, 203918]","[1628470, 200794, 203999, 203914, 1627750]"
363,0041800237,509,12,0,4,12:00,None,Start of 4th Period (5:31 PM EST),None,71 - 72,...,None,None,None,720,0.0,2160.0,2880.0,720.0,"[203468, 203081, 1628380, 203552, 202323]","[200794, 203486, 203115, 1627736, 1628420]"

In [89]:
pbp2['h_lineup'] = ''
pbp2['a_lineup'] = ''
starters = box.loc[box.start_position != ''].reset_index()['player_id'].to_list()
pbp2.at[0,'h_lineup'] = starters[0:5]
pbp2.at[0,'a_lineup'] = starters[5:]
pbp2.at[1,'h_lineup'] = starters[0:5]
pbp2.at[1,'a_lineup'] = starters[5:]
pbp2.loc[0]

game_id                                                      0041800237
eventnum                                                              2
eventmsgtype                                                         12
eventmsgactiontype                                                    0
period                                                                1
pctimestring                                                      12:00
homedescription                                                    None
neutraldescription                    Start of 1st Period (3:41 PM EST)
visitordescription                                                 None
score                                                              None
scoremargin                                                           0
person1type                                                           0
player1_id                                                            0
player1_name                                                       None
player1_team_id                                                     NaN
player1_team_abbreviation                                          None
person2type                                                           0
player2_id                                                            0
player2_name                                                       None
player2_team_nickname                                              None
player2_team_abbreviation                                          None
person3type                                                           0
player3_id                                                            0
player3_name                                                       None
player3_team_nickname                                              None
player3_team_abbreviation                                          None
timeinseconds                                                       720
play_elapsed_time                                                   0.0
total_elapsed_time                                                  0.0
max_time                                                         2880.0
time_remaining                                                   2880.0
h_lineup                       [203090, 202329, 202683, 203468, 203081]
a_lineup                     [1628470, 200794, 203999, 203914, 1627750]
Name: 0, dtype: object

In [90]:
box.team_abbreviation.unique()[0]

'POR'

In [91]:
class Game():
    def __init__(self,pbp,box):
        self.pbp = pbp
        self.box = box
        self.hteam = self.box.team_abbreviation.unique()[1]
        self.ateam = self.box.team_abbreviation.unique()[0]
        self.pbp['h_lineup'] = ''
        self.pbp['a_lineup'] = ''
        
        
    def parse_game(self):
        #getting starters from boxscore df
        print('home',self.hteam)
        self.h_starters = self.box.loc[(self.box.start_position != '') & 
                                       (self.box.team_abbreviation == self.hteam)].reset_index()['player_id'].to_list()
        self.h_starters = sorted(self.h_starters)
        self.a_starters = self.box.loc[(self.box.start_position != '') & 
                                       (self.box.team_abbreviation == self.ateam)].reset_index()['player_id'].to_list()
        self.a_starters = sorted(self.a_starters)
        #assigning starters to lineup for start of game
        self.pbp.at[0,'h_lineup'] = self.h_starters
        self.pbp.at[0,'a_lineup'] = self.a_starters
        self.pbp.at[1,'h_lineup'] = self.h_starters
        self.pbp.at[1,'a_lineup'] = self.a_starters
        #assigning quarter starters from quarter box scores
        for idx, row in pbp2.iterrows():
            if row.pctimestring == '12:00' and row.period != 1:
                qstart = getQuarterStarters(row.period)
                qstarth = qstart.loc[qstart.team_abbreviation == self.hteam]
                qstarta = qstart.loc[qstart.team_abbreviation != self.hteam]
                self.pbp.at[idx,'h_lineup'] = sorted(qstarth.player_id.to_list())
                self.pbp.at[idx,'a_lineup'] = sorted(qstarta.player_id.to_list())
        
        prev_h_lineup = self.h_starters.copy()  # Initialize with the starting lineup
        prev_a_lineup = self.a_starters.copy()  # Initialize with the starting lineup

        for idx, row in self.pbp.iterrows():
            if row.pctimestring == '12:00':
                h_lineup = sorted(row['h_lineup'])  # Use the existing lineup for the beginning of the quarter
                a_lineup = sorted(row['a_lineup'])  # Use the existing lineup for the beginning of the quarter
            else:
                h_lineup = prev_h_lineup.copy()  # Create a copy of the previous h_lineup
                a_lineup = prev_a_lineup.copy()  # Create a copy of the previous a_lineup

                if isinstance(row['homedescription'], str) and row['homedescription'].startswith('SUB'):
                    h_lineup.remove(row['player1_id'])
                    h_lineup.append(row['player2_id'])

                if isinstance(row['visitordescription'], str) and row['visitordescription'].startswith('SUB'):
                    a_lineup.remove(row['player1_id'])
                    a_lineup.append(row['player2_id'])

            self.pbp.at[idx, 'h_lineup'] = sorted(h_lineup)
            self.pbp.at[idx, 'a_lineup'] = sorted(a_lineup)
            prev_h_lineup = h_lineup  # Update the previous h_lineup for the next iteration
            prev_a_lineup = a_lineup  # Update the previous a_lineup for the next iteration
        self.pbp['a_lineup'] = self.pbp['a_lineup'].apply(lambda x: tuple(x))
        self.pbp['h_lineup'] = self.pbp['h_lineup'].apply(lambda x: tuple(x))
        return 



        
    
    
x = Game(pbp,box)
x.parse_game()
#x.get_stats()

home DEN

In [92]:
x.pbp.a_lineup.unique()

array([(202329, 202683, 203081, 203090, 203468),
       (202683, 203081, 203090, 203468, 1628380),
       (202683, 203081, 203468, 203918, 1628380),
       (202683, 203081, 203552, 203918, 1628380),
       (202323, 203468, 203552, 203918, 1628380),
       (202323, 203081, 203468, 203552, 1628380),
       (202683, 203081, 203468, 203552, 1628380),
       (202323, 202683, 203081, 203468, 203918),
       (202683, 203081, 203086, 203468, 203918),
       (202323, 202683, 203081, 203468, 1628380),
       (202323, 202683, 203081, 203090, 203468),
       (202683, 203081, 203086, 203090, 203468),
       (202323, 202683, 203081, 203468, 203552),
       (202323, 203081, 203090, 203468, 203552),
       (202683, 203081, 203090, 203468, 203552),
       (202323, 203081, 203086, 203468, 203552)], dtype=object)

In [93]:
test = x.pbp.copy()

In [94]:
test['a_lineup'] = test['a_lineup'].apply(lambda x: tuple(x))
test['h_lineup'] = test['h_lineup'].apply(lambda x: tuple(x))
test

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,pctimestring,homedescription,neutraldescription,visitordescription,score,...,player3_name,player3_team_nickname,player3_team_abbreviation,timeinseconds,play_elapsed_time,total_elapsed_time,max_time,time_remaining,h_lineup,a_lineup
0,0041800237,2,12,0,1,12:00,None,Start of 1st Period (3:41 PM EST),None,None,...,None,None,None,720,0.0,0.0,2880.0,2880.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
1,0041800237,4,10,0,1,12:00,Jump Ball Millsap vs. Kanter: Tip to Harkless,None,None,None,...,Maurice Harkless,Trail Blazers,POR,720,0.0,0.0,2880.0,2880.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
2,0041800237,7,6,26,1,11:45,None,None,Aminu Offensive Charge Foul (P1.T1) (J.Goble),None,...,None,None,None,705,15.0,15.0,2880.0,2865.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
3,0041800237,9,5,37,1,11:45,None,None,Aminu Offensive Foul Turnover (P1.T1),None,...,None,None,None,705,0.0,15.0,2880.0,2865.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
4,0041800237,10,1,6,1,11:28,Harris 2' Driving Layup (2 PTS),None,None,0 - 2,...,None,None,None,688,17.0,32.0,2880.0,2848.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,0041800237,698,9,1,4,0:08,NUGGETS Timeout: Regular (Full 7 Short 0),None,None,None,...,None,None,None,8,0.0,2872.0,2880.0,8.0,"(203486, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)"
498,0041800237,699,8,0,4,0:08,SUB: Barton FOR Plumlee,None,None,None,...,None,None,None,8,0.0,2872.0,2880.0,8.0,"(203115, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)"
499,0041800237,701,2,47,4,0:05,MISS Jokic 28' 3PT Turnaround Jump Shot,None,None,None,...,None,None,None,5,3.0,2875.0,2880.0,5.0,"(203115, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)"
500,0041800237,702,4,0,4,0:01,None,None,Turner REBOUND (Off:2 Def:5),None,...,None,None,None,1,4.0,2879.0,2880.0,1.0,"(203115, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)"
501,0041800237,703,13,0,4,0:00,None,End of 4th Period (6:14 PM EST),None,100 - 96,...,None,None,None,0,1.0,2880.0,2880.0,0.0,"(203115, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)"

In [95]:
df = x.pbp.copy(deep=True)

In [96]:
df.loc[11]

game_id                                                      0041800237
eventnum                                                             19
eventmsgtype                                                          4
eventmsgactiontype                                                    0
period                                                                1
pctimestring                                                      10:11
homedescription                                                    None
neutraldescription                                                 None
visitordescription                        Lillard REBOUND (Off:0 Def:1)
score                                                              None
scoremargin                                                           0
person1type                                                           5
player1_id                                                       203081
player1_name                                             Damian Lillard
player1_team_id                                            1610612757.0
player1_team_abbreviation                                           POR
person2type                                                           0
player2_id                                                            0
player2_name                                                       None
player2_team_nickname                                              None
player2_team_abbreviation                                          None
person3type                                                           0
player3_id                                                            0
player3_name                                                       None
player3_team_nickname                                              None
player3_team_abbreviation                                          None
timeinseconds                                                       611
play_elapsed_time                                                   2.0
total_elapsed_time                                                109.0
max_time                                                         2880.0
time_remaining                                                   2771.0
h_lineup                     (200794, 203914, 203999, 1627750, 1628470)
a_lineup                       (202329, 202683, 203081, 203090, 203468)
Name: 11, dtype: object

In [97]:
df.loc[df.eventmsgtype==1]

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,pctimestring,homedescription,neutraldescription,visitordescription,score,...,player3_name,player3_team_nickname,player3_team_abbreviation,timeinseconds,play_elapsed_time,total_elapsed_time,max_time,time_remaining,h_lineup,a_lineup
4,0041800237,10,1,6,1,11:28,Harris 2' Driving Layup (2 PTS),None,None,0 - 2,...,None,None,None,688,17.0,32.0,2880.0,2848.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
7,0041800237,14,1,6,1,11:12,None,None,McCollum 2' Driving Layup (2 PTS),2 - 3,...,None,None,None,672,16.0,48.0,2880.0,2832.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
8,0041800237,15,1,58,1,10:52,Jokic 2' Turnaround Hook Shot (2 PTS),None,None,2 - 5,...,None,None,None,652,20.0,68.0,2880.0,2812.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
9,0041800237,16,1,1,1,10:33,None,None,Kanter 13' Jump Shot (2 PTS) (Lillard 1 AST),4 - 5,...,None,None,None,633,19.0,87.0,2880.0,2793.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
20,0041800237,30,1,1,1,9:31,Jokic 25' 3PT Jump Shot (5 PTS) (Murray 1 AST),None,None,4 - 9,...,None,None,None,571,7.0,149.0,2880.0,2731.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,0041800237,649,1,76,4,2:11,Harris 1' Running Finger Roll Layup (15 PTS) (...,None,None,94 - 91,...,None,None,None,131,4.0,2749.0,2880.0,131.0,"(200794, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)"
468,0041800237,654,1,78,4,1:43,Jokic 4' Floating Jump Shot (28 PTS) (Murray 5...,None,None,94 - 93,...,None,None,None,103,9.0,2777.0,2880.0,103.0,"(200794, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)"
469,0041800237,656,1,79,4,1:25,None,None,McCollum 15' Pullup Jump Shot (35 PTS),96 - 93,...,None,None,None,85,18.0,2795.0,2880.0,85.0,"(200794, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)"
474,0041800237,662,1,79,4,0:30,Murray 13' Pullup Jump Shot (17 PTS),None,None,96 - 95,...,None,None,None,30,16.0,2850.0,2880.0,30.0,"(200794, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)"
478,0041800237,668,1,79,4,0:12,None,None,McCollum 16' Pullup Jump Shot (37 PTS),98 - 95,...,None,None,None,12,17.0,2868.0,2880.0,12.0,"(200794, 203115, 203914, 1627750, 1628470)","(202323, 202683, 203081, 203468, 203552)"

In [98]:
np.sort(df.eventmsgactiontype.unique())

array([  0,   1,   2,   3,   5,   6,   7,   9,  10,  11,  12,  13,  14,
        15,  26,  28,  37,  41,  44,  45,  47,  50,  58,  63,  66,  71,
        72,  73,  74,  75,  76,  78,  79,  80,  86,  96,  97,  98, 101,
       102, 107, 108], dtype=int64)

In [41]:
#eventmsgtype mapping
eventdict = {1:'FGM',
             2:'FGA',
             3:'FTA',
             4:'TRB',
             5:'TURNOVER',
             6:'FOUL',
             8:'SUB',
             9:'TIMEOUT',
             10:'JUMP_BALL',
             12:'Q_START',
             13:'Q_END',
             18:'REPLAY'             
            }

In [107]:
df.columns

Index(['game_id', 'eventnum', 'eventmsgtype', 'eventmsgactiontype', 'period',
       'pctimestring', 'homedescription', 'neutraldescription',
       'visitordescription', 'score', 'scoremargin', 'person1type',
       'player1_id', 'player1_name', 'player1_team_id',
       'player1_team_abbreviation', 'person2type', 'player2_id',
       'player2_name', 'player2_team_nickname', 'player2_team_abbreviation',
       'person3type', 'player3_id', 'player3_name', 'player3_team_nickname',
       'player3_team_abbreviation', 'timeinseconds', 'play_elapsed_time',
       'total_elapsed_time', 'max_time', 'time_remaining', 'h_lineup',
       'a_lineup'],
      dtype='object')

In [109]:
df.loc[(df.eventmsgtype==1),['homedescription','visitordescription','player1_name','player2_name']]

,homedescription,visitordescription,player1_name,player2_name
4,Harris 2' Driving Layup (2 PTS),None,Gary Harris,None
7,None,McCollum 2' Driving Layup (2 PTS),CJ McCollum,None
8,Jokic 2' Turnaround Hook Shot (2 PTS),None,Nikola Jokic,None
9,None,Kanter 13' Jump Shot (2 PTS) (Lillard 1 AST),Enes Freedom,Damian Lillard
20,Jokic 25' 3PT Jump Shot (5 PTS) (Murray 1 AST),None,Nikola Jokic,Jamal Murray
...,...,...,...,...
465,Harris 1' Running Finger Roll Layup (15 PTS) (...,None,Gary Harris,Nikola Jokic
468,Jokic 4' Floating Jump Shot (28 PTS) (Murray 5...,None,Nikola Jokic,Jamal Murray
469,None,McCollum 15' Pullup Jump Shot (35 PTS),CJ McCollum,None
474,Murray 13' Pullup Jump Shot (17 PTS),None,Jamal Murray,None
478,None,McCollum 16' Pullup Jump Shot (37 PTS),CJ McCollum,None

In [141]:
df['stat1'] = ''
df['stat1_value'] = 0
df['stat1_player_id']=''
df['stat2']= ''
df['stat2_value'] = 0
df['stat2_player_id'] = ''

#assisted baskets
df['stat2'].mask((df.eventmsgtype==1) & ~df.player2_name.isnull(), 'AST',inplace=True)
df['stat2_value'].mask((df.eventmsgtype==1) & ~df.player2_name.isnull(), 1,inplace=True)
df['stat2_player_id'].mask((df.eventmsgtype==1) & ~df.player2_name.isnull(),df.player2_id ,inplace=True)

#pts from baskets, 2pt default, overwrite with 3pt
df['stat1'].mask((df.eventmsgtype==1), 'PTS',inplace=True)
df['stat1_value'].mask((df.eventmsgtype==1), 2,inplace=True)
df['stat1_value'].mask((df.eventmsgtype==1) & (df.visitordescription.str.contains('3PT',na=False)
                      | df.homedescription.str.contains('3PT',na=False)), 3,inplace=True)
df['stat1_player_id'].mask((df.eventmsgtype==1),df.player1_id ,inplace=True)

df.loc[(df.eventmsgtype==1)]

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,pctimestring,homedescription,neutraldescription,visitordescription,score,...,max_time,time_remaining,h_lineup,a_lineup,stat1,stat1_value,stat1_player_id,stat2_value,stat2,stat2_player_id
4,0041800237,10,1,6,1,11:28,Harris 2' Driving Layup (2 PTS),None,None,0 - 2,...,2880.0,2848.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",PTS,2,203914,0,,
7,0041800237,14,1,6,1,11:12,None,None,McCollum 2' Driving Layup (2 PTS),2 - 3,...,2880.0,2832.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",PTS,2,203468,0,,
8,0041800237,15,1,58,1,10:52,Jokic 2' Turnaround Hook Shot (2 PTS),None,None,2 - 5,...,2880.0,2812.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",PTS,2,203999,0,,
9,0041800237,16,1,1,1,10:33,None,None,Kanter 13' Jump Shot (2 PTS) (Lillard 1 AST),4 - 5,...,2880.0,2793.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",PTS,2,202683,1,AST,203081
20,0041800237,30,1,1,1,9:31,Jokic 25' 3PT Jump Shot (5 PTS) (Murray 1 AST),None,None,4 - 9,...,2880.0,2731.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",PTS,3,203999,1,AST,1627750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,0041800237,649,1,76,4,2:11,Harris 1' Running Finger Roll Layup (15 PTS) (...,None,None,94 - 91,...,2880.0,131.0,"(200794, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",PTS,2,203914,1,AST,203999
468,0041800237,654,1,78,4,1:43,Jokic 4' Floating Jump Shot (28 PTS) (Murray 5...,None,None,94 - 93,...,2880.0,103.0,"(200794, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",PTS,2,203999,1,AST,1627750
469,0041800237,656,1,79,4,1:25,None,None,McCollum 15' Pullup Jump Shot (35 PTS),96 - 93,...,2880.0,85.0,"(200794, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",PTS,2,203468,0,,
474,0041800237,662,1,79,4,0:30,Murray 13' Pullup Jump Shot (17 PTS),None,None,96 - 95,...,2880.0,30.0,"(200794, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",PTS,2,1627750,0,,
478,0041800237,668,1,79,4,0:12,None,None,McCollum 16' Pullup Jump Shot (37 PTS),98 - 95,...,2880.0,12.0,"(200794, 203115, 203914, 1627750, 1628470)","(202323, 202683, 203081, 203468, 203552)",PTS,2,203468,0,,

In [145]:
df.loc[(df.eventmsgtype==1) & df.homedescription.str.contains('3PT',na=False)]

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,pctimestring,homedescription,neutraldescription,visitordescription,score,...,max_time,time_remaining,h_lineup,a_lineup,stat1,stat1_value,stat1_player_id,stat2_value,stat2,stat2_player_id
20,0041800237,30,1,1,1,9:31,Jokic 25' 3PT Jump Shot (5 PTS) (Murray 1 AST),None,None,4 - 9,...,2880.0,2731.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",PTS,3,203999,1,AST,1627750
27,0041800237,41,1,1,1,8:30,Jokic 25' 3PT Jump Shot (8 PTS) (Murray 2 AST),None,None,7 - 12,...,2880.0,2670.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",PTS,3,203999,1,AST,1627750

In [124]:
df.loc[df.stat2_player_id == 1627750]

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,pctimestring,homedescription,neutraldescription,visitordescription,score,...,max_time,time_remaining,h_lineup,a_lineup,stat1,stat1_value,stat1_player_id,stat2_value,stat2,stat2_player_id
20,0041800237,30,1,1,1,9:31,Jokic 25' 3PT Jump Shot (5 PTS) (Murray 1 AST),None,None,4 - 9,...,2880.0,2731.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",,0,,1,AST,1627750
27,0041800237,41,1,1,1,8:30,Jokic 25' 3PT Jump Shot (8 PTS) (Murray 2 AST),None,None,7 - 12,...,2880.0,2670.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",,0,,1,AST,1627750
209,0041800237,296,1,101,2,3:36,Jokic 8' Driving Floating Jump Shot (13 PTS) (...,None,None,35 - 45,...,2880.0,1656.0,"(203486, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203468, 203918)",,0,,1,AST,1627750
402,0041800237,566,1,5,4,7:45,Jokic 2' Layup (26 PTS) (Murray 4 AST),None,None,83 - 81,...,2880.0,465.0,"(200794, 203115, 203914, 203999, 1627750)","(202323, 203081, 203468, 203552, 1628380)",,0,,1,AST,1627750
468,0041800237,654,1,78,4,1:43,Jokic 4' Floating Jump Shot (28 PTS) (Murray 5...,None,None,94 - 93,...,2880.0,103.0,"(200794, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",,0,,1,AST,1627750

In [44]:
df['stat1'] = ''
df['stat1_value'] = 0
df['stat2_value'] = 0
df['stat2']= ''
df.loc[df.eventmsgtype==1,'stat1'] = 'PTS'
df.loc[df.eventmsgtype==1 & (~df.homedescription.isnull()),['stat1_value']] = 2
df.loc[df.eventmsgtype==1 & (~df.visitordescription.isnull()),['stat1_value']] = 2
df.loc[df.eventmsgtype==1 & (df.homedescription.str.contains('3PT',na=False)),['stat1_value']] = 3
df.loc[df.eventmsgtype==1 & (df.visitordescription.str.contains('3PT',na=False)),['stat1_value']] = 3

df

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,play_elapsed_time,total_elapsed_time,max_time,time_remaining,h_lineup,a_lineup,stat1,stat1_value,stat2_value,stat2
0,0041800237,2,12,0,1,3:41 PM,12:00,None,Start of 1st Period (3:41 PM EST),None,...,0.0,0.0,2880.0,2880.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",,0,0,
1,0041800237,4,10,0,1,3:41 PM,12:00,Jump Ball Millsap vs. Kanter: Tip to Harkless,None,None,...,0.0,0.0,2880.0,2880.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",,0,0,
2,0041800237,7,6,26,1,3:41 PM,11:45,None,None,Aminu Offensive Charge Foul (P1.T1) (J.Goble),...,15.0,15.0,2880.0,2865.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",,0,0,
3,0041800237,9,5,37,1,3:41 PM,11:45,None,None,Aminu Offensive Foul Turnover (P1.T1),...,0.0,15.0,2880.0,2865.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",,0,0,
4,0041800237,10,1,6,1,3:42 PM,11:28,Harris 2' Driving Layup (2 PTS),None,None,...,17.0,32.0,2880.0,2848.0,"(200794, 203914, 203999, 1627750, 1628470)","(202329, 202683, 203081, 203090, 203468)",PTS,2,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,0041800237,698,9,1,4,6:11 PM,0:08,NUGGETS Timeout: Regular (Full 7 Short 0),None,None,...,0.0,2872.0,2880.0,8.0,"(203486, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",,0,0,
498,0041800237,699,8,0,4,6:12 PM,0:08,SUB: Barton FOR Plumlee,None,None,...,0.0,2872.0,2880.0,8.0,"(203115, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",,0,0,
499,0041800237,701,2,47,4,6:13 PM,0:05,MISS Jokic 28' 3PT Turnaround Jump Shot,None,None,...,3.0,2875.0,2880.0,5.0,"(203115, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",,0,0,
500,0041800237,702,4,0,4,6:13 PM,0:01,None,None,Turner REBOUND (Off:2 Def:5),...,4.0,2879.0,2880.0,1.0,"(203115, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",,0,0,
501,0041800237,703,13,0,4,6:14 PM,0:00,None,End of 4th Period (6:14 PM EST),None,...,1.0,2880.0,2880.0,0.0,"(203115, 203914, 203999, 1627750, 1628470)","(202323, 202683, 203081, 203090, 203468)",,0,0,

In [ ]:
df.loc[df.stat1 =='PTS']

In [ ]:
df.loc[0]

In [ ]:
df.to_csv('stat_test.csv')